flows/AAA_Smart_Home_Self_Scheduling_Tool.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Attempt_Booking</name>
        <label>Attempt Booking</label>
        <locationX>577</locationX>
        <locationY>1035</locationY>
        <actionName>ESWFieldServiceBookAppointment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Updated_SA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>operatingHoursId</name>
            <value>
                <elementReference>getST.OperatingHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>NewSA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotBegin</name>
            <value>
                <elementReference>TimeslotBegin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotFinish</name>
            <value>
                <elementReference>TimeslotFinish</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>BookingError</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WasBookingSuccessful</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>addCountToVariable</name>
        <label>addCountToVariable</label>
        <locationX>119</locationX>
        <locationY>274</locationY>
        <assignmentItems>
            <assignToReference>SACount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SAidForCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkSACount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Covid</name>
        <label>assign Covid</label>
        <locationX>1441</locationX>
        <locationY>282</locationY>
        <assignmentItems>
            <assignToReference>NewSA.Tested_Positive_for_Covid_Last_14_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tested_Positive_for_Covid_Last_14_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSA.Flu_Like_Symptoms_Last_14_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flu_Like_Symptoms_Last_14_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSA.Close_Contact_Last_14_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Close_Contact_to_Someone_exposed_to_Covid_in_the_Last_14_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>covid_yes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCancelReason</name>
        <label>AssignCancelReason</label>
        <locationX>1982</locationX>
        <locationY>1180</locationY>
        <assignmentItems>
            <assignToReference>NewSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold Per Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSACancel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign earliest startdate and end date. Clear arrival window dates.</description>
        <name>AssignDates</name>
        <label>AssignDates</label>
        <locationX>1537</locationX>
        <locationY>1004</locationY>
        <assignmentItems>
            <assignToReference>NewSA.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSA.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>assign earliest startdate and end date. Clear arrival window dates.</description>
        <name>AssignDates_0</name>
        <label>AssignDates</label>
        <locationX>1672</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>NewSA.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlus90Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSA.ArrivalWindowStartTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSA.ArrivalWindowEndTime</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Call_me</name>
        <label>Call me</label>
        <locationX>1601</locationX>
        <locationY>1573</locationY>
        <assignmentItems>
            <assignToReference>NewSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold Per Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateSErviceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getSAIds</name>
        <label>getSAIds</label>
        <locationX>532</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>SAidForCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSA.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>On_hold_new_SA</name>
        <label>On hold new SA</label>
        <locationX>1830</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>NewSA.Cancellation_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancellation_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Please_call_me_to_discuss_my_installation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Policy_Id</name>
        <label>Policy Id</label>
        <locationX>1101</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>PolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelfSchedulePolicyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OperatinghoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getST.OperatingHoursId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Policy_Id_0</name>
        <label>Policy Id</label>
        <locationX>1095</locationX>
        <locationY>993</locationY>
        <assignmentItems>
            <assignToReference>PolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelfSchedulePolicyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OperatinghoursId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getST.OperatingHoursId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Earliest_Start_Permitted</name>
        <label>Update Earliest Start Permitted</label>
        <locationX>1198</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>NewSA.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Today10Dateandtime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddressCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Earliest_Start_Permitted_0</name>
        <label>Update Earliest Start Permitted</label>
        <locationX>1564</locationX>
        <locationY>454</locationY>
        <assignmentItems>
            <assignToReference>NewSA.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TodayPlusOneDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddressCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WOId</name>
        <label>WOId</label>
        <locationX>809</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckIfWOExists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AddressCheck</name>
        <label>AddressCheck</label>
        <locationX>1623</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>checkSAStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AddressIncorrect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_this_box_if_it_is_incorrect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaseStatus_0</targetReference>
            </connector>
            <label>AddressIncorrect</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkAccountZipCodeWithWO</name>
        <label>checkAccountZipCodeWithWO</label>
        <locationX>846</locationX>
        <locationY>574</locationY>
        <defaultConnector>
            <targetReference>updateCaseStatus</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountZipcodeMatchWOZip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountSA</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountSA.ShippingPostalCode</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkOrder.PostalCode</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Address_Information</targetReference>
            </connector>
            <label>AccountZipcodeMatchWOZip</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkCancelledOrRescheduled</name>
        <label>checkCancelledOrRescheduled</label>
        <locationX>1784</locationX>
        <locationY>867</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isCancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CancellationReason</targetReference>
            </connector>
            <label>isCancelled</label>
        </rules>
        <rules>
            <name>IsRescheduled</name>
            <conditionLogic>1 AND 2 AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>ButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Close_Contact_to_Someone_exposed_to_Covid_in_the_Last_14_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flu_Like_Symptoms_Last_14_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Tested_Positive_for_Covid_Last_14_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDates</targetReference>
            </connector>
            <label>IsRescheduled</label>
        </rules>
        <rules>
            <name>IsrescheduledCovid</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>ButtonBar.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reschedule</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CloseContactLast14Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FluLikeSymptomsLast14Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sErviceAppointmentCovid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDates_0</targetReference>
            </connector>
            <label>IsrescheduledCovid</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfWOExists</name>
        <label>CheckIfWOExists</label>
        <locationX>927</locationX>
        <locationY>418</locationY>
        <defaultConnector>
            <targetReference>Work_Order_does_not_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllSA</targetReference>
            </connector>
            <label>WOExists</label>
        </rules>
        <rules>
            <name>WO_Planned_duration</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WorkOrder.Planned_Duration__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planned_Duration</targetReference>
            </connector>
            <label>WO Planned duration</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSACount</name>
        <label>checkSACount</label>
        <locationX>50</locationX>
        <locationY>743</locationY>
        <defaultConnector>
            <targetReference>Lookup_SA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAisMoreThan1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SACount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel</targetReference>
            </connector>
            <label>SAisMoreThan1</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkSAStatus</name>
        <label>checkSAStatus</label>
        <locationX>1812</locationX>
        <locationY>735</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSAinProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InProgress</targetReference>
            </connector>
            <label>IsSAinProgress</label>
        </rules>
        <rules>
            <name>isScheduledOrDispatched</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NewSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SAScheduledOrDispatched</targetReference>
            </connector>
            <label>isScheduledOrDispatched</label>
        </rules>
        <rules>
            <name>isNone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ST_parent</targetReference>
            </connector>
            <label>isNone</label>
        </rules>
        <rules>
            <name>Is_SA_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDates</targetReference>
            </connector>
            <label>Is SA Canceled</label>
        </rules>
        <rules>
            <name>On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewSA.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold Per Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDates</targetReference>
            </connector>
            <label>On Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>covid_yes</name>
        <label>covid yes</label>
        <locationX>1388</locationX>
        <locationY>478</locationY>
        <defaultConnector>
            <targetReference>Update_Earliest_Start_Permitted_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>any_covid_yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Tested_Positive_for_Covid_Last_14_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Flu_Like_Symptoms_Last_14_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Close_Contact_to_Someone_exposed_to_Covid_in_the_Last_14_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Earliest_Start_Permitted</targetReference>
            </connector>
            <label>any covid yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>over_8_hours</name>
        <label>over 8 hours</label>
        <locationX>336</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>getST</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Over8hours</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>NewSA.FSL__IsMultiDay__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Planned_Duration</targetReference>
            </connector>
            <label>Over8hours</label>
        </rules>
    </decisions>
    <decisions>
        <name>Please_call_me_to_discuss_my_installation</name>
        <label>Please call me to discuss my installation</label>
        <locationX>1641</locationX>
        <locationY>1225</locationY>
        <defaultConnector>
            <targetReference>AssignCancelReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Please_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cancellation_Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Please contact me</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_me</targetReference>
            </connector>
            <label>Please call me to discuss my installation</label>
        </rules>
    </decisions>
    <decisions>
        <name>scheduled10test</name>
        <label>scheduled10test</label>
        <locationX>583</locationX>
        <locationY>1502</locationY>
        <defaultConnector>
            <targetReference>Validate_Booking</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>greater10days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Updated_SA.SchedStartTime</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>scheduledtime10</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateCaseStatus_0_0_0</targetReference>
            </connector>
            <label>greater10days</label>
        </rules>
    </decisions>
    <decisions>
        <name>ST_parent</name>
        <label>ST parent</label>
        <locationX>1416</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>Policy_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ParentNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getST.ParentTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Policy_Id_0</targetReference>
            </connector>
            <label>Parent null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Booking</name>
        <label>Validate Booking</label>
        <locationX>310</locationX>
        <locationY>1404</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasBookingSuccessful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <description>removed Due Date = 90 days from SA and SLR</description>
    <dynamicChoiceSets>
        <name>CancelReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Cancellation_Reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CloseContactLast14Days</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Close_Contact_Last_14_Days__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FluLikeSymptomsLast14Days</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Flu_Like_Symptoms_Last_14_Days__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sErviceAppointmentCovid</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tested_Positive_for_Covid_Last_14_Days__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>dueDateDefinition</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (15*1440)</expression>
    </formulas>
    <formulas>
        <name>DueDateMinusOne</name>
        <dataType>DateTime</dataType>
        <expression>{!get_Updated_SA.DueDate} - 1</expression>
    </formulas>
    <formulas>
        <name>DurationCeiling</name>
        <dataType>Number</dataType>
        <expression>ceiling({!get_Updated_SA.Duration})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>followupCovid</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE( {!get_Updated_SA.SchedStartTime} )  - 2</expression>
    </formulas>
    <formulas>
        <name>FollowUpDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>scheduledDate</name>
        <dataType>Date</dataType>
        <expression>datevalue( {!get_Updated_SA.SchedStartTime} )</expression>
    </formulas>
    <formulas>
        <name>scheduledtime10</name>
        <dataType>Date</dataType>
        <expression>Today() + 10</expression>
    </formulas>
    <formulas>
        <name>SelfSchedulePolicyId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Scheduling_Policy_Id}</expression>
    </formulas>
    <formulas>
        <name>Today10Dateandtime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + (10)</expression>
    </formulas>
    <formulas>
        <name>TodayPlus7Days</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <description>Due date = today + 90 days</description>
        <name>TodayPlus90Days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+90</expression>
    </formulas>
    <formulas>
        <name>TodayPlusOneDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} +1</expression>
    </formulas>
    <formulas>
        <name>WONumberFormula</name>
        <dataType>String</dataType>
        <expression>if(LEN({!woNum}) = 4, &quot;0000&quot;&amp;{!woNum}, 
if(LEN({!woNum}) = 5, &quot;000&quot;&amp;{!woNum}, if(LEN({!woNum}) = 6, &quot;00&quot;&amp;{!woNum},if(LEN({!woNum}) = 7, &quot;0&quot;&amp;{!woNum}, {!woNum}) ))
)</expression>
    </formulas>
    <interviewLabel>AAA Smart Home Self Scheduling Tool {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AAA Smart Home Self Scheduling Tool</label>
    <loops>
        <name>LoopSA</name>
        <label>LoopSA</label>
        <locationX>557</locationX>
        <locationY>476</locationY>
        <collectionReference>getAllSA</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getSAIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>addCountToVariable</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Updated_SA</name>
        <label>get Updated SA</label>
        <locationX>575</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_AR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewSA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>758</locationX>
        <locationY>886</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkAccountZipCodeWithWO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Planned_Duration</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountIdFromSA</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountSA</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>ShippingState</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getAllSA</name>
        <label>getAllSA</label>
        <locationX>706</locationX>
        <locationY>517</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getParentTerritory</name>
        <label>getParentTerritory</label>
        <locationX>597</locationX>
        <locationY>824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Planned_Duration</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getST.ParentTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getST</name>
        <label>getST</label>
        <locationX>437</locationX>
        <locationY>850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getParentTerritory</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Planned_Duration</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewSA.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWO</name>
        <label>getWO</label>
        <locationX>638</locationX>
        <locationY>243</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOId</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Planned_Duration</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WONumberFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Planned_Duration__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>203</locationX>
        <locationY>466</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>over_8_hours</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Planned_Duration</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assisting</stringValue>
            </value>
        </filters>
        <filters>
            <field>FSL__IsMultiDay__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>AccountIdFromSA</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.ArrivalWindowEndTime</assignToReference>
            <field>ArrivalWindowEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.ArrivalWindowStartTime</assignToReference>
            <field>ArrivalWindowStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.Cancellation_Reason__c</assignToReference>
            <field>Cancellation_Reason__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.City</assignToReference>
            <field>City</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.Country</assignToReference>
            <field>Country</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.DueDate</assignToReference>
            <field>DueDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.Duration</assignToReference>
            <field>Duration</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.EarliestStartTime</assignToReference>
            <field>EarliestStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.FSL__Auto_Schedule__c</assignToReference>
            <field>FSL__Auto_Schedule__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.FSL__GanttColor__c</assignToReference>
            <field>FSL__GanttColor__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.FSL__IsMultiDay__c</assignToReference>
            <field>FSL__IsMultiDay__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.Local_Arrival_Window_End__c</assignToReference>
            <field>Local_Arrival_Window_End__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.Local_Arrival_Window_Start__c</assignToReference>
            <field>Local_Arrival_Window_Start__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OperatinghoursId</assignToReference>
            <field>Operating_Hours_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.PostalCode</assignToReference>
            <field>PostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.SchedEndTime</assignToReference>
            <field>SchedEndTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.SchedStartTime</assignToReference>
            <field>SchedStartTime</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.ServiceTerritoryId</assignToReference>
            <field>ServiceTerritoryId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.State</assignToReference>
            <field>State</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NewSA.Street</assignToReference>
            <field>Street</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update_AR</name>
        <label>update AR</label>
        <locationX>753</locationX>
        <locationY>1365</locationY>
        <connector>
            <targetReference>scheduled10test</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EstimatedTravelTime</field>
            <value>
                <numberValue>60.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__EstimatedTravelTimeFrom__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <object>AssignedResource</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>904</locationX>
        <locationY>986</locationY>
        <connector>
            <targetReference>Show_Screen_Scheduler</targetReference>
        </connector>
        <inputReference>NewSA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseStatus</name>
        <label>updateCaseStatus</label>
        <locationX>999</locationX>
        <locationY>680</locationY>
        <connector>
            <targetReference>AddressIncorrectMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Incorrect Address, Please check work order zip code and account service zip code</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>FollowUpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Member Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseStatus_0</name>
        <label>updateCaseStatus</label>
        <locationX>1284</locationX>
        <locationY>691</locationY>
        <connector>
            <targetReference>AddressIncorrectMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Incorrect Address, please update the Account service address, work order and service appointment address.   </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>FollowUpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Member Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseStatus_0_0</name>
        <label>updateCaseStatus</label>
        <locationX>1974</locationX>
        <locationY>1713</locationY>
        <connector>
            <targetReference>Call_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please contact the member to discuss a possible Appointment Cancellation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>FollowUpDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Member Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateCaseStatus_0_0_0</name>
        <label>updateCaseStatus</label>
        <locationX>309</locationX>
        <locationY>1611</locationY>
        <connector>
            <targetReference>Validate_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please contact the member to check to update the Covid screening questions 2 days before the Scheduled Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>followupCovid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Member Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating dates</description>
        <name>UpdateSA</name>
        <label>UpdateSA</label>
        <locationX>1371</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>ST_parent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel</targetReference>
        </faultConnector>
        <inputReference>NewSA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSACancel</name>
        <label>UpdateSACancel</label>
        <locationX>2195</locationX>
        <locationY>999</locationY>
        <connector>
            <targetReference>AppointmentCancelled</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel</targetReference>
        </faultConnector>
        <inputReference>NewSA</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSErviceAppointment</name>
        <label>UpdateSErviceAppointment</label>
        <locationX>1785</locationX>
        <locationY>1621</locationY>
        <connector>
            <targetReference>updateCaseStatus_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cancel</targetReference>
        </faultConnector>
        <inputReference>NewSA</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Address_Information</name>
        <label>Address Information</label>
        <locationX>1093</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Covid_Screening</targetReference>
        </connector>
        <fields>
            <name>ShowAddress</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;Please verify your address below. If your address is correct, please click &lt;/span&gt;&lt;b style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;NEXT. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;If your address is &lt;/span&gt;&lt;b style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;NOT&lt;/b&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt; correct, please check the box, then click &lt;/span&gt;&lt;b style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;NEXT&lt;/b&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;. We will call you to correct your address.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Service Address :&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;{!AccountSA.ShippingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;{!AccountSA.ShippingCity}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;{!AccountSA.ShippingState}, {!AccountSA.ShippingPostalCode}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Check_this_box_if_it_is_incorrect</name>
            <dataType>Boolean</dataType>
            <fieldText>Check this box if it is incorrect</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AddressIncorrectMessage</name>
        <label>AddressIncorrectMessage</label>
        <locationX>1123</locationX>
        <locationY>679</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>IncorrectAddressMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;We apologize for the error in your address. Our Member Support team has been notified and someone will reach out to update your address shortly. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;Dont want to wait? Call us at (800) 669-7779 Mon-Sat 8am 6pm MT.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>AppointmentCancelled</name>
        <label>AppointmentCancelled</label>
        <locationX>2317</locationX>
        <locationY>892</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>OnHoldMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: black; font-family: sans-serif;&quot;&gt;Your appointment has been put on hold. Please visit this site, or call us at (800) 669-7779, when you are ready to reschedule. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: black; font-family: sans-serif;&quot;&gt;In the meantime, we will send you some friendly reminders to reschedule your appointment. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Call_Screen</name>
        <label>Call Screen</label>
        <locationX>2131</locationX>
        <locationY>1753</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Callme</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;Thank you for letting us know you have questions about your appointment. Our team is happy to assist, and someone will call you shortly. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;Dont want to wait? Call us at (800) 669-7779 Mon-Sat 8am 6pm MT.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cancel</name>
        <label>Cancel</label>
        <locationX>2387</locationX>
        <locationY>1478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Canceled</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;We apologize for the inconvenience, however, your service appointment could not be updated.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;If you need to update your appointment, please call us at&lt;/span&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt; &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;(800) 669-7779.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Thank you for choosing Home Security, the AAA Way.&amp;nbsp;Were delighted to have you as a new Member.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;AAA Smart Home&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;E:&amp;nbsp;a3sh-specialists@a3smarthome.com&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt; P:&amp;nbsp;(800) 669-7779&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>CancellationReason</name>
        <label>CancellationReason</label>
        <locationX>1959</locationX>
        <locationY>948</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>On_hold_new_SA</targetReference>
        </connector>
        <fields>
            <name>CancelationReason</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px; font-family: sans-serif;&quot;&gt;Please choose your reason for canceling your appointment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cancellation_Reason</name>
            <choiceReferences>CancelReason</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>NewSA.Cancellation_Reason__c</elementReference>
            </defaultValue>
            <fieldText>Cancellation Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>145</locationX>
        <locationY>1065</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BookingSuccess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;Your appointment is booked! &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-family: sans-serif; font-size: 20px;&quot;&gt;You may now close this page&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;The expected arrival window is  between &lt;/span&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;{!get_Updated_SA.Local_Arrival_Window_Start__c}  &lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;and &lt;/span&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;{!get_Updated_SA.Local_Arrival_Window_End__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;Your estimated appointment duration is: &lt;/span&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;{!DurationCeiling} hours&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;If you have any questions, please call our Member Support team at &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;(800) 669-7779 Mon-Sat 8am  6pm MT.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Covid_Screening</name>
        <label>Covid Screening</label>
        <locationX>1235</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_Covid</targetReference>
        </connector>
        <fields>
            <name>Tested_Positive_for_Covid_Last_14_Days</name>
            <choiceReferences>sErviceAppointmentCovid</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Have you or anyone in the household tested positive for COVID in the past 10 days?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flu_Like_Symptoms_Last_14_Days</name>
            <choiceReferences>FluLikeSymptomsLast14Days</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Have you or anyone in the household had any flu-like symptoms in the past 10 days?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Close_Contact_to_Someone_exposed_to_Covid_in_the_Last_14_Days</name>
            <choiceReferences>CloseContactLast14Days</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>No</stringValue>
            </defaultValue>
            <fieldText>Have you or anyone in the household come into close contact with someone that HAS tested positive in the past 10 days?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>covidNote</name>
            <fieldText>&lt;p&gt;Note: if one or more answers to the questions above are &quot;Yes&quot; you will only be able to schedule an appointment in 10 days from today&apos;s date. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>InProgress</name>
        <label>InProgress</label>
        <locationX>1874</locationX>
        <locationY>374</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>InProgressMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Your appointment is already in progress.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Please ask your Smart Home Pro to reschedule your appointment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Planned_Duration</name>
        <label>Planned Duration</label>
        <locationX>496</locationX>
        <locationY>368</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>PlannedDuration</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;We apologize for the inconvenience, however, your service appointment cannot be scheduled.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Please call us at&lt;/span&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt; (800) 669-7779, press &quot;4&quot; for Scheduling at your earliest convenience.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Thank you for choosing Home Security, the AAA Way.&amp;nbsp;Were delighted to have you as a new Member.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;AAA Smart Home&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;E:&amp;nbsp;a3sh-specialists@a3smarthome.com&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt; P:&amp;nbsp;(800) 669-7779&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SAScheduledOrDispatched</name>
        <label>SAScheduledOrDispatched</label>
        <locationX>1999</locationX>
        <locationY>683</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>checkCancelledOrRescheduled</targetReference>
        </connector>
        <fields>
            <name>InScheduleMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;Our records show your appointment is already scheduled. If you need to change your appointment, you can do so below.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;The expected arrival window of your scheduled appointment is between&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;{!NewSA.Local_Arrival_Window_Start__c} &lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;and &lt;/span&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;{!NewSA.Local_Arrival_Window_End__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ButtonBar</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Reschedule&quot;,&quot;value&quot;:&quot;Reschedule&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:change_record_type&quot;},{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:clear&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <stringValue>Cancel</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Work_Order_does_not_exist</name>
        <label>Work Order does not exist</label>
        <locationX>1206</locationX>
        <locationY>291</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>showMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;We apologize for the inconvenience. Your email or work order number do not match our records.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: sans-serif; font-size: 18px;&quot;&gt;To make or reschedule your appointment, please call us at (800) 669-7779 Mon-Sat 8am 6pm MT.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>WorkOrderCreate</name>
        <label>WorkOrderCreate</label>
        <locationX>806</locationX>
        <locationY>159</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getWO</targetReference>
        </connector>
        <fields>
            <name>Welcome_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 24px; font-family: sans-serif;&quot;&gt;Get started here&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; color: black; font-size: 18px;&quot;&gt;Please complete the information below and click NEXT to get started.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>woNum</name>
            <dataType>String</dataType>
            <fieldText>Work Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;b style=&quot;color: black; font-family: Calibri; font-size: 14px;&quot;&gt;Help Icon next to Work Order Number:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 14px;&quot;&gt;You can find your work order number in your email confirmation.&lt;/span&gt;&lt;span style=&quot;color: black; font-family: Calibri; font-size: 18pt;&quot;&gt;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>585</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>WorkOrderCreate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Show_Screen_Scheduler</name>
        <label>Show Screen Scheduler</label>
        <locationX>762</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>Attempt_Booking</targetReference>
        </connector>
        <flowName>Show_Snap_Ins_Scheduler</flowName>
        <inputAssignments>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatinghoursId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>policyId</name>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>previousBookingAttemptError</name>
            <value>
                <elementReference>BookingError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SA</name>
            <value>
                <elementReference>NewSA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>slotsSize</name>
            <value>
                <stringValue>20</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TimeslotBeginValue</name>
            <value>
                <elementReference>NewSA.EarliestStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TimeslotFinishValue</name>
            <value>
                <elementReference>NewSA.DueDate</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotBegin</assignToReference>
            <name>TimeslotBegin</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotFinish</assignToReference>
            <name>TimeslotFinish</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountIdFromSA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BookingError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getSAidFromApex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountSA.ShippingCity</elementReference>
        </value>
    </variables>
    <variables>
        <name>newCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountSA.ShippingCountry</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>NewState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountSA.ShippingState</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountSA.ShippingStreet</elementReference>
        </value>
    </variables>
    <variables>
        <name>NewZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>AccountSA.ShippingPostalCode</elementReference>
        </value>
    </variables>
    <variables>
        <name>OperatinghoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SA_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SACollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SACount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>SAidForCount</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotBegin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WasBookingSuccessful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
