flows/Account_Update_Related_Opps_Installation_Type_fields_based_on_Zipcode.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>Assign all the opportunity fields values as the Zipcode fields value</description>
        <name>OpportunityAssignment</name>
        <label>OpportunityAssignment</label>
        <locationX>843</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>Opportunity_Iterate.Is_Self_Install_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Records.Self_Install__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Iterate.Is_Dealer_Install_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Records.Is_Dealer_Install_Available__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Iterate.Is_Professional_Install_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Records.Pro_Install__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opportunity_Iterate.Shipping_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Zip_Code_Records.Shipping_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityAssignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populating the opportunity list with Current Item from loop</description>
        <name>OpportunityAssignment_0</name>
        <label>OpportunityAssignment</label>
        <locationX>862</locationX>
        <locationY>1265</locationY>
        <assignmentItems>
            <assignToReference>OpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opportunity_Iterate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Iterate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>All four installation fields should be null conditions</description>
        <name>OpportunityAssignment_0_0</name>
        <label>OpportunityAssignment</label>
        <locationX>447</locationX>
        <locationY>442</locationY>
        <assignmentItems>
            <assignToReference>FirstIterationOpp.Is_Self_Install_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstIterationOpp.Is_Dealer_Install_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstIterationOpp.Is_Professional_Install_Available__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FirstIterationOpp.Shipping_Price__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityAssignment_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Populating the opportunity list with Current Item from loop</description>
        <name>OpportunityAssignment_0_0_0</name>
        <label>OpportunityAssignment</label>
        <locationX>638</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>OpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstIterationOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FirstIterationOpp</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>checking the opportunity record are available or not</description>
        <name>Check_Opportunity</name>
        <label>Check Opportunity</label>
        <locationX>315</locationX>
        <locationY>478</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opportunity_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppRecorCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckZipCodeOnAccount</targetReference>
            </connector>
            <label>Opportunity is Not Null</label>
        </rules>
        <rules>
            <name>OpporunityISNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OppRecorCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>OpporunityISNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>if the zipcode value is available or not</description>
        <name>CheckZipCodeList</name>
        <label>CheckZipCodeList</label>
        <locationX>368</locationX>
        <locationY>978</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNUll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zip_Code_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FirstIterationOpp</targetReference>
            </connector>
            <label>IsNUll</label>
        </rules>
        <rules>
            <name>NotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Zip_Code_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Iterate</targetReference>
            </connector>
            <label>NotNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>check zipcode is available or not</description>
        <name>CheckZipCodeOnAccount</name>
        <label>CheckZipCodeOnAccount</label>
        <locationX>50</locationX>
        <locationY>746</locationY>
        <defaultConnector>
            <targetReference>FirstIterationOpp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsZipCodeExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingPostalCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Zip_Code_Records</targetReference>
            </connector>
            <label>IsZipCodeExists?</label>
        </rules>
    </decisions>
    <description>Updating the Opportunity Installation type &amp; ShippingPrice as per the ZipCode values</description>
    <interviewLabel>Account: Update Related Opps Installation Type fields based on Zipcode {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Related Opps Installation Type fields based on Zipcode</label>
    <loops>
        <description>Iteration over OpportunityRecordCollection</description>
        <name>FirstIterationOpp</name>
        <label>FirstIterationOpp</label>
        <locationX>457</locationX>
        <locationY>672</locationY>
        <collectionReference>OppRecorCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpportunityAssignment_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities_based_on_ZipCodes_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iteration over OpportunityRecordCollection</description>
        <name>Opportunity_Iterate</name>
        <label>Opportunity Iterate</label>
        <locationX>613</locationX>
        <locationY>1162</locationY>
        <collectionReference>OppRecorCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OpportunityAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities_based_on_ZipCodes_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Check there is any open opportunity record or not , if there is no opportunity records = nothing</description>
        <name>Get_Open_Opportunity_Record</name>
        <label>Get Open Opportunity Record</label>
        <locationX>322</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OppRecorCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Dealer_Install_Available__c</queriedFields>
        <queriedFields>Is_Professional_Install_Available__c</queriedFields>
        <queriedFields>Is_Self_Install_Available__c</queriedFields>
        <queriedFields>Shipping_Price__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Getting the ZipCode record along with the four fields value.</description>
        <name>Get_Zip_Code_Records</name>
        <label>Get Zip Code Records</label>
        <locationX>124</locationX>
        <locationY>978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckZipCodeList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Is_Dealer_Install_Available__c</queriedFields>
        <queriedFields>Pro_Install__c</queriedFields>
        <queriedFields>Self_Install__c</queriedFields>
        <queriedFields>Shipping_Price__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the Opportunity Installation Type &amp; Shipping Price fields as per the ZipCode records.</description>
        <name>Update_Opportunities_based_on_ZipCodes_0</name>
        <label>Update Opportunities based on ZipCodes</label>
        <locationX>615</locationX>
        <locationY>814</locationY>
        <inputReference>OpportunityList</inputReference>
    </recordUpdates>
    <start>
        <locationX>196</locationX>
        <locationY>21</locationY>
        <connector>
            <targetReference>Get_Open_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>DoNothing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsOppNull</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OpportunityRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppRecorCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
