flows/Add_WOLI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignProductVariable</name>
        <label>assignProductVariable</label>
        <locationX>552</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>assignProduct.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchProducts.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>assignProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SearchProducts.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getProduct</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>create_a_new_WOLI</name>
        <label>create a new WOLI</label>
        <locationX>466</locationX>
        <locationY>573</locationY>
        <defaultConnector>
            <targetReference>Work_Order_Line_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_WOLI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_a_New_Work_Order_Line_Item</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Products</targetReference>
            </connector>
            <label>Create new WOLI</label>
        </rules>
    </decisions>
    <interviewLabel>Add WOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add WOLI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createWOLI</name>
        <label>createWOLI</label>
        <locationX>1155</locationX>
        <locationY>602</locationY>
        <connector>
            <targetReference>Work_Order_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getProduct.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quantity__c</field>
            <value>
                <elementReference>Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <elementReference>getProduct.Time_to_Install_Res_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getPriceBookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Product_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getPriceBookEntry</name>
        <label>getPriceBookEntry</label>
        <locationX>959</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignProduct.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWO.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>769</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPriceBookEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>assignProduct.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWO</name>
        <label>getWO</label>
        <locationX>195</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Product_Details</name>
        <label>Product Details</label>
        <locationX>1148</locationX>
        <locationY>394</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>createWOLI</targetReference>
        </connector>
        <fields>
            <name>Product_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>assignProduct.Name</elementReference>
            </defaultValue>
            <fieldText>Product Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getProduct.ProductCode</elementReference>
            </defaultValue>
            <fieldText>Product Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Price</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>getPriceBookEntry.UnitPrice</elementReference>
            </defaultValue>
            <fieldText>Product Unit List Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Products</name>
        <label>Search Products</label>
        <locationX>353</locationX>
        <locationY>355</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignProductVariable</targetReference>
        </connector>
        <fields>
            <name>SearchProducts</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>PricebookEntry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Products</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Product2Id</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Line_Creation</name>
        <label>Work Order Line Creation</label>
        <locationX>629</locationX>
        <locationY>725</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Completed</name>
            <fieldText>&lt;p&gt;The Work Order Line Item Completion is completed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Work_Order_Line_Item</name>
        <label>Work Order Line Item</label>
        <locationX>765</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>create_a_new_WOLI</targetReference>
        </connector>
        <fields>
            <name>CreateAnother</name>
            <fieldText>&lt;p&gt;A new Work Order Line Item was created. Do you want to create another Work Order Line Item?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_a_New_Work_Order_Line_Item</name>
            <dataType>Boolean</dataType>
            <fieldText>Create a New Work Order Line Item</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>67</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getWO</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>assignProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
