flows/Assigned_Resource_Assigned_PRO_and_Dispatcher_Update_On_Service_Appointment.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_SA_last_modified_by_a_dispatcher_and_Status_Scheduled</name>
        <label>Is SA last modified by a dispatcher and Status Scheduled</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LastModifiedByNotTechinician</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Technician</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Dispatcher</targetReference>
            </connector>
            <label>LastModifiedByNotTechinician</label>
        </rules>
    </decisions>
    <description>Update Assigned Pro, Dispatcher and Date &amp; Time Scheduled on Service Appointment</description>
    <interviewLabel>Assigned Resource: Assigned PRO and Dispatcher Update On Service Appointment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assigned Resource: Assigned PRO and Dispatcher Update On Service Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Dispatcher</name>
        <label>Update Dispatcher</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Appointment_Scheduled__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dispatcher__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SA_Pro</name>
        <label>Update SA Pro</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Is_SA_last_modified_by_a_dispatcher_and_Status_Scheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceAppointmentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Pro__c</field>
            <value>
                <elementReference>$Record.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_SA_Pro</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ServiceResourceId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>AssignedResource</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
