flows/Case_UpdateContactOnCase.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>If get contact element is null then assign contact filed value as null on current triggered case record</description>
        <name>Assign_contact_as_null_on_case</name>
        <label>Assign contact as null on case</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>If get contact is having a record then assign that contact to current triggered case record</description>
        <name>Assign_Contact_Id_on_case</name>
        <label>Assign Contact Id on case</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checking get contacts element is having contact record or not</description>
        <name>Check_get_contacts_is_null_or_not</name>
        <label>Check get contacts is null or not</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Assign_contact_as_null_on_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Id_on_case</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check whether it is a new case or updating an existing case to another account</description>
        <name>Check_New_Or_Updating_Case</name>
        <label>Check New Or Updating Case</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_or_updating_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewOrUpdateDecisionFormula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>New or updating case</label>
        </rules>
    </decisions>
    <description>Case Object, Updates the Contact field on Case if account is selected.</description>
    <formulas>
        <description>This evaluates to true if new case and accountid is not null or accountid is changed and it is not null</description>
        <name>NewOrUpdateDecisionFormula</name>
        <dataType>Boolean</dataType>
        <expression>(IsNew() &amp;&amp; {!$Record.AccountId != Null}) || (isChanged({!$Record.AccountId}))</expression>
    </formulas>
    <interviewLabel>Case: UpdateContactOnCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: UpdateContactOnCase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all contacts which are related to current triggered case account</description>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_get_contacts_is_null_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_New_Or_Updating_Case</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
