flows/Create_Parent_Account_for_Contact_via_Sedona.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_for_Commercial_OR_Residential</name>
        <label>Check for Commercial OR Residential</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Create_account_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Commercial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsCommercial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_account_0_0_0</targetReference>
            </connector>
            <label>IS Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Commercial_OR_Residential_0</name>
        <label>Check for Commercial OR Residential</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_Account_of_Contact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_Commercial_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsCommercial__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_of_Contact_0</targetReference>
            </connector>
            <label>IS Commercial</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Id_Blank_on_Contact</name>
        <label>Is Account Id Blank on Contact</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountIdBlank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Commercial_OR_Residential</targetReference>
            </connector>
            <label>AccountIdBlank</label>
        </rules>
        <rules>
            <name>Account_Id_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Commercial_OR_Residential_0</targetReference>
            </connector>
            <label>Account Id Not Null</label>
        </rules>
    </decisions>
    <description>This flow will take a contact passed from Sedona to Create a Parent Account related to the contact.</description>
    <formulas>
        <name>ContactNameFormattedtoAccountName</name>
        <dataType>String</dataType>
        <expression>{!$Record.LastName}+&quot;, &quot;+ {!$Record.FirstName}</expression>
    </formulas>
    <formulas>
        <name>Rider_Service_Territory</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.MailingState} = &quot;AZ&quot;, &quot;0Hh6g000000EIR1CAO&quot;,
IF({!$Record.MailingState} = &quot;Arizona&quot;, &quot;0Hh6g000000EIR1CAO&quot;, &quot;0Hh6g000000EIR6CAO&quot;))</expression>
    </formulas>
    <interviewLabel>Create Parent Account for Contact (via Sedona) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Parent Account for Contact (via Sedona)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_account_0_0</name>
        <label>Create account</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>varAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_with_Account_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AutoPay_Status__c</field>
            <value>
                <elementReference>$Record.Auto_Pay_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.OtherStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerId__c</field>
            <value>
                <elementReference>$Record.CustomerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerStatus__c</field>
            <value>
                <elementReference>$Record.CustomerStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>$Record.CustomerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ebill_Status__c</field>
            <value>
                <elementReference>$Record.Ebill_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Brand__c</field>
            <value>
                <elementReference>$Record.Legacy_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactNameFormattedtoAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>$Record.customerUserDef_PickList__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Customer_Number__c</field>
            <value>
                <elementReference>$Record.CustomerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>$Record.Phone2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124v000001yTIqAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_account_0_0_0</name>
        <label>Create account</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>varAccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_with_Account_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AutoPay_Status__c</field>
            <value>
                <elementReference>$Record.Auto_Pay_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.OtherStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerId__c</field>
            <value>
                <elementReference>$Record.CustomerId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerStatus__c</field>
            <value>
                <elementReference>$Record.CustomerStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>$Record.CustomerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ebill_Status__c</field>
            <value>
                <elementReference>$Record.Ebill_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Brand__c</field>
            <value>
                <elementReference>$Record.Legacy_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ContactNameFormattedtoAccountName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>$Record.customerUserDef_PickList__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Customer_Number__c</field>
            <value>
                <elementReference>$Record.CustomerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>$Record.Phone2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124v000001yTIqAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.MailingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.MailingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.MailingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.MailingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account_of_Contact_0</name>
        <label>Update Account of Contact</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AAA_Member__c</field>
            <value>
                <elementReference>$Record.AAA_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoPay_Status__c</field>
            <value>
                <elementReference>$Record.Auto_Pay_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.OtherStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerStatus__c</field>
            <value>
                <elementReference>$Record.CustomerStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>$Record.CustomerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ebill_Status__c</field>
            <value>
                <elementReference>$Record.Ebill_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Brand__c</field>
            <value>
                <elementReference>$Record.Legacy_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>$Record.customerUserDef_PickList__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Customer_Number__c</field>
            <value>
                <elementReference>$Record.CustomerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>$Record.Phone2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124v000001yTIqAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account_of_Contact_0_0</name>
        <label>Update Account of Contact</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AAA_Member__c</field>
            <value>
                <elementReference>$Record.AAA_Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutoPay_Status__c</field>
            <value>
                <elementReference>$Record.Auto_Pay_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.OtherStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerStatus__c</field>
            <value>
                <elementReference>$Record.CustomerStatus__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Number__c</field>
            <value>
                <elementReference>$Record.CustomerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ebill_Status__c</field>
            <value>
                <elementReference>$Record.Ebill_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legacy_Brand__c</field>
            <value>
                <elementReference>$Record.Legacy_Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>$Record.customerUserDef_PickList__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Customer_Number__c</field>
            <value>
                <elementReference>$Record.CustomerNumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone_2__c</field>
            <value>
                <elementReference>$Record.Phone2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124v000001yTIqAAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_with_Account_Id</name>
        <label>Update Contact with Account Id</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Account_Id_Blank_on_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerId__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
