flows/Create_Work_Order_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Contact_ID</name>
        <label>Assign Contact ID</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>ContactID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Other</name>
        <label>Assign Other</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_Other</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignL2</name>
        <label>AssignL2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_L2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WO_ID</name>
        <label>WO ID</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_L1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Contact_ID</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>L1_Choice</name>
        <choiceText>L1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L1</stringValue>
        </value>
    </choices>
    <choices>
        <name>L2_Choice</name>
        <choiceText>L2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L2</stringValue>
        </value>
    </choices>
    <choices>
        <name>L3_Choice</name>
        <choiceText>L3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L3</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_Choice</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>LevelDecision</name>
        <label>Level Decision</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Order_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>l1_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L1_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_L1</targetReference>
            </connector>
            <label>l1</label>
        </rules>
        <rules>
            <name>L2_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L2_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_L2</targetReference>
            </connector>
            <label>L2</label>
        </rules>
    </decisions>
    <description>Sanjay Agrawal: 4/7/2021: Created new version to input customer system.</description>
    <dynamicChoiceSets>
        <name>Customer_System</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <object>Customer_Systems__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Issue_Code_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue_Code__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Hours</name>
        <dataType>Number</dataType>
        <expression>IF({!Issue_Code} = &quot;Inspection (RES)&quot;, 1.0, 
IF({!Issue_Code} = &quot;False Trips&quot;, 2.0,
IF({!Issue_Code} =&quot;Faulty Zones&quot;, 1.0,
IF({!Issue_Code} =&quot;Loss of Supervision&quot;, 0.5,
IF({!Issue_Code} =&quot;Water Flow&quot;, 1.0,
IF({!Issue_Code} =&quot;Fireloop Faulted&quot;, 1.0,
IF({!Issue_Code} =&quot;Fireloop False Trip Firel&quot;, 2.0,
IF({!Issue_Code} =&quot;Runaway Alarm&quot;, 1.0,
IF({!Issue_Code} =&quot;Service Warranty&quot;, 2.0,
IF({!Issue_Code} =&quot;Install Warranty&quot;, 2.0,
IF({!Issue_Code} =&quot;Equipment Removal (RES)&quot;, 4.0,
IF({!Issue_Code} = &quot;System Move (RES)&quot;, 4.0,
IF({!Issue_Code} =&quot;Multi Issue&quot;, 2.0,
IF({!Issue_Code} =&quot;ZWave Devices&quot;, 1.0,
IF({!Issue_Code} =&quot;Doorbell/Indoor Camera&quot;, 1.0,
IF({!Issue_Code} =&quot;Outdoor Camera&quot;, 1.0,
IF({!Issue_Code} =&quot;LOW BATTERY (RES)&quot;, 0.5,
IF({!Issue_Code} =&quot;COM FAIL/LTT (RES)&quot;, 1.0,
NULL))))))))))))))))))</expression>
        <scale>1</scale>
    </formulas>
    <interviewLabel>Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Work Order Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Order_L1</name>
        <label>Create Work Order L1</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>WO_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case.Contact.Account_ID_18__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s6g000009WiL6AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q7X000000Ck8dQAC</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_L2</name>
        <label>Create Work Order L2</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>AssignL2</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case.Contact.Account_ID_18__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s6g000009WiL6AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q7X000000Ck8iQAC</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Other</name>
        <label>Create Work Order Other</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assign_Other</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case.Contact.Account_ID_18__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Address.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Address.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Address.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <stringValue>01s6g000009WiL6AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>Address.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Address.street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gather_Work_Order_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Gather_Work_Order_Data</name>
        <label>Gather Work Order Data</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LevelDecision</targetReference>
        </connector>
        <fields>
            <name>Contact_Name</name>
            <fieldText>&lt;p&gt;Contact: {!Get_Case.Contact.FirstName} {!Get_Case.Contact.LastName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case.Contact.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case.Contact.Phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Case.Contact.MailingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Case.Contact.MailingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Case.Contact.MailingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Case.Contact.MailingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <stringValue>United States</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Issue_Code</name>
            <choiceReferences>Issue_Code_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Issue Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Level</name>
            <choiceReferences>L1_Choice</choiceReferences>
            <choiceReferences>L2_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Priority_Picklist_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerSystem</name>
            <choiceReferences>None_Choice</choiceReferences>
            <choiceReferences>Customer_System</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None_Choice</defaultSelectedChoiceReference>
            <fieldText>Customer System</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
