flows/CreateWO_Asset_And_WOLI_when_Oppty_Closed_Won_NEW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendWOliAndAssetsToApex_0</name>
        <label>SendWOliAndAssetsToApex</label>
        <locationX>2294</locationX>
        <locationY>1704</locationY>
        <actionName>woliAndAssetOperationsFromFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetIds</name>
            <value>
                <elementReference>Get_AssetScheduled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseRecId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woliId</name>
            <value>
                <elementReference>getNewlyCreatedWOLI_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woRecord</name>
            <value>
                <elementReference>getWOScheduled</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_New_WOLI_to_Collection</name>
        <label>Add New WOLI to Collection</label>
        <locationX>534</locationX>
        <locationY>1584</locationY>
        <assignmentItems>
            <assignToReference>WOLICollectionInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLINew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Products_into_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseQueueForDealer</name>
        <label>AssignCaseQueueForDealer</label>
        <locationX>2162</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>CaseQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueIdForDealer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseQueueForPRO</name>
        <label>AssignCaseQueueForPRO</label>
        <locationX>2426</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>CaseQueue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getQueueIdForPro.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Case_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSAValuesFor_PRO</name>
        <label>AssignSAValuesFor_PRO</label>
        <locationX>578</locationX>
        <locationY>3240</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWO.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWO.Planned_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.FSL__Scheduling_Policy_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A3DispatchPolicyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWO.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSAValuesForDealer</name>
        <label>AssignSAValuesForDealer</label>
        <locationX>314</locationX>
        <locationY>3240</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWO.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWO.Planned_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.FSL__Scheduling_Policy_Used__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>A3DispatchPolicyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getWO.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointmentRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SA_DealerRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWO_Dealer</name>
        <label>AssignWO_Dealer</label>
        <locationX>314</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WORecordTypeId_Dealer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Time_To_install_in_Hr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workTypeRecord.ID_18__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignWO_PRO</name>
        <label>AssignWO_PRO</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Time_To_install_in_Hr__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Primary_Contact__r.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workTypeRecord.ID_18__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Work_Order_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_WOLI</name>
        <label>New WOLI</label>
        <locationX>534</locationX>
        <locationY>1464</locationY>
        <assignmentItems>
            <assignToReference>WOLINew.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Original_Planned_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Time_to_Install_Hrs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Original_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.PROs_Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.PROs_Commissionable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Planned_Duration_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.Time_to_Install_Res_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.SBQQ__Taxable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Working_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_WOLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WOLI_Collection</name>
        <label>WOLI Collection</label>
        <locationX>446</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>WOLICollectionInsert</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Products_into_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckOpptyInstallationType</name>
        <label>CheckOpptyInstallationType</label>
        <locationX>2294</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>getQueueIdForPro</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isDealerInstall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQueueIdForDealer</targetReference>
            </connector>
            <label>isDealerInstall</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Takeover</name>
        <label>Is it Takeover?</label>
        <locationX>446</locationX>
        <locationY>2160</locationY>
        <defaultConnector>
            <targetReference>Create_WOLI_Takeover_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_takeover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Takeover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTakeoverProductsFromPriceBook</targetReference>
            </connector>
            <label>Is takeover</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_OpptyDealerInstall</name>
        <label>Is OpptyDealerInstall</label>
        <locationX>446</locationX>
        <locationY>3120</locationY>
        <defaultConnector>
            <targetReference>AssignSAValuesFor_PRO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Install</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSAValuesForDealer</targetReference>
            </connector>
            <label>Dealer Install</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsOpptyDealerInstall</name>
        <label>IsOpptyDealerInstall</label>
        <locationX>446</locationX>
        <locationY>648</locationY>
        <defaultConnector>
            <targetReference>AssignWO_PRO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsDealer_Install</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installation_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignWO_Dealer</targetReference>
            </connector>
            <label>IsDealer Install</label>
        </rules>
    </decisions>
    <decisions>
        <name>StageChanged</name>
        <label>StageChanged</label>
        <locationX>2624</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>stage Not Changed</defaultConnectorLabel>
        <rules>
            <name>StageNameChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.First_Closed_Won__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWOScheduled</targetReference>
            </connector>
            <label>StageNameChanged</label>
        </rules>
    </decisions>
    <formulas>
        <name>A3DispatchPolicyId</name>
        <dataType>String</dataType>
        <expression>{!$Label.A3_Dispatch_Policy_Id}</expression>
    </formulas>
    <formulas>
        <name>AssetNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>CheckTime</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime}-{!$Record.LastStageChangeDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>today() + 60</expression>
    </formulas>
    <formulas>
        <name>InstallationRecordTypeId_Case</name>
        <dataType>String</dataType>
        <expression>{!$Label.Case_Installation_RecordType_Id}</expression>
    </formulas>
    <formulas>
        <name>New_Discount</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Discount_Dollars__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Final_Price</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Final_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Tax</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Equipment_Tax__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Total_Price</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Final_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OriginalPlannedDuration</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Opp_Products_into_Work_Order_Line_Items.Time_to_Install_Hrs__c} * {!Loop_Opp_Products_into_Work_Order_Line_Items.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SA_DealerRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Dealer_ServiceAppointmentRecordTypeId}</expression>
    </formulas>
    <formulas>
        <name>WODurationPlusTakeOverForSA</name>
        <dataType>Number</dataType>
        <expression>{!getWO.Planned_Duration__c}+2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WODurationWIthTakeoverHrs</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Time_To_install_in_Hr__c}+2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WORecordTypeId_Dealer</name>
        <dataType>String</dataType>
        <expression>{!$Label.Dealer_WorkOrderRecordTypeID}</expression>
    </formulas>
    <interviewLabel>CreateWO Asset And WOLI when Oppty Closed Won NEW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateWO Asset And WOLI when Oppty Closed Won NEW</label>
    <loops>
        <name>Loop_Opp_Products_into_Work_Order_Line_Items</name>
        <label>Loop Opp Products into Work Order Line Items</label>
        <locationX>446</locationX>
        <locationY>1344</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_WOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_WOLI_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Case_0</name>
        <label>Create a Case</label>
        <locationX>2294</locationX>
        <locationY>1224</locationY>
        <assignRecordIdToReference>CaseRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateWOWithCaseIdAndTakeOverHrs_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>PRO INSTALL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>CaseQueue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InstallationRecordTypeId_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <stringValue>AAA</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception</name>
        <label>Create Exception</label>
        <locationX>1898</locationX>
        <locationY>1104</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>This error occurred while creation of work order while Opportunity closed won.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>CreateWO Asset And WOLI when Oppty Closed Won NEW (Flow)</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment_0_0</name>
        <label>Create Service Appointment</label>
        <locationX>446</locationX>
        <locationY>3456</locationY>
        <connector>
            <targetReference>getNewlyCreatedWOLI</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0_0</targetReference>
        </faultConnector>
        <inputReference>ServiceAppointmentRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Takeover</name>
        <label>Create WOLI Takeover</label>
        <locationX>50</locationX>
        <locationY>2400</locationY>
        <connector>
            <targetReference>Create_WOLI_Takeover_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getTakeoverProductsFromPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <stringValue>take-0001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Takeover_0</name>
        <label>Create WOLI Training</label>
        <locationX>50</locationX>
        <locationY>2520</locationY>
        <connector>
            <targetReference>getWO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>&quot;Consultation &amp; New Installation Training&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getTrainingProductsFromPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <stringValue>train-00001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Takeover_0_0</name>
        <label>Create WOLI Training</label>
        <locationX>842</locationX>
        <locationY>2280</locationY>
        <connector>
            <targetReference>getWO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Original_Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getTrainingProductsFromPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <stringValue>train-00001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_0</name>
        <label>Create Work Order</label>
        <locationX>446</locationX>
        <locationY>984</locationY>
        <connector>
            <targetReference>Get_Opp_Products_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Exception</targetReference>
        </faultConnector>
        <inputReference>WorkOrderRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_WOLI_Collection</name>
        <label>Insert WOLI Collection</label>
        <locationX>446</locationX>
        <locationY>1800</locationY>
        <connector>
            <targetReference>getQuote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_Exception</targetReference>
        </faultConnector>
        <inputReference>WOLICollectionInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception</name>
        <label>Log Exception</label>
        <locationX>1634</locationX>
        <locationY>1920</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>This error occurred while work order line item creation from Opportunity closed won flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>CreateWO Asset And WOLI when Oppty Closed Won NEW (Flow)</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0</name>
        <label>Log Exception</label>
        <locationX>578</locationX>
        <locationY>2520</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>This error occurred while work order line item takeover creation from Opportunity closed won flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>CreateWO Asset And WOLI when Oppty Closed Won NEW (Flow)</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0</name>
        <label>Log Exception</label>
        <locationX>314</locationX>
        <locationY>2640</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>This error occurred while work order line item training creation from Opportunity closed won flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>CreateWO Asset And WOLI when Oppty Closed Won NEW (Flow)</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0</name>
        <label>Log Exception</label>
        <locationX>1106</locationX>
        <locationY>2400</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>This error occurred while work order line item training creation from Opportunity closed won flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>CreateWO Asset And WOLI when Oppty Closed Won NEW (Flow)</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0_0</name>
        <label>Log Exception</label>
        <locationX>1370</locationX>
        <locationY>3576</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>This error occurred while work order line item creation from Opportunity closed won flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>CreateWO Asset And WOLI when Oppty Closed Won NEW (Flow)</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Exception_0_0_0_0_0</name>
        <label>Log Exception</label>
        <locationX>2690</locationX>
        <locationY>1344</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>This error occurred while case creation from Opportunity closed won flow.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>CreateWO Asset And WOLI when Oppty Closed Won NEW (Flow)</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_0</name>
        <label>Get Asset</label>
        <locationX>446</locationX>
        <locationY>3696</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateWOWithCaseIdAndTakeOverHrs_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssetScheduled</name>
        <label>Get AssetScheduled</label>
        <locationX>2294</locationX>
        <locationY>1464</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Opp_first_Closed_won</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Products_To_Get_skill_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products_0_0</name>
        <label>Get Opp Products</label>
        <locationX>446</locationX>
        <locationY>1104</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOLI_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products_To_Get_skill_Number</name>
        <label>Get Opp Products To Get skill Number</label>
        <locationX>446</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWorkTypeForWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Skill_Level__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>skillLevel</assignToReference>
            <field>Skill_Level__c</field>
        </outputAssignments>
        <sortField>Get_Skill_Level_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getNewlyCreatedWOLI</name>
        <label>getNewlyCreatedWOLI</label>
        <locationX>446</locationX>
        <locationY>3576</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItemsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Product__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>Total_Duration_Hours__c</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>Total_Duration_Hours_F__c</queriedFields>
        <queriedFields>Opportunity_Id__c</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getNewlyCreatedWOLI_0</name>
        <label>getNewlyCreatedWOLI</label>
        <locationX>2294</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueId_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWOScheduled.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>installation Queue</description>
        <name>getQueueId_0</name>
        <label>getQueueId</label>
        <locationX>2294</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOpptyInstallationType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>installation_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>installation Queue</description>
        <name>getQueueIdForDealer</name>
        <label>getQueueIdForDealer</label>
        <locationX>2162</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCaseQueueForDealer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DS_Installation_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>installation Queue</description>
        <name>getQueueIdForPro</name>
        <label>getQueueIdForPro</label>
        <locationX>2426</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCaseQueueForPRO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>installation_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>446</locationX>
        <locationY>1920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTrainingProductsFromPriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTakeoverProductsFromPriceBook</name>
        <label>getTakeoverProductsFromPriceBook</label>
        <locationX>50</locationX>
        <locationY>2280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WOLI_Takeover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>Contains</operator>
            <value>
                <stringValue>take-00001</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.SBQQ__PricebookId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTrainingProductsFromPriceBook</name>
        <label>getTrainingProductsFromPriceBook</label>
        <locationX>446</locationX>
        <locationY>2040</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_Takeover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>train-00001</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.SBQQ__PricebookId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWO</name>
        <label>getWO</label>
        <locationX>446</locationX>
        <locationY>3000</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_OpptyDealerInstall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkTypeForWorkOrder</name>
        <label>getWorkTypeForWorkOrder</label>
        <locationX>446</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsOpptyDealerInstall</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>skillLevel</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ID_18__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWOScheduled</name>
        <label>getWOScheduled</label>
        <locationX>2294</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNewlyCreatedWOLI_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_first_Closed_won</name>
        <label>Update Opp first Closed won</label>
        <locationX>2294</locationX>
        <locationY>1584</locationY>
        <connector>
            <targetReference>SendWOliAndAssetsToApex_0</targetReference>
        </connector>
        <inputAssignments>
            <field>First_Closed_Won__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderWithWOId</name>
        <label>UpdateOrderWithWOId</label>
        <locationX>446</locationX>
        <locationY>3936</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>getWO.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWOWithCaseIdAndTakeOverHrs_0</name>
        <label>UpdateWOWithCaseIdAndTakeOverHrs</label>
        <locationX>446</locationX>
        <locationY>3816</locationY>
        <connector>
            <targetReference>UpdateOrderWithWOId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>getWO.Planned_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWOWithCaseIdAndTakeOverHrs_0_0</name>
        <label>UpdateWOWithCaseIdAndTakeOverHrs</label>
        <locationX>2294</locationX>
        <locationY>1344</locationY>
        <connector>
            <targetReference>Get_AssetScheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional Install</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer Install</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X5_Mins_Later</name>
            <connector>
                <targetReference>StageChanged</targetReference>
            </connector>
            <label>5 Mins Later</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetCollectionInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CaseCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseSubCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewProductRequired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ProductRequiredCollectionToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>skillLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>skillLevelForWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SkillLevels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SkillNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StoreUpdatedAssetIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLICollectionInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLINew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLIRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItemsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
