flows/CreateWO_And_WOLI_when_Oppty_Closed_Won_NEW.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendWOliAndAssetsToApex_0</name>
        <label>SendWOliAndAssetsToApex</label>
        <locationX>578</locationX>
        <locationY>888</locationY>
        <actionName>woliAndAssetOperationsFromFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>assetIds</name>
            <value>
                <elementReference>Get_AssetScheduled</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseRecId</name>
            <value>
                <elementReference>getCaseScheduled.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woliId</name>
            <value>
                <elementReference>getNewlyCreatedWOLI_0</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>woRecord</name>
            <value>
                <elementReference>getWOScheduled</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Add_New_WOLI_to_Collection</name>
        <label>Add New WOLI to Collection</label>
        <locationX>270</locationX>
        <locationY>1368</locationY>
        <assignmentItems>
            <assignToReference>WOLICollectionInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WOLINew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Products_into_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_WOLI</name>
        <label>New WOLI</label>
        <locationX>270</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>WOLINew.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Original_Planned_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Time_to_Install_Hrs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Original_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.PROs_Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.PROs_Commissionable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Planned_Duration_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.Time_to_Install_Res_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Product_Family__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.Family</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Taxable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.SBQQ__Taxable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WOLINew.Working_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_WOLI_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WOLI_Collection</name>
        <label>WOLI Collection</label>
        <locationX>182</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>WOLICollectionInsert</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opp_Products_into_Work_Order_Line_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_it_Takeover</name>
        <label>Is it Takeover?</label>
        <locationX>182</locationX>
        <locationY>1944</locationY>
        <defaultConnector>
            <targetReference>Create_WOLI_Takeover_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_takeover</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Takeover</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getTakeoverProductsFromPriceBook</targetReference>
            </connector>
            <label>Is takeover</label>
        </rules>
    </decisions>
    <decisions>
        <name>StageChanged</name>
        <label>StageChanged</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>stage Not Changed</defaultConnectorLabel>
        <rules>
            <name>StageNameChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CheckTime</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWOScheduled</targetReference>
            </connector>
            <label>StageNameChanged</label>
        </rules>
    </decisions>
    <description>Limit SOQL queries fixed</description>
    <formulas>
        <name>AssetNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}</expression>
    </formulas>
    <formulas>
        <name>CheckTime</name>
        <dataType>Number</dataType>
        <expression>({!$Flow.CurrentDateTime}-{!$Record.LastStageChangeDate})*24*60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>dueDate</name>
        <dataType>Date</dataType>
        <expression>today() + 60</expression>
    </formulas>
    <formulas>
        <name>New_Discount</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Discount_Dollars__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Final_Price</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Final_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Tax</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Equipment_Tax__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Total_Price</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Final_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>OriginalPlannedDuration</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Opp_Products_into_Work_Order_Line_Items.Time_to_Install_Hrs__c} * {!Loop_Opp_Products_into_Work_Order_Line_Items.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WODurationPlusTakeOverForSA</name>
        <dataType>Number</dataType>
        <expression>{!getWO.Planned_Duration__c}+2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WODurationWIthTakeoverHrs</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Time_To_install_in_Hr__c}+2</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CreateWO And WOLI when Oppty Closed Won NEW</interviewLabel>
    <label>CreateWO And WOLI when Oppty Closed Won NEW</label>
    <loops>
        <name>Loop_Opp_Products_into_Work_Order_Line_Items</name>
        <label>Loop Opp Products into Work Order Line Items</label>
        <locationX>182</locationX>
        <locationY>1128</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>New_WOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_WOLI_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_Case</name>
        <label>Create a Case</label>
        <locationX>182</locationX>
        <locationY>2760</locationY>
        <assignRecordIdToReference>CaseRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>getNewlyCreatedWOLI</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>PRO INSTALL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>getQueueId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0124v000001yTRJAA2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcategory__c</field>
            <value>
                <stringValue>AAA</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Service_Appointment_0_0</name>
        <label>Create Service Appointment</label>
        <locationX>182</locationX>
        <locationY>2640</locationY>
        <connector>
            <targetReference>Create_a_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getWO.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>getWO.Planned_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Scheduling_Policy_Used__c</field>
            <value>
                <stringValue>a2R6g000000K5EMEA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>getWO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Number__c</field>
            <value>
                <elementReference>getWO.WorkOrderNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Type_Name_for_Flow__c</field>
            <value>
                <stringValue>08q7X000000Ck1DQAS</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Takeover</name>
        <label>Create WOLI Takeover</label>
        <locationX>50</locationX>
        <locationY>2184</locationY>
        <connector>
            <targetReference>Create_WOLI_Takeover_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getTakeoverProductsFromPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <stringValue>take-0001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Takeover_0</name>
        <label>Create WOLI Training</label>
        <locationX>50</locationX>
        <locationY>2304</locationY>
        <connector>
            <targetReference>getWO</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>&quot;Consultation &amp; New Installation Training&quot;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getTrainingProductsFromPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <stringValue>train-00001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_WOLI_Takeover_0_0</name>
        <label>Create WOLI Training</label>
        <locationX>314</locationX>
        <locationY>2064</locationY>
        <connector>
            <targetReference>getWO</targetReference>
        </connector>
        <inputAssignments>
            <field>Original_Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <numberValue>0.5</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getTrainingProductsFromPriceBook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <stringValue>train-00001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <stringValue>Activity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remove_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_0</name>
        <label>Create Work Order</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <assignRecordIdToReference>WorkOrderRecord.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Opp_Products_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Account.ShippingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>$Record.Time_To_install_in_Hr__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>workTypeRecord.ID_18__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_WOLI_Collection</name>
        <label>Insert WOLI Collection</label>
        <locationX>182</locationX>
        <locationY>1584</locationY>
        <connector>
            <targetReference>getQuote</targetReference>
        </connector>
        <inputReference>WOLICollectionInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset_0</name>
        <label>Get Asset</label>
        <locationX>182</locationX>
        <locationY>3000</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateWOWithCaseIdAndTakeOverHrs_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AssetScheduled</name>
        <label>Get AssetScheduled</label>
        <locationX>578</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SendWOliAndAssetsToApex_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>182</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Products_To_Get_skill_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products_0_0</name>
        <label>Get Opp Products</label>
        <locationX>182</locationX>
        <locationY>888</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOLI_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opp_Products_To_Get_skill_Number</name>
        <label>Get Opp Products To Get skill Number</label>
        <locationX>182</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getWorkTypeForWorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>skillLevel</assignToReference>
            <field>Skill_Level__c</field>
        </outputAssignments>
        <sortField>Get_Skill_Level_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getCaseScheduled</name>
        <label>getCaseScheduled</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AssetScheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124v000001yTRJAA2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getNewlyCreatedWOLI</name>
        <label>getNewlyCreatedWOLI</label>
        <locationX>182</locationX>
        <locationY>2880</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItemsRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity_Product__c</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>Discount</queriedFields>
        <queriedFields>Duration</queriedFields>
        <queriedFields>DurationInMinutes</queriedFields>
        <queriedFields>Total_Duration_Hours__c</queriedFields>
        <queriedFields>DurationType</queriedFields>
        <queriedFields>Total_Duration_Hours_F__c</queriedFields>
        <queriedFields>Opportunity_Id__c</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getNewlyCreatedWOLI_0</name>
        <label>getNewlyCreatedWOLI</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCaseScheduled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getWOScheduled.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>installation Queue</description>
        <name>getQueueId</name>
        <label>getQueueId</label>
        <locationX>182</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>installation_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>182</locationX>
        <locationY>1704</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getTrainingProductsFromPriceBook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTakeoverProductsFromPriceBook</name>
        <label>getTakeoverProductsFromPriceBook</label>
        <locationX>50</locationX>
        <locationY>2064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_WOLI_Takeover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>Contains</operator>
            <value>
                <stringValue>take-00001</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.SBQQ__PricebookId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTrainingProductsFromPriceBook</name>
        <label>getTrainingProductsFromPriceBook</label>
        <locationX>182</locationX>
        <locationY>1824</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_Takeover</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductCode</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>train-00001</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.SBQQ__PricebookId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWO</name>
        <label>getWO</label>
        <locationX>182</locationX>
        <locationY>2520</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Service_Appointment_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getWorkTypeForWorkOrder</name>
        <label>getWorkTypeForWorkOrder</label>
        <locationX>182</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Skill_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>skillLevel</elementReference>
            </value>
        </filters>
        <object>WorkType</object>
        <outputReference>workTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ID_18__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWOScheduled</name>
        <label>getWOScheduled</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNewlyCreatedWOLI_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateWOWithCaseIdAndTakeOverHrs_0</name>
        <label>UpdateWOWithCaseIdAndTakeOverHrs</label>
        <locationX>182</locationX>
        <locationY>3120</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>getWO.Planned_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getQueueId</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional Install</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contractor Install</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X5_Mins_Later</name>
            <connector>
                <targetReference>StageChanged</targetReference>
            </connector>
            <label>5 Mins Later</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AssetCollectionInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>NewAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>NewProductRequired</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>ProductRequiredCollectionToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>skillLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>skillLevelForWorkOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SkillLevels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SkillNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StoreUpdatedAssetIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLI_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLICollectionInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLINew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOLIRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderLineItemsRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
