flows/Create_Work_Order_Line_Items_Subflow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Are_Select_Products_Blank</name>
        <label>Are Select Products Blank?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Parse_Multiselect_Picklist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_Products_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Products</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountProducts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactID</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Work Order Line Items Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Work Order Line Items Subflow</label>
    <loops>
        <name>Line_Item_Creation_Loop</name>
        <label>Line Item Creation Loop</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <collectionReference>Selected_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Line_Item_ID</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Line_Item_Creation_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Line_Item_ID.Product2.Standard_Pricebook_Entry_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <elementReference>Get_Line_Item_ID.Product2.ProductCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Line_Item_ID</name>
        <label>Get Line Item ID</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Line_Item_Creation_Loop</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Products_Screen</name>
        <label>Select Products</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_Select_Products_Blank</targetReference>
        </connector>
        <fields>
            <name>Select_Products</name>
            <choiceReferences>AccountProducts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Products</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Select_Products_Screen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Parse_Multiselect_Picklist</name>
        <label>Parse Multiselect Picklist</label>
        <locationX>352</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Line_Item_Creation_Loop</targetReference>
        </connector>
        <flowName>Parse_Multi_Select</flowName>
        <inputAssignments>
            <name>input_MultiSelectString</name>
            <value>
                <elementReference>Select_Products</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Line_Items</assignToReference>
            <name>output_ParsedMultiSelect</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Line_Item_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Selected_Line_Items</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
