flows/Customer_Systems.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>AssignVariablesToUpdate_0</name>
        <label>AssignVariablesToUpdate</label>
        <locationX>138</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>EachAsset.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssetStatus_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EachAsset.Customer_Warranty_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Warranty_Expiration_Date1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAsset_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkAssetsExist</name>
        <label>checkAssetsExist</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>No_Customer_systems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CustomerSystemAssetExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssetRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAssets_0</targetReference>
            </connector>
            <label>CustomerSystemAssetExists</label>
        </rules>
    </decisions>
    <description>Update Assets with customer system information</description>
    <dynamicChoiceSets>
        <name>AssetStatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewAssetStatuses</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Asset</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Customer Systems {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Systems</label>
    <loops>
        <name>LoopAssets_0</name>
        <label>LoopAssets</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNextValueToReference>EachAsset</assignNextValueToReference>
        <collectionReference>AssetRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Asset_Information_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>getAccountDetails</name>
        <label>getAccountDetails</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAssetsFromWO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderRecord.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>accountRecordFromWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetAssetsFromWO</name>
        <label>GetAssetsFromWO</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkAssetsExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountRecordFromWO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Systems</stringValue>
            </value>
        </filters>
        <object>Asset</object>
        <outputReference>AssetRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
        <queriedFields>Work_Order_Line_Item__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>InstallDate</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>ProductCode</queriedFields>
        <queriedFields>Customer_System_Id__c</queriedFields>
        <queriedFields>Customer_Warranty_Expiration_Date__c</queriedFields>
        <queriedFields>Warranty__c</queriedFields>
        <queriedFields>Warranty_Code__c</queriedFields>
        <queriedFields>Warranty_Date__c</queriedFields>
        <queriedFields>Warranty_Length__c</queriedFields>
        <queriedFields>Panel_Type__c</queriedFields>
        <queriedFields>Alarm__c</queriedFields>
        <queriedFields>AlarmCompanyCode__c</queriedFields>
        <queriedFields>CustomerSystems_Name__c</queriedFields>
        <queriedFields>Customer_Site__c</queriedFields>
        <queriedFields>AssetLevel</queriedFields>
        <queriedFields>SBQQ__Number__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ServiceLevelCode__c</queriedFields>
        <queriedFields>Service_Level_Code__c</queriedFields>
        <queriedFields>SBQQ__OptionLevel__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAsset_0</name>
        <label>UpdateAsset</label>
        <locationX>138</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>LoopAssets_0</targetReference>
        </connector>
        <inputReference>EachAsset</inputReference>
    </recordUpdates>
    <screens>
        <name>Asset_Information_0</name>
        <label>Asset Information</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignVariablesToUpdate_0</targetReference>
        </connector>
        <fields>
            <name>AssetName_0</name>
            <fieldText>&lt;p&gt;{!EachAsset.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Alarm</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgba(32, 33, 36, 0.04); font-size: 12px; font-family: Roboto, sans-serif; color: rgb(32, 33, 36);&quot;&gt;Stages System #&lt;/span&gt;: &lt;b&gt;{!EachAsset.Alarm__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InstallDate</name>
            <fieldText>&lt;p&gt;Install Date:&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!EachAsset.InstallDate}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceLevel</name>
            <fieldText>&lt;p&gt;Service Level Code:  &lt;b&gt;{!EachAsset.Service_Level_Code__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WarrantyCode</name>
            <fieldText>&lt;p&gt;Warranty Code:&lt;b&gt;{!EachAsset.Warranty_Code__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WarrantyDate</name>
            <fieldText>&lt;p&gt;Warranty Date: &lt;b&gt;{!EachAsset.Warranty_Date__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>WarrantyLength</name>
            <fieldText>&lt;p&gt;Warranty Length: &lt;b&gt;{!EachAsset.Warranty_Length__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PanelType</name>
            <fieldText>&lt;p&gt;Panel Type: &lt;b&gt;{!EachAsset.Panel_Type__c}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AssetStatus_0</name>
            <choiceReferences>AssetStatuses</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EachAsset.Status</elementReference>
            </defaultValue>
            <fieldText>AssetStatus</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Warranty_Expiration_Date1</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EachAsset.Customer_Warranty_Expiration_Date__c</elementReference>
            </defaultValue>
            <fieldText>Warranty Expiration Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Customer_systems</name>
        <label>No Customer systems</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayMessage</name>
            <fieldText>&lt;p&gt;There are no customer systems associated with this work order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountRecordFromWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>AssetRecordToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>EachAsset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
