flows/Dealers_Create_New_Order_for_Cannot_Complete.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_New_Order_Product_To_Collection_0_0_0_0_0_0_0_0</name>
        <label>Add New Order Product To Collection</label>
        <locationX>974</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>NewOrderProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Order_flag</name>
        <label>Create New Order flag</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CreateNewOrderFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Order_TRUE_0_0_0_0_0_0</name>
        <label>Create New Order TRUE</label>
        <locationX>732</locationX>
        <locationY>1415</locationY>
        <assignmentItems>
            <assignToReference>CreateNewOrderFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Order_Product_0_0_0_0_0_0_0_0</name>
        <label>New Order Product</label>
        <locationX>974</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>NewOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Parts_to_be_Shipped__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Unit_Price_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.SBQQ__OrderedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Parts_to_be_Shipped__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.SBQQ__QuotedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Adjusted_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Final_Price_Before_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Discount_Dollars__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Original_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Final_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Total_Price_After_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Final_Price_Before_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Equipment_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Total_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Sedona_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.PricebookEntry.Product2.Sedona_Product_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Equipment_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Total_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Adjusted_Total_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Total_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Create_RS_Sales_Order_Line_Item__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Order_Product_To_Collection_0_0_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Order_Product_Collection_0</name>
        <label>New Order Product Collection</label>
        <locationX>710</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>NewOrderProductsCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop2_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Create_New_Order_0</name>
        <label>If Create New Order</label>
        <locationX>380</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Create_Order_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Order</defaultConnectorLabel>
        <rules>
            <name>Update_Order_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewOrderFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Order_Exist_Activate_0_0</targetReference>
            </connector>
            <label>Update Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Exist_0_0</name>
        <label>If Order Shipped</label>
        <locationX>732</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do nothing</defaultConnectorLabel>
        <rules>
            <name>Order_NOT_Exist_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Remove_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_Product_0_0_0</targetReference>
            </connector>
            <label>Order Not Shipped</label>
        </rules>
        <rules>
            <name>Order_Shipped</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Remove_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipped</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Order_TRUE_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Order Shipped</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Exist_Activate_0_0</name>
        <label>If Order Exist Activate</label>
        <locationX>50</locationX>
        <locationY>2039</locationY>
        <defaultConnectorLabel>Update Order</defaultConnectorLabel>
        <rules>
            <name>No_Activate_Order_0_0</name>
            <conditionLogic>( 1 AND 2 )OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Update Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Product_Type_0_0</name>
        <label>Product Qt Changed</label>
        <locationX>952</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Changed</defaultConnectorLabel>
        <rules>
            <name>Addon_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Is_Product_Qty_Incremented__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Order_Exist_0_0</targetReference>
            </connector>
            <label>Product QT changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status</name>
        <label>If Status</label>
        <locationX>1150</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WOLI Removed</defaultConnectorLabel>
        <rules>
            <name>WOLI_NOT_Removed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Product_Type_0_0</targetReference>
            </connector>
            <label>WOLI NOT_Removed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_0</name>
        <label>If Status</label>
        <locationX>886</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>New_Order_Product_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status NOT Removed</defaultConnectorLabel>
        <rules>
            <name>Status_Removed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop2_WorkOrdeLineItems.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop2_WorkOrdeLineItems.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop2_WorkOrdeLineItems.Product_Family__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Installment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop2_WorkOrdeLineItems</targetReference>
            </connector>
            <label>Status Removed</label>
        </rules>
    </decisions>
    <formulas>
        <name>AdjustedQtTotal</name>
        <dataType>Number</dataType>
        <expression>{!Loop1_WorkOrdeLineItems.Adjusted_Quantity__c} - {!Loop1_WorkOrdeLineItems.Original_Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>AdjustedQtTotalLoop2</name>
        <dataType>Number</dataType>
        <expression>{!Loop2_WorkOrdeLineItems.Adjusted_Quantity__c} - {!Loop2_WorkOrdeLineItems.Original_Quantity__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Dealers: Create New Order for Cannot Complete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dealers: Create New Order for Cannot Complete</label>
    <loops>
        <name>Loop1_WorkOrdeLineItems</name>
        <label>Loop WorkOrdeLineItems</label>
        <locationX>380</locationX>
        <locationY>935</locationY>
        <collectionReference>Get_WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Create_New_Order_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2_WorkOrdeLineItems</name>
        <label>Loop WorkOrdeLineItems</label>
        <locationX>710</locationX>
        <locationY>2279</locationY>
        <collectionReference>Get_WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Status_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Order_Products_2_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Order_Products_2_0</name>
        <label>Create New Order Products</label>
        <locationX>710</locationX>
        <locationY>2951</locationY>
        <connector>
            <targetReference>Activate_New_Order_0</targetReference>
        </connector>
        <inputReference>NewOrderProductsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_0</name>
        <label>Create Order</label>
        <locationX>710</locationX>
        <locationY>2039</locationY>
        <connector>
            <targetReference>New_Order_Product_Collection_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Installation_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Net_Sales_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Dealer_Net_Sales_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Discount__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Equipment_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Pro__c</field>
            <value>
                <elementReference>getAssignedResource.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>get_WO.Pricebook2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>QuotePrimaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Job_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Job_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Sales_Rep_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Sales_Rep_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Task_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>get_WO.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Product_0_0_0</name>
        <label>Create Order Product</label>
        <locationX>468</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjusted_Price__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Final_Price_Before_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adjusted_Total_Discount__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Total_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Dollars__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Original_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Tax__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Total_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Price__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Total_Price_After_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.PricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Parts_to_be_Shipped__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OrderedQuantity__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Parts_to_be_Shipped__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuotedQuantity__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Original_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Product_ID__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.PricebookEntry.Product2.Sedona_Product_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Total_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Unit_Price_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Update_RS_Sales_Order_Line_Item__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAssignedResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_WO.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_WO</name>
        <label>get WO</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrderLineItems</name>
        <label>Get WorkOrderLineItems</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Order_flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_WO.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Equipment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssignedResource</name>
        <label>getAssignedResource</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrderLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_New_Order_0</name>
        <label>Prepare the account</label>
        <locationX>710</locationX>
        <locationY>3071</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Order_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prepare the Account</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_WO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assisting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Dealer</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateNewOrderFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CreateNewQuoteFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>NewOrderProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>NewQuoteFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuotePrimaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
