flows/DeleteReplacedOpportunityandRelatedRecords.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendServiceAppointmentCancellationEmail</name>
        <label>SendServiceAppointmentCancellationEmail</label>
        <locationX>50</locationX>
        <locationY>714</locationY>
        <actionName>ServiceAppointment.Service_Appointment_Cancellation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UnPintheServiceAppointments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>ServiceAppiontmentId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>CheckOpportunityLineItems</name>
        <label>CheckOpportunityLineItems</label>
        <locationX>1896</locationX>
        <locationY>508</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OppLineItemNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityLineItemsDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteOpportunityLineItems</targetReference>
            </connector>
            <label>OppLineItemNotNull</label>
        </rules>
        <rules>
            <name>OppLineItemIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOpportunityLineItemsDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteOpportunity</targetReference>
            </connector>
            <label>OppLineItemIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckQuoteRecords</name>
        <label>CheckQuoteRecords</label>
        <locationX>1500</locationX>
        <locationY>678</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>QuoteNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteRecordsDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteQuotes</targetReference>
            </connector>
            <label>QuoteNotNull</label>
        </rules>
        <rules>
            <name>QuoteIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteRecordsDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetOpportunityLineItemsDel</targetReference>
            </connector>
            <label>QuoteIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision is used to check if there are any scheduled service appointments for the opportunity.</description>
        <name>CheckServiceAppintmentIdIsNULLORNOT</name>
        <label>CheckServiceAppintmentIdIsNULLORNOT</label>
        <locationX>444</locationX>
        <locationY>569</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceAppointmentIdNULL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppiontmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppiontmentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UnPintheServiceAppointments</targetReference>
            </connector>
            <label>ServiceAppointmentIdNULL</label>
        </rules>
        <rules>
            <name>ServiceAppointmentIdNOTNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppiontmentId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ServiceAppiontmentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendServiceAppointmentCancellationEmail</targetReference>
            </connector>
            <label>ServiceAppointmentIdNOTNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckServiceAppointment</name>
        <label>CheckServiceAppointment</label>
        <locationX>677</locationX>
        <locationY>804</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ServiceAppointmentNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceAppointmentRecordsDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteServiceAppointmentRecords</targetReference>
            </connector>
            <label>ServiceAppointmentNotNull</label>
        </rules>
        <rules>
            <name>ServiceAppointmentIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetServiceAppointmentRecordsDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWorkOrderDel</targetReference>
            </connector>
            <label>ServiceAppointmentIsNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWorkOrders</name>
        <label>CheckWorkOrders</label>
        <locationX>1078</locationX>
        <locationY>775</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOListIsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkOrderDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteWorkOrders</targetReference>
            </connector>
            <label>WOListIsNotNull</label>
        </rules>
        <rules>
            <name>WOListIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkOrderDel</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetQuoteRecordsDel</targetReference>
            </connector>
            <label>WOListIsNull</label>
        </rules>
    </decisions>
    <description>This flow will be called when the opportunity_replaced__c flag updated to true and it deletes all the records related to opportunity and deletes the opportunity as well.</description>
    <interviewLabel>DeleteReplacedOpportunityandRelatedRecords {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteReplacedOpportunityandRelatedRecords</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteOpportunity</name>
        <label>DeleteOpportunity</label>
        <locationX>1908</locationX>
        <locationY>844</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteOpportunityLineItems</name>
        <label>DeleteOpportunityLineItems</label>
        <locationX>2102</locationX>
        <locationY>804</locationY>
        <connector>
            <targetReference>DeleteOpportunity</targetReference>
        </connector>
        <inputReference>GetOpportunityLineItemsDel</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteQuotes</name>
        <label>DeleteQuotes</label>
        <locationX>1728</locationX>
        <locationY>915</locationY>
        <connector>
            <targetReference>GetOpportunityLineItemsDel</targetReference>
        </connector>
        <inputReference>GetQuoteRecordsDel</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteServiceAppointmentRecords</name>
        <label>DeleteServiceAppointmentRecords</label>
        <locationX>699</locationX>
        <locationY>411</locationY>
        <connector>
            <targetReference>GetWorkOrderDel</targetReference>
        </connector>
        <inputReference>GetServiceAppointmentRecordsDel</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteWorkOrders</name>
        <label>DeleteWorkOrders</label>
        <locationX>1106</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>GetQuoteRecordsDel</targetReference>
        </connector>
        <inputReference>GetWorkOrderDel</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Scheduled_Service_Appointments</name>
        <label>Get Scheduled Service Appointments</label>
        <locationX>469</locationX>
        <locationY>411</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckServiceAppintmentIdIsNULLORNOT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>ServiceAppiontmentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunityLineItemsDel</name>
        <label>GetOpportunityLineItemsDel</label>
        <locationX>1706</locationX>
        <locationY>548</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOpportunityLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteRecordsDel</name>
        <label>GetQuoteRecordsDel</label>
        <locationX>1271</locationX>
        <locationY>790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckQuoteRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetServiceAppointmentRecordsDel</name>
        <label>GetServiceAppointmentRecordsDel</label>
        <locationX>466</locationX>
        <locationY>809</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderDel</name>
        <label>GetWorkOrderDel</label>
        <locationX>978</locationX>
        <locationY>556</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckWorkOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This is to update the opportunity related service appointments and unpin the opportunity if it pinned</description>
        <name>UnPintheServiceAppointments</name>
        <label>UnPintheServiceAppointments</label>
        <locationX>311</locationX>
        <locationY>796</locationY>
        <connector>
            <targetReference>GetServiceAppointmentRecordsDel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSL__Pinned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__Pinned__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>313</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Scheduled_Service_Appointments</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>opportunity_replaced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ServiceAppiontmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
