flows/FSL_Snap_ins_New_Appointment_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AttemptBooking</name>
        <label>AttemptBooking</label>
        <locationX>1104</locationX>
        <locationY>276</locationY>
        <actionName>ESWFieldServiceBookAppointment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ValidateBookingAttempt</targetReference>
        </connector>
        <inputParameters>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatingHourId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>PolicyIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>NewSA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotBegin</name>
            <value>
                <elementReference>TimeslotBegin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotFinish</name>
            <value>
                <elementReference>TimeslotFinish</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>BookingError</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WasBookingSuccessful</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignServiceAppointmentIdToOutput</name>
        <label>AssignServiceAppointmentIdToOutput</label>
        <locationX>1209</locationX>
        <locationY>720</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSA.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimeslotBegin</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignServiceAppointmentValues</name>
        <label>AssignServiceAppointmentValues</label>
        <locationX>101</locationX>
        <locationY>630</locationY>
        <assignmentItems>
            <assignToReference>SA2.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SA2.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Policy_ID</name>
        <label>Policy ID</label>
        <locationX>686</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>PolicyIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2R6g000000K5EMEA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Scheduler_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ValidateBookingAttempt</name>
        <label>ValidateBookingAttempt</label>
        <locationX>977</locationX>
        <locationY>493</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>BookingSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasBookingSuccessful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmScreen</targetReference>
            </connector>
            <label>BookingSuccessful</label>
        </rules>
        <rules>
            <name>BookingUnSuccessful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasBookingSuccessful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Scheduler_Screen</targetReference>
            </connector>
            <label>BookingUnSuccessful</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WorkType</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ShouldAutoCreateSvcAppt</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeId2</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>{!Date_of_Service} + 7</expression>
    </formulas>
    <formulas>
        <name>EarliestDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>LoggedInUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>FSL S {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL Snap-ins New Appointment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceWeb</processType>
    <recordLookups>
        <name>Lookup_New_SA</name>
        <label>Lookup New SA</label>
        <locationX>546</locationX>
        <locationY>179</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Policy_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order_Number</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>NewSA.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OperatingHourId</assignToReference>
            <field>Operating_Hours_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>ConfirmScreen</name>
        <label>ConfirmScreen</label>
        <locationX>985</locationX>
        <locationY>720</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignServiceAppointmentIdToOutput</targetReference>
        </connector>
        <fields>
            <name>ConfirmScreenMsg1</name>
            <fieldText>&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Your Appointment has been scheduled.  Click next to continue.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>Appointment Confirmed</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DateAndLocation</name>
        <label>DateAndLocation</label>
        <locationX>97</locationX>
        <locationY>495</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Intro</name>
            <fieldText>Confirm the address where you would like your service to be performed.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShippingStreet</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingStreet</elementReference>
            </defaultValue>
            <fieldText>Shipping Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ShippingCity</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingCity</elementReference>
            </defaultValue>
            <fieldText>Shipping City</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>State</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingState</elementReference>
            </defaultValue>
            <fieldText>State</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Zip_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingPostalCode</elementReference>
            </defaultValue>
            <fieldText>Zip Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Country</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>AccountVariable.ShippingCountry</elementReference>
            </defaultValue>
            <fieldText>Country</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ServiceDateSelection</name>
            <fieldText>When is the earliest you would like the service to occur?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Service</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EarliestDate</elementReference>
            </defaultValue>
            <fieldText>Date of Service</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>Time and Place?</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkOrderCreate</name>
        <label>WorkOrderCreate</label>
        <locationX>415</locationX>
        <locationY>103</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_New_SA</targetReference>
        </connector>
        <fields>
            <name>WelcomeIntro</name>
            <fieldText>&lt;p&gt;Hello welcome to AAA Smart Home Self Scheduler Please Answer the Questions Below to Help me Locate Your Work Order.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>Work Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>Create your work order</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>WorkOrderCreate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Show_Scheduler_Screen</name>
        <label>Show Scheduler Screen</label>
        <locationX>881</locationX>
        <locationY>275</locationY>
        <connector>
            <targetReference>AttemptBooking</targetReference>
        </connector>
        <flowName>Show_Snap_Ins_Scheduler_Embedded_Flow</flowName>
        <inputAssignments>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatingHourId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>policyId</name>
            <value>
                <elementReference>PolicyIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>previousBookingAttemptError</name>
            <value>
                <elementReference>BookingError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SA</name>
            <value>
                <elementReference>NewSA</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotBegin</assignToReference>
            <name>TimeslotBegin</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotFinish</assignToReference>
            <name>TimeslotFinish</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>BookingError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>OperatingHourId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SA2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotBegin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>WasBookingSuccessful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
