flows/FSL_Community_Scheduler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Attempt_Booking</name>
        <label>Attempt Booking</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <actionName>ESWFieldServiceBookAppointment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Validate_Booking</targetReference>
        </connector>
        <inputParameters>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatinghoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>NewSA</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotBegin</name>
            <value>
                <elementReference>TimeslotBegin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeslotFinish</name>
            <value>
                <elementReference>TimeslotFinish</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>BookingError</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>WasBookingSuccessful</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_SA_ID_to_Output</name>
        <label>Assign SA ID to Output</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSA.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Policy_Id</name>
        <label>Policy Id</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>PolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a2R6g000000K5EMEA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Screen_Scheduler</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Validate_Booking</name>
        <label>Validate Booking</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WasBookingSuccessful</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirmation</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <interviewLabel>FSL Community Scheduler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Schedule an Appointment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Lookup_SA</name>
        <label>Lookup SA</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Policy_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email_Address</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Work_Order_Number</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputAssignments>
            <assignToReference>NewSA.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OperatinghoursId</assignToReference>
            <field>Operating_Hours_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_SA_ID_to_Output</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WorkOrderCreate</name>
        <label>WorkOrderCreate</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Lookup_SA</targetReference>
        </connector>
        <fields>
            <name>Welcome_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Hello welcome to AAA Smart Home Self Scheduler Please Answer the Questions Below to Help me Locate Your Work Order.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Address</name>
            <dataType>String</dataType>
            <fieldText>Email Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Work_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>Work Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>WorkOrderCreate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Show_Screen_Scheduler</name>
        <label>Show Screen Scheduler</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Attempt_Booking</targetReference>
        </connector>
        <flowName>Show_Snap_Ins_Scheduler</flowName>
        <inputAssignments>
            <name>operatingHoursId</name>
            <value>
                <elementReference>OperatinghoursId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>policyId</name>
            <value>
                <elementReference>PolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>previousBookingAttemptError</name>
            <value>
                <elementReference>BookingError</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SA</name>
            <value>
                <elementReference>NewSA</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotBegin</assignToReference>
            <name>TimeslotBegin</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>TimeslotFinish</assignToReference>
            <name>TimeslotFinish</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>BookingError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>OperatinghoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PolicyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotBegin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WasBookingSuccessful</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
