flows/Lead_Conversion_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CallLeadConvertion</name>
        <label>CallLeadConvertion</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <actionName>ConvertLeads</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>GetParentAcc.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CallLeadConvertion_0</name>
        <label>CallLeadConvertion</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <actionName>ConvertLeads</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>GetParentAcc.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>CallLeadConvertion_0_0</name>
        <label>CallLeadConvertion</label>
        <locationX>842</locationX>
        <locationY>1511</locationY>
        <actionName>ConvertLeads</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accId</name>
            <value>
                <elementReference>Create_Parent_Account_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>LeadTypeBAsedOnFootage</name>
        <label>LeadTypeBAsedOnFootage</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LeadType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Commercial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_with_New_Member_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LeadTypeBAsedOnFootage_0</name>
        <label>LeadTypeBAsedOnFootage</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LeadType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Residential</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_with_New_Member_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LeadTypeBAsedOnFootage_0_0</name>
        <label>LeadTypeBAsedOnFootage</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>LeadType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_with_New_Member_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Site_Account</name>
        <label>Check Site Account</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>update_Lead_With_Existing_Member_Site</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not  available</defaultConnectorLabel>
        <rules>
            <name>Is_Site_Acc_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Site_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_With_Member_Upgrade</targetReference>
            </connector>
            <label>Is Site Acc Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckParentAvailable</name>
        <label>CheckParentAvailable</label>
        <locationX>776</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Is_Parent_Acc_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Site_Account</targetReference>
            </connector>
            <label>Is Parent Acc Available</label>
        </rules>
        <rules>
            <name>Parent_And_Site_Account_Is_Not_vailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetParentAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Type</targetReference>
            </connector>
            <label>Parent And Site Account Is Not vailable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Based On Square Footage decide the lead Type</description>
        <name>Set_Lead_Type</name>
        <label>Set Lead Type</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>LeadTypeBAsedOnFootage_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Threshold_Above_4k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Square_Footage__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>4000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadTypeBAsedOnFootage</targetReference>
            </connector>
            <label>Threshold Above 4k</label>
        </rules>
        <rules>
            <name>Threshold_Below_4k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Square_Footage__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeadTypeBAsedOnFootage_0</targetReference>
            </connector>
            <label>Threshold_Below_4k</label>
        </rules>
    </decisions>
    <interviewLabel>Lead Conversion Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Parent_Account_Record</name>
        <label>Create Parent Account Record</label>
        <locationX>842</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Create_site_Account_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Parent_Account_RecordTye.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_site_Account_Record</name>
        <label>Create site  Account Record</label>
        <locationX>842</locationX>
        <locationY>1391</locationY>
        <connector>
            <targetReference>CallLeadConvertion_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Create_Parent_Account_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Site_Acc_Record_Type_Acc_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Parent_Account_RecordTye</name>
        <label>Get Parent Account RecordTye</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Parent_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ParentAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Acc_Record_Type_Acc_0</name>
        <label>Get Site Acc Record Type Acc</label>
        <locationX>776</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckParentAvailable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SiteAccount</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Site_Account</name>
        <label>Get Site Account</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Site_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Site_Acc_Record_Type_Acc_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetParentAcc.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingState</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Account Based on Company Name or Address of Lead</description>
        <name>GetParentAcc</name>
        <label>GetParentAcc</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Site_Acc_Record_Type_Acc_0</targetReference>
        </connector>
        <filterLogic>1 OR ( 2 AND 3 AND 4 AND 5 AND 6)</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Company</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Street</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.City</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingState</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.State</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Here We need to create Site Account Only and Opportunity with New Instalation Type</description>
        <name>update_Lead_With_Existing_Member_Site</name>
        <label>update Lead With Existing  Member-Site</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>CallLeadConvertion_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Member_Upgrade__c</field>
            <value>
                <stringValue>Existing Member-New site</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentAccCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Here we need to create opportunity only while converting the Lead</description>
        <name>Update_Lead_With_Member_Upgrade</name>
        <label>Update Lead With Member Upgrade</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>CallLeadConvertion</targetReference>
        </connector>
        <inputAssignments>
            <field>Member_Upgrade__c</field>
            <value>
                <stringValue>Existing Member-Upgrade</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Here we need to Create parent Account and Site Account</description>
        <name>Update_Lead_with_New_Member_0</name>
        <label>Update Lead with New Member</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>Get_Parent_Account_RecordTye</targetReference>
        </connector>
        <inputAssignments>
            <field>Member_Upgrade__c</field>
            <value>
                <stringValue>New Member</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentAccCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>LeadType</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParentAcc</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>LeadType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
