flows/New_Work_Order_From_The_Case.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_ID_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign ID</label>
        <locationX>1106</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_L2_siteaccount_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Select_Products_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign ID</label>
        <locationX>1370</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_L3_siteaccount_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Select_Products_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign ID</label>
        <locationX>842</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_L1_siteaccount_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Select_Products_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign ID</label>
        <locationX>314</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_L2_nosite_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Select_Products_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign ID</label>
        <locationX>578</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_L3_nosite_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Select_Products_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Assign ID</label>
        <locationX>50</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Work_Order_L1_nosite_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Select_Products_Blank_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If  Dealer Installation Type is available then Assigning it to Variable in order to check Dealer Installation Checkbox on the Case.</description>
        <name>AssignDealerVariableForCase</name>
        <label>AssignDealerVariableForCase</label>
        <locationX>710</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>DealerSevriceBooleanCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SiteAccountNull_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignDealerVariables</name>
        <label>assignDealerVariables</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>AssignedDealer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_Dealer.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DealerRecordTypeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DealerServicesBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignDealerVariableForCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If Pro Installation is present then we are Assigning Pro Installation type into Variable inorder to update Pro Field on the Case.</description>
        <name>AssignProVariableForCase</name>
        <label>AssignProVariableForCase</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>ProServiceBooleanCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SiteAccountNull_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProVariables</name>
        <label>AssignProVariables</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MasterRecordTypeIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProServicesBoolean</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignProVariableForCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignProVariables_0</name>
        <label>AssignProVariables</label>
        <locationX>974</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>AssignMasterRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MasterRecordTypeIdFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SiteAccountNull_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>L1_Choice</name>
        <choiceText>L1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L1</stringValue>
        </value>
    </choices>
    <choices>
        <name>L2_Choice</name>
        <choiceText>L2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L2</stringValue>
        </value>
    </choices>
    <choices>
        <name>L3_Choice</name>
        <choiceText>L3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>L3</stringValue>
        </value>
    </choices>
    <choices>
        <name>None_Choice</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>PleaseSelectSite</name>
        <choiceText>Please Select a Site Account</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Are_Select_Products_Blank_0</name>
        <label>Are Select Products Blank?</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>parser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Select_Products_Blank_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Products_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checking_Whether_It_is_a_Pro_or_Dealer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking Queue(Ds Installation Queue) Id Exist or not</description>
        <name>Check_Id_Exist_or_Not</name>
        <label>Check Id Exist or Not</label>
        <locationX>754</locationX>
        <locationY>3470</locationY>
        <defaultConnector>
            <targetReference>Success_Screen_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Id Doesn&apos;t Exist</defaultConnectorLabel>
        <rules>
            <name>Id_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QueueId_For_Dealer.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Queue_Owner_and_Dealer_Checkbox</targetReference>
            </connector>
            <label>Id Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckAvailableInstallationTypes</name>
        <label>CheckAvailableInstallationTypes</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>AssignProVariables_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsProAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getZipCode.Pro_Install__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignProVariables</targetReference>
            </connector>
            <label>IsProAvailable</label>
        </rules>
        <rules>
            <name>IsDealerOnlyAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getZipCode.Is_Dealer_Install_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getZipCode.Pro_Install__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignDealer</targetReference>
            </connector>
            <label>IsDealerOnlyAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking whether Pro Installation is available or Dealer installation type is available.</description>
        <name>Checking_Whether_It_is_a_Pro_or_Dealer</name>
        <label>Checking Whether It is a Pro or Dealer</label>
        <locationX>710</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Success_Screen_1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pro_Installation_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProServiceBooleanCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_with_Pro_Installation</targetReference>
            </connector>
            <label>Pro Installation is Available</label>
        </rules>
        <rules>
            <name>Dealer_Installation_is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DealerSevriceBooleanCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProServiceBooleanCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QueueId_For_Dealer</targetReference>
            </connector>
            <label>Dealer Installation is Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckLoopItemIsNull</name>
        <label>CheckLoopItemIsNull</label>
        <locationX>1194</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>Line_Item_Creation_Loop_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Line_Item_Creation_Loop_0</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Asset</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_Level_0_0_0</name>
        <label>Screen Level</label>
        <locationX>1106</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Order_L3_siteaccount_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>L1_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L1_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_L1_siteaccount_0</targetReference>
            </connector>
            <label>L1</label>
        </rules>
        <rules>
            <name>L2_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L2_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_L2_siteaccount_0</targetReference>
            </connector>
            <label>L2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_Level_0_0_0_0</name>
        <label>Screen Level</label>
        <locationX>314</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Create_Work_Order_L3_nosite_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>L1_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L1_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_L1_nosite_0</targetReference>
            </connector>
            <label>L1</label>
        </rules>
        <rules>
            <name>L2_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Service_Level</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>L2_Choice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Work_Order_L2_nosite_0</targetReference>
            </connector>
            <label>L2</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiteAccount_without_address</name>
        <label>SiteAccount without address</label>
        <locationX>1304</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>site_or_address</name>
            <conditionLogic>1 OR ( 2 AND 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Site_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CityforNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryforNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PostalCodeforNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StateforNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Street1forNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SiteAccountNull</targetReference>
            </connector>
            <label>site or address</label>
        </rules>
        <rules>
            <name>address_is_null</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>Site_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CityforNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountryforNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PostalCodeforNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>StateforNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Street1forNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_complete_the_full_address</targetReference>
            </connector>
            <label>address is null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiteAccountNull</name>
        <label>SiteAccountNull</label>
        <locationX>710</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Select_Products_Screen_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSiteAccountNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Street1forNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getZipCode</targetReference>
            </connector>
            <label>IsSiteAccountNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>SiteAccountNull_0</name>
        <label>SiteAccountNull</label>
        <locationX>710</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Screen_Level_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSiteAccountNull_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Street1forNoSiteAcc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Site_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Level_0_0_0_0</targetReference>
            </connector>
            <label>IsSiteAccountNull</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountProducts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AssetsFromSiteAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Site_Account</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Customer_System</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <object>Customer_Systems__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CustomerUnderWarrantyValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Customer_Under_warranty__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Issue_Code_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue_Code__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Priority_Picklist_Choice_Set</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SiteAccount</name>
        <dataType>String</dataType>
        <displayField>Concatenated_Address__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceAddress</assignToReference>
            <field>ShippingAddress</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceCity</assignToReference>
            <field>ShippingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceCountry</assignToReference>
            <field>ShippingCountry</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceZipCode</assignToReference>
            <field>ShippingPostalCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceState</assignToReference>
            <field>ShippingState</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ServiceStreet</assignToReference>
            <field>ShippingStreet</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>DealerRecordTypeFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.Dealer_WorkOrderRecordTypeID}</expression>
    </formulas>
    <formulas>
        <name>Hours</name>
        <dataType>Number</dataType>
        <expression>IF({!Issue_Code} = &quot;Inspection&quot;, 1.0, 
IF({!Issue_Code} = &quot;False Trips&quot;, 2.0,
IF({!Issue_Code} =&quot;Faulty Zones&quot;, 1.0,
IF({!Issue_Code} =&quot;Loss of Supervision&quot;, 0.5,
IF({!Issue_Code} =&quot;Water Flow&quot;, 1.0,
IF({!Issue_Code} =&quot;Fireloop Faulted&quot;, 1.0,
IF({!Issue_Code} =&quot;Fireloop False Trip&quot;, 2.0,
IF({!Issue_Code} =&quot;Runaway Alarm&quot;, 1.0,
IF({!Issue_Code} =&quot;Service Warranty&quot;, 2.0,
IF({!Issue_Code} =&quot;Install Warranty&quot;, 2.0,
IF({!Issue_Code} =&quot;Equipment Removal&quot;, 4.0,
IF({!Issue_Code} = &quot;System Move&quot;, 4.0,
IF({!Issue_Code} =&quot;Multi Issue&quot;, 2.0,
IF({!Issue_Code} =&quot;ZWave Devices&quot;, 1.0,
IF({!Issue_Code} =&quot;Doorbell/Indoor Camera&quot;, 1.0,
IF({!Issue_Code} =&quot;Outdoor Camera&quot;, 1.0,
IF({!Issue_Code} =&quot;Low Battery&quot;, 0.5,
IF({!Issue_Code} =&quot;Comm Failure&quot;, 1.0,
NULL))))))))))))))))))</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>MasterRecordTypeIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.WorkOrder_MasterRecordtypeId}</expression>
    </formulas>
    <formulas>
        <name>StandardPriceBookIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.Standard_PriceBookId}</expression>
    </formulas>
    <formulas>
        <name>WorkTypeIdLevel1</name>
        <dataType>String</dataType>
        <expression>{!$Label.Level1_RepairServiceWorkTypeId}</expression>
    </formulas>
    <formulas>
        <name>WorkTypeIdLevel2</name>
        <dataType>String</dataType>
        <expression>{!$Label.Level2_RepairServiceWorkTypeId}</expression>
    </formulas>
    <interviewLabel>New Work Order From Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Work Order From the Case</label>
    <loops>
        <name>Line_Item_Creation_Loop_0</name>
        <label>Line Item Creation Loop</label>
        <locationX>974</locationX>
        <locationY>2462</locationY>
        <collectionReference>Selected_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckLoopItemIsNull</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Checking_Whether_It_is_a_Pro_or_Dealer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Work_Order_L1_nosite_0</name>
        <label>Create Work Order L1</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Assign_ID_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Dealer__c</field>
            <value>
                <elementReference>AssignedDealer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>CityforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>CountryforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Under_warranty__c</field>
            <value>
                <elementReference>Customer_Under_Warranty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Services__c</field>
            <value>
                <elementReference>DealerServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>PostalCodeforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>StandardPriceBookIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pro_Services__c</field>
            <value>
                <elementReference>ProServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WorkOrderRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>StateforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street1forNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeIdLevel1</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_L1_siteaccount_0</name>
        <label>Create Work Order L1</label>
        <locationX>842</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Assign_ID_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Dealer__c</field>
            <value>
                <elementReference>AssignedDealer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>ServiceCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>ServiceCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Under_warranty__c</field>
            <value>
                <elementReference>Customer_Under_Warranty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Services__c</field>
            <value>
                <elementReference>DealerServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>ServiceZipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>StandardPriceBookIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pro_Services__c</field>
            <value>
                <elementReference>ProServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WorkOrderRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>ServiceState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>ServiceStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeIdLevel1</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_L2_nosite_0</name>
        <label>Create Work Order L2</label>
        <locationX>314</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Assign_ID_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Dealer__c</field>
            <value>
                <elementReference>AssignedDealer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>CityforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>CountryforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Under_warranty__c</field>
            <value>
                <elementReference>Customer_Under_Warranty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Services__c</field>
            <value>
                <elementReference>DealerServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>PostalCodeforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>StandardPriceBookIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pro_Services__c</field>
            <value>
                <elementReference>ProServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WorkOrderRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>StateforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street1forNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeIdLevel2</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_L2_siteaccount_0</name>
        <label>Create Work Order L2</label>
        <locationX>1106</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Assign_ID_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Dealer__c</field>
            <value>
                <elementReference>AssignedDealer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>ServiceCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>ServiceCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Under_warranty__c</field>
            <value>
                <elementReference>Customer_Under_Warranty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Services__c</field>
            <value>
                <elementReference>DealerServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>ServiceZipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>StandardPriceBookIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pro_Services__c</field>
            <value>
                <elementReference>ProServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WorkOrderRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>ServiceState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>ServiceStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeIdLevel2</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_L3_nosite_0</name>
        <label>Create Work Order L3</label>
        <locationX>578</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Assign_ID_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Dealer__c</field>
            <value>
                <elementReference>AssignedDealer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>CityforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>CountryforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Under_warranty__c</field>
            <value>
                <elementReference>Customer_Under_Warranty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Services__c</field>
            <value>
                <elementReference>DealerServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>PostalCodeforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>StandardPriceBookIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pro_Services__c</field>
            <value>
                <elementReference>ProServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WorkOrderRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>StateforNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Street1forNoSiteAcc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeIdLevel2</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_L3_siteaccount_0</name>
        <label>Create Work Order L3</label>
        <locationX>1370</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Assign_ID_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Dealer__c</field>
            <value>
                <elementReference>AssignedDealer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>ServiceCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Case.Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>ServiceCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_System__c</field>
            <value>
                <elementReference>Customer_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Under_warranty__c</field>
            <value>
                <elementReference>Customer_Under_Warranty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Services__c</field>
            <value>
                <elementReference>DealerServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Code__c</field>
            <value>
                <elementReference>Issue_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>ServiceZipCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>StandardPriceBookIdFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pro_Services__c</field>
            <value>
                <elementReference>ProServicesBoolean</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>WorkOrderRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_Case.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>ServiceState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>ServiceStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeIdLevel2</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Item_0_0</name>
        <label>Create Work Order Line Item</label>
        <locationX>1062</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Line_Item_Creation_Loop_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Asset.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <elementReference>Get_Asset.Product2.Time_to_Install_Res_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Get_Asset.Product2.Standard_Pricebook_Entry_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <elementReference>Get_Asset.ProductCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WorkOrderID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>1062</locationX>
        <locationY>2702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Work_Order_Line_Item_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Line_Item_Creation_Loop_0</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1304</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gather_Work_Order_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>installation Queue</description>
        <name>Get_QueueId_For_Dealer</name>
        <label>Get QueueId For Dealer</label>
        <locationX>754</locationX>
        <locationY>3350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Id_Exist_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DS_Installation_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getZipCode</name>
        <label>getZipCode</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckAvailableInstallationTypes</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceZipCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PostalCodeforNoSiteAcc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Zip_Code__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Checking  Pro Installation Type Field Checkbox to True on Case Object.</description>
        <name>Update_Case_with_Pro_Installation</name>
        <label>Update Case with Pro Installation</label>
        <locationX>358</locationX>
        <locationY>3350</locationY>
        <connector>
            <targetReference>Success_Screen_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Pro_Install__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updating Queue Owner with Ds Installation and checking  Dealer Checkbox.</description>
        <name>Update_Queue_Owner_and_Dealer_Checkbox</name>
        <label>Update Queue Owner and Dealer Checkbox</label>
        <locationX>622</locationX>
        <locationY>3590</locationY>
        <connector>
            <targetReference>Success_Screen_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Dealer_Install__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_QueueId_For_Dealer.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>AssignDealer</name>
        <label>AssignDealer</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assignDealerVariables</targetReference>
        </connector>
        <fields>
            <name>DoYouWantToAssignDealer</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to assign dealer ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Assign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>Not Assigned</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Assign_Dealer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Assigned_Dealer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign Dealer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>WorkOrder</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DoYouWantToAssignDealer.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gather_Work_Order_Data</name>
        <label>Gather Work Order Data</label>
        <locationX>1304</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SiteAccount_without_address</targetReference>
        </connector>
        <fields>
            <name>Contact_Name</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Contact: {!Get_Case.Contact.FirstName} {!Get_Case.Contact.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Site_Account</name>
            <choiceReferences>PleaseSelectSite</choiceReferences>
            <choiceReferences>SiteAccount</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>PleaseSelectSite</defaultSelectedChoiceReference>
            <fieldText>Site Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gather_Work_Order_Data_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Gather_Work_Order_Data_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Street1forNoSiteAcc</name>
                    <fieldText>Street</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CityforNoSiteAcc</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>StateforNoSiteAcc</name>
                    <dataType>String</dataType>
                    <fieldText>State/Province</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>PostalCodeforNoSiteAcc</name>
                    <dataType>String</dataType>
                    <fieldText>Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>CountryforNoSiteAcc</name>
                    <dataType>String</dataType>
                    <fieldText>Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Site_Account</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case.Contact.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case.Contact.Phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Issue_Code</name>
            <choiceReferences>Issue_Code_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Issue Code</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Level</name>
            <choiceReferences>L1_Choice</choiceReferences>
            <choiceReferences>L2_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>Priority_Picklist_Choice_Set</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerSystem</name>
            <choiceReferences>None_Choice</choiceReferences>
            <choiceReferences>Customer_System</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer System</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Customer_Under_Warranty</name>
            <choiceReferences>CustomerUnderWarrantyValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Customer Under Warranty</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_complete_the_full_address</name>
        <label>Please complete the full address</label>
        <locationX>1634</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Gather_Work_Order_Data</targetReference>
        </connector>
        <fields>
            <name>FullAddress</name>
            <fieldText>&lt;p&gt;Please check the Service Street, City, State, or Zip Code&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products_Screen_0_0</name>
        <label>Select Products</label>
        <locationX>798</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getZipCode</targetReference>
        </connector>
        <fields>
            <name>Select_Products_0</name>
            <choiceReferences>AssetsFromSiteAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Products</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen_1_0</name>
        <label>Success Screen</label>
        <locationX>710</locationX>
        <locationY>3902</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_1_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You have successfully created a New Service Work Order and Service Appointment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confetti_1_0</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confettiEffect</name>
                <value>
                    <stringValue>Shower</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>parser</name>
        <label>parser</label>
        <locationX>974</locationX>
        <locationY>2342</locationY>
        <connector>
            <targetReference>Line_Item_Creation_Loop_0</targetReference>
        </connector>
        <flowName>Parse_Multi_Select</flowName>
        <inputAssignments>
            <name>input_MultiSelectString</name>
            <value>
                <elementReference>Select_Products_0</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Selected_Line_Items</assignToReference>
            <name>output_ParsedMultiSelect</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>assignDealerRecordType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AssignedDealer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignMasterRecordType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DealerServicesBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DealerSevriceBooleanCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Line_Item_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>If Pro Installation Service is available then Variable will contain True else False.</description>
        <name>ProServiceBooleanCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ProServicesBoolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Line_Items</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceZipCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>test</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
