flows/NotifyDealerServicesAfterAssignmentOfWO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendDispatcher</name>
        <label>SendDispatcher</label>
        <locationX>264</locationX>
        <locationY>1271</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>ContactIdsLoopToGetUser</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailRichBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>GetUserFromContactId.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>a3sh-specialists@a3smarthome.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>A new work order is assigned to you</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>getContactIds</name>
        <label>getContactIds</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getContactIdsLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getContactIdsLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getEachContactId</name>
        <label>getEachContactId</label>
        <locationX>396</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactIdsLoopToGetUser</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetUserFromContactId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkProfile</name>
        <label>checkProfile</label>
        <locationX>396</locationX>
        <locationY>1151</locationY>
        <defaultConnector>
            <targetReference>ContactIdsLoopToGetUser</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfDispatcher</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUserFromContactId.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DispatcherProfile</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendDispatcher</targetReference>
            </connector>
            <label>IfDispatcher</label>
        </rules>
    </decisions>
    <interviewLabel>NotifyDealerServicesAfterAssignmentOfWO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NotifyDealerServicesAfterAssignmentOfWOV5</label>
    <loops>
        <name>ContactIdsLoopToGetUser</name>
        <label>ContactIdsLoopToGetUser</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <collectionReference>ContactIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getEachContactId</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>getContactIdsLoop</name>
        <label>getContactIdsLoop</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>ContactRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContactIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ContactIdsLoopToGetUser</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getContactsFromAccount</name>
        <label>getContactsFromAccount</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getContactIdsLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Assigned_Dealer__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUserFromContactId</name>
        <label>GetUserFromContactId</label>
        <locationX>396</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>checkProfile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContactsFromAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assigned_Dealer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_Dealer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailRichBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!GetUserFromContactId.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new Work Order &lt;a href=&quot;https://a3smarthome--partialsb.lightning.force.com/lightning/r/WorkOrder/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.WorkOrderNumber} &lt;/a&gt;is assigned to you.&lt;/p&gt;&lt;p&gt;Please have a look at it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;&lt;p&gt;&lt;b&gt;Team A3H&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TechnicianEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!GetUserFromContactId.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You are getting this mail as you are assigned as a Dealer technician.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://a3smarthome--partialsb.lightning.force.com/lightning/r/WorkOrder/{!$Record.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!$Record.WorkOrderNumber}&lt;/a&gt; work order is assigned to you.&lt;/p&gt;&lt;p&gt;Please have a look at it.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;&lt;p&gt;&lt;b&gt;Team A3H&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DispatcherProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Dealer Services Community Dispatch</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Hello Dispatcher</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailSUbject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>subject</stringValue>
        </value>
    </variables>
    <variables>
        <name>TechnicianProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Dealer Technician</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserProfile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
