flows/Opp_and_Quote_Creation_Screen_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Quote</name>
        <label>Navigate to Quote</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Installation_Type_Choice</name>
        <label>Installation Type Choice</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>varInstallationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pro Install</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Installation_Type_Was_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Installation_Type_to_Self</name>
        <label>Set Installation Type to Self</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varInstallationType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Self Install</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Installation_Type_Was_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Based on the primary contact&apos;s zip code.</description>
        <name>Is_Pro_Available</name>
        <label>Is Pro Available</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Set_Installation_Type_to_Self</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Available</defaultConnectorLabel>
        <rules>
            <name>Pro_is_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetFullContactDetails.Pro_Install_Available__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Questions</targetReference>
            </connector>
            <label>Pro is available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Installation_Type_Was_Selected</name>
        <label>Which Installation Type Was Selected</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Get_Pro_Install_Price_Book</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pro Install</defaultConnectorLabel>
        <rules>
            <name>Self_Install</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInstallationType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Self Install</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Self_Install_Price_Book</targetReference>
            </connector>
            <label>Self Install</label>
        </rules>
    </decisions>
    <description>This flow gathers opportunity and quote information and creates a new opportunity and quote record</description>
    <dynamicChoiceSets>
        <name>InstallationType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Installation_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>OppNameFormat</name>
        <dataType>String</dataType>
        <expression>LEFT(
{!GetFullContactDetails.LastName}+&quot;: &quot;+ {!OppType}, 120)</expression>
    </formulas>
    <interviewLabel>Opp and Quote Creation Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp and Quote Creation Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create new opportunity record with values from the screen</description>
        <name>Create_new_opportunity_record</name>
        <label>Create new opportunity record</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetFullContactDetails.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>What_date_will_you_win_the_opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Type__c</field>
            <value>
                <elementReference>varInstallationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppNameFormat</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>varPriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>GetFullContactDetails.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Inquiry</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>OppType</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <connector>
            <targetReference>Update_Opp_with_Quote_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>SBQQ__Opportunity2__c</field>
            <value>
                <elementReference>Create_new_opportunity_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PriceBook__c</field>
            <value>
                <elementReference>varPriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__PrimaryContact__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__StartDate__c</field>
            <value>
                <elementReference>What_date_will_you_win_the_opportunity</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Pro_Install_Price_Book</name>
        <label>Get Pro Install Price Book</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_opportunity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pro Install</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>varPriceBookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Self_Install_Price_Book</name>
        <label>Get Self Install Price Book</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_new_opportunity_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Self Install</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>varPriceBookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the details of the contact that this flow starts from.</description>
        <name>GetFullContactDetails</name>
        <label>GetFullContactDetails</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Pro_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_with_Quote_Id</name>
        <label>Update Opp with Quote Id</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Navigate_to_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_new_opportunity_record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__PrimaryQuote__c</field>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <description>This screen is what user will fill out from the contact page to create an opportunity</description>
        <name>Create_opp_and_quote</name>
        <label>Create opp and quote</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetFullContactDetails</targetReference>
        </connector>
        <fields>
            <name>Details</name>
            <fieldText>&lt;p&gt;Please create an opportunity.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_date_will_you_win_the_opportunity</name>
            <dataType>Date</dataType>
            <fieldText>What date will you win the opportunity?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OppType</name>
            <choiceReferences>Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Quote_Questions</name>
        <label>Quote Questions</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Installation_Type_Choice</targetReference>
        </connector>
        <fields>
            <name>QualifyProInstall</name>
            <fieldText>&lt;p&gt;This customer qualifies for professional install. Please choose between Pro Install and Self Install. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Installation_Type</name>
            <choiceReferences>InstallationType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Installation Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_opp_and_quote</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Variable to store new opportunity Id</description>
        <name>newOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInstallationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
