flows/Order_Update_WO_Status_when_order_is_shipped_and_Installation_Type_is_Dealer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>WO Status will be assigned as  AAA Dealer Services Service Appointment coordination</description>
        <name>Assign_WO_Status_to_AAA_Dealer_Services_Service_Appointment_coordination</name>
        <label>Assign WO Status to AAA Dealer Services Service Appointment coordination</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>WORecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AAA Dealer Services Service Appointment coordination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCaseStatusForAAAdealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>WO Status will be assigned as Dealer Service Appointment Coordination</description>
        <name>Assign_WO_Status_to_Dealer_Service_Appointment_Coordination</name>
        <label>Assign WO Status to Dealer Service Appointment Coordination</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>WORecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dealer Service Appointment Coordination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignCaseStatusForOnlyDealer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseStatusForAAAdealer</name>
        <label>AssignCaseStatusForAAAdealer</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AAA Dealer Services Service Appointment coordination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignCaseStatusForOnlyDealer</name>
        <label>AssignCaseStatusForOnlyDealer</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>CaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dealer Service Appointment Coordination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision element check Required Service Appointment Scheduling is true or false on Account</description>
        <name>check_Required_Service_Appointment_Scheduling_is_true_or_not</name>
        <label>check Required Service Appointment Scheduling is true or not</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Update_WO_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Required_Service_Appointment_Scheduling_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WORecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WORecord.Assigned_Dealer__r.Required_Service_Appointment_Scheduling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_to_AAA_Dealer_Services_Service_Appointment_coordination</targetReference>
            </connector>
            <label>Required Service Appointment Scheduling is true</label>
        </rules>
        <rules>
            <name>Required_Service_Appointment_Scheduling_is_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WORecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WORecord.Assigned_Dealer__r.Required_Service_Appointment_Scheduling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WO_Status_to_Dealer_Service_Appointment_Coordination</targetReference>
            </connector>
            <label>Required Service Appointment Scheduling is false</label>
        </rules>
    </decisions>
    <interviewLabel>Order: Update WO to Scheduled when order is shipped and Installation Type is Dealer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order: Update WO Status when order is shipped and Installation Type is Dealer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This error log happens when updating WO Status to AAA Dealer Services Service Appointment coordination/Dealer Service Appointment Coordination</description>
        <name>Error_Log_on_Order_to_Change_WO_Status</name>
        <label>Error Log on Order to Change WO Status</label>
        <locationX>754</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error is Thrown When Updating WO Status to AAA Dealer Services Service Appointment coordination/Dealer Service Appointment Coordination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Order: Update WO to Scheduled when order is shipped and Installation Type is Dealer</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This element gets WO related to current Triggered Order record</description>
        <name>get_WO_Record</name>
        <label>get WO Record</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Order__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Assigned_Dealer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer Install</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WORecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Assigned_Dealer__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Installation_Type__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Required_Service_Appointment_Scheduling_is_true_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WORecord.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_Status</name>
        <label>Update WO Status</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>UpdateCaseStatus</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_on_Order_to_Change_WO_Status</targetReference>
        </faultConnector>
        <inputReference>WORecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseStatus</name>
        <label>UpdateCaseStatus</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <inputReference>CaseRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_WO_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipped</stringValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer Install</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>This variable store WO Record</description>
        <name>WORecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
