flows/Publish_Account_Hierarchy_Changed_Event.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Publish_Event</name>
        <label>Publish Event</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <actionName>SmartHomeCRMTopic.postV1TSmart-home-crm</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>event</name>
            <value>
                <elementReference>SmartHomeCRMEvent</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Map_Event</name>
        <label>Map Event</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>SmartHomeCRMEvent.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ACCOUNT_HIERARCHY_CHANGED</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SmartHomeCRMEvent.data</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Publish_Event</targetReference>
        </connector>
    </assignments>
    <description>Publishes an ACCOUNT_HIERARCHY_CHANGED event to the MWG API (Apigee). This flow is triggered by a platform event that is dispatched whenever any record in an Account hierarchy is created or modified. The event payload always contains the Parent Account ID.</description>
    <interviewLabel>Publish Account Hierarchy Changed Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Publish Account Hierarchy Changed Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Map_Event</targetReference>
        </connector>
        <object>Account_Hierarchy_Changed__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ECommerceAccountUpdatedEvent</name>
        <apexClass>ExternalService__SmartHomeCRMTopic_postV1TSmartx2dhomex2dcrm_IN_event</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ECommerceContactCreatedEvent</name>
        <apexClass>ExternalService__SmartHomeCRMTopic_postV1TSmartx2dhomex2dcrm_IN_event</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SmartHomeCRMEvent</name>
        <apexClass>ExternalService__SmartHomeCRMTopic_postV1TSmartx2dhomex2dcrm_IN_event</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
