flows/Quote_Run_Credit_Check.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_SSN</name>
        <label>Assign SSN</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>getContact.SSN_Last_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SSN2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This will check if the &quot;Is Finance&quot; field on quote checked or not</description>
        <name>Check_whether_the_Is_Finance_field_checked_on_Quote_or_not</name>
        <label>Check whether the Is Finance field checked on Quote or not</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Error_Message_Screen_Flow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Finance unchecked</defaultConnectorLabel>
        <rules>
            <name>Is_Finance_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQuote.Is_Finance__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>Is Finance checked</label>
        </rules>
    </decisions>
    <description>This flow will be called from Quote Tab &quot;Run Credit Report&quot; and will check &quot;Credit Eligibility&quot;.</description>
    <formulas>
        <name>SSNplusZeros</name>
        <dataType>String</dataType>
        <expression>&quot;00000&quot;&amp;{!SSN2}</expression>
    </formulas>
    <interviewLabel>Quote: Run Credit Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote: Run Credit Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Credit_Report</name>
        <label>Credit Report</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Update_Quote_Records_with_Credit_Score_Status_as_Initiated</targetReference>
        </connector>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>getQuote.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Account__c</field>
            <value>
                <elementReference>getQuote.Account_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Applicants_Email__c</field>
            <value>
                <elementReference>getContact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Applicants_First_Name__c</field>
            <value>
                <elementReference>getContact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Applicants_Last_Name__c</field>
            <value>
                <elementReference>getContact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Applicants_Middle_Name__c</field>
            <value>
                <elementReference>getContact.MiddleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Applicants_SSN__c</field>
            <value>
                <elementReference>SSNplusZeros</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Credit_Bureau__c</field>
            <value>
                <stringValue>Experian</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Current_City__c</field>
            <value>
                <elementReference>getContact.OtherCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Current_Country__c</field>
            <value>
                <elementReference>getContact.OtherCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Current_Line__c</field>
            <value>
                <elementReference>getContact.OtherStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Current_StateCode__c</field>
            <value>
                <elementReference>getContact.OtherState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Current_Zip_Code__c</field>
            <value>
                <elementReference>getContact.OtherPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>creditchecker__Data_Source__c</field>
            <value>
                <stringValue>MCL</stringValue>
            </value>
        </inputAssignments>
        <object>creditchecker__Credit_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.Primary_Contact_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuote</name>
        <label>getQuote</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_whether_the_Is_Finance_field_checked_on_Quote_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Credit_Report</targetReference>
        </connector>
        <inputReference>getContact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This will update Quote Records with Credit Score Status as Initiated upon executing the Credit Checker</description>
        <name>Update_Quote_Records_with_Credit_Score_Status_as_Initiated</name>
        <label>Update Quote Records with Credit Score Status as Initiated</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Credit_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Score_Status__c</field>
            <value>
                <stringValue>Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Contact_Information</name>
        <label>Contact Information</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_SSN</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>getContact.AAA_Member__c</objectFieldReference>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getContact.Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getContact.Email</elementReference>
            </defaultValue>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SSN2</name>
            <dataType>String</dataType>
            <fieldText>Last 4 Digits of the SSN</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Check</name>
        <label>Credit Check</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CreditCheckExecuted</name>
            <fieldText>&lt;p&gt;Credit Check Executed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>This will show error message if the quote &quot;Is Finance&quot; field is unchecked.</description>
        <name>Error_Message_Screen_Flow</name>
        <label>Error Message Screen Flow</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Is_Finance_is_not_checked</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(253, 3, 3); font-size: 18px;&quot;&gt;As Finance field is not checked, you can&apos;t run the Credit Check. You can run Credit Check only for Financed Quotes.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>quoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This will store the recordId of the quote</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
