flows/Required_Update_48_Hour_Callback_A3SH.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Email_Details</name>
        <label>Assign Email Details</label>
        <locationX>177</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>emailMessageRecord.To_Addresss__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailToAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageRecord.From_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailFromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageRecord.Subject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageRecord.Rich_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailTextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageRecord.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseRecordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageRecord.Message_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageRecord.From_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Owner_User_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>emailMessageRecord.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emailStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message_Record</targetReference>
        </connector>
    </assignments>
    <description>Creates Email Message record when Required Update 48 Hour Callback A3SH is sent to members.</description>
    <formulas>
        <description>Gets case owner&apos;s first name.</description>
        <name>Case_Owner_User_First_Name</name>
        <dataType>String</dataType>
        <expression>upper( left( 
left( {!CaseRecordId.Case_Owner_Username__c} , find(  &quot;.&quot; , {!CaseRecordId.Case_Owner_Username__c}) -1 )
, 1 ) ) 
&amp; 
lower( right( 
left( {!CaseRecordId.Case_Owner_Username__c} , find(  &quot;.&quot; , {!CaseRecordId.Case_Owner_Username__c}) -1 )
,len (left( {!CaseRecordId.Case_Owner_Username__c} , find(  &quot;.&quot; , {!CaseRecordId.Case_Owner_Username__c}) -1 ))-1) )</expression>
    </formulas>
    <interviewLabel>Required Update 48 Hour Callback A3SH {!$Flow.CurrentDateTime}</interviewLabel>
    <label>A3SH 48 Hour Callback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Inserts record into Email Message custom object.</description>
        <name>Create_Email_Message_Record</name>
        <label>Create Email Message Record</label>
        <locationX>177</locationX>
        <locationY>440</locationY>
        <inputReference>emailMessageRecord</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Assign_Email_Details</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>emailTextBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table class=&quot;ql-table-blob&quot; id=&quot;topTable&quot; style=&quot;font-family: &amp;quot;Times New Roman&amp;quot;; background-color: rgb(255, 255, 255);&quot; width=&quot;500&quot;&gt;&lt;tbody&gt;&lt;tr valign=&quot;top&quot;&gt;&lt;td style=&quot;vertical-align: top; height: 100px; text-align: right;&quot;&gt;&lt;img src=&quot;https://a3smarthome--prodcopy.my.salesforce.com/servlet/servlet.ImageServer?id=0153C000000UyuK&amp;amp;oid=00D3C00000055zV&quot; id=&quot;r1sp1&quot; border=&quot;0&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot;&gt;&lt;td style=&quot;height: 5px;&quot;&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr valign=&quot;top&quot;&gt;&lt;td style=&quot;color: rgb(0, 0, 0); font-size: 12pt; font-family: arial;&quot; height=&quot;300&quot;&gt;&lt;table height=&quot;400&quot; cellspacing=&quot;5&quot; width=&quot;600&quot; cellpadding=&quot;5&quot; border=&quot;0&quot;&gt;&lt;tbody&gt;&lt;tr height=&quot;50&quot; valign=&quot;top&quot;&gt;&lt;td style=&quot;font-size: 12pt;&quot;&gt;&lt;span id=&quot;docs-internal-guid-8abcc396-7fff-62d6-21ec-fc1467ab0de7&quot;&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; line-height: 1.2; margin-right: 28.8pt; text-align: justify;&quot; dir=&quot;ltr&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;/span&gt;&lt;/td&gt;&lt;/tr&gt;&lt;tr height=&quot;300&quot; valign=&quot;top&quot;&gt;&lt;td style=&quot;font-size: 12pt;&quot;&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 10pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;Dear Valued Member,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 10pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;In regard to Case # {!CaseRecordId.CaseNumber} that was opened on {!CaseRecordId.CreatedDate}, we are still waiting on some information to give you the best possible solution. We will reach out when a resolution is available.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 10pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;Thank you for your continued patience,&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;{!Case_Owner_User_First_Name}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;A3 Smart Home&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; line-height: 1.2; margin-right: 28.8pt; text-align: justify;&quot; dir=&quot;ltr&quot;&gt;&lt;span id=&quot;docs-internal-guid-f7c53831-7fff-d4dd-8742-2bb679518b58&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;margin-top: 0pt; margin-bottom: 0pt; line-height: 1.38;&quot; dir=&quot;ltr&quot;&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif; background-color: transparent; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;&quot;&gt;memberexperience@a3smarthome.com&lt;/span&gt;&lt;/p&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CaseFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue> {!CaseRecordId.First_Name__c}</stringValue>
        </value>
    </variables>
    <variables>
        <description>The case number the email relates to.</description>
        <name>CaseNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CaseRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>The email address that the email is sent to.</description>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailFromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>memberexperience@a3smarthome.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>emailMessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Email_Message__c</objectType>
    </variables>
    <variables>
        <name>emailOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>emailStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>emailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>We&apos;ve been trying to reach you:  Case # {!CaseRecordId.CaseNumber}</stringValue>
        </value>
    </variables>
    <variables>
        <name>emailToAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CaseRecordId.ContactEmail</elementReference>
        </value>
    </variables>
    <variables>
        <description>The first name of the user sending the email.</description>
        <name>OwnerFirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CaseRecordId.Case_Owner_Username__c</elementReference>
        </value>
    </variables>
</Flow>
