flows/Required_Update_48_Hour_Callback_Back.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_A3</name>
        <label>Send email to A3</label>
        <locationX>1106</locationX>
        <locationY>408</locationY>
        <actionName>Case.General_Callback_48_Hour_Alert_A3</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_A3_1</name>
        <label>Send email to A3</label>
        <locationX>314</locationX>
        <locationY>408</locationY>
        <actionName>Case.General_Callback_48_Hour_Alert_A3</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_AAA</name>
        <label>Send email to AAA</label>
        <locationX>842</locationX>
        <locationY>408</locationY>
        <actionName>Case.General_Callback_48_Hour_Alert_AAA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_AAA1</name>
        <label>Send email to AAA</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <actionName>Case.General_Callback_48_Hour_Alert_AAA</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Callback_Less_Than_48_Hours_AAA</name>
        <label>Callback Less Than 48 Hours AAA</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>less_than_48_hours_AAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Callback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed No Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Datefunction</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AR_Customer_Userdef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Queue_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Retention</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_AAA</targetReference>
            </connector>
            <label>less than 48 hours AAA</label>
        </rules>
        <rules>
            <name>Callback_Less_Than_48_Hours_A3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Callback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed No Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Datefunction</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AR_Customer_Userdef__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Queue_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Retention</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_A3</targetReference>
            </connector>
            <label>Callback Less Than 48 Hours A3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Callback_Over_48_Hours</name>
        <label>Callback Over 48 Hours</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Callback_Over_48_Hours_AAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Callback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed No Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Datefunction</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AR_Customer_Userdef__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Queue_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Retention</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_AAA1</targetReference>
            </connector>
            <label>Callback Over 48 Hours AAA</label>
        </rules>
        <rules>
            <name>Call_back_over_48_hours_A3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Callback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed No Contact</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>Datefunction</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AR_Customer_Userdef__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner_Queue_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Retention</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_A3_1</targetReference>
            </connector>
            <label>Call back over 48 hours A3</label>
        </rules>
    </decisions>
    <formulas>
        <name>Datefunction</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}-2</expression>
    </formulas>
    <interviewLabel>Required Update 48 Hour Callback Back {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Required Update 48 Hour Callback Back</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Callback_Over_48_Hours</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X48_Hours_after_creation_date</name>
            <connector>
                <targetReference>Callback_Less_Than_48_Hours_AAA</targetReference>
            </connector>
            <label>48 Hours after creation date</label>
            <offsetNumber>48</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
