flows/SA_Status_Flow_for_WO_tab.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_status</name>
        <label>Assign status</label>
        <locationX>963</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need to Reschedule</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.ServiceNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceNote3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Canceled2</name>
        <label>CanceledNoContact</label>
        <locationX>813</locationX>
        <locationY>1202</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled - No Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Canceled3</name>
        <label>Canceled</label>
        <locationX>850</locationX>
        <locationY>1399</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>departed12</name>
        <label>departed</label>
        <locationX>1071</locationX>
        <locationY>1142</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Departed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Go_back2</name>
        <label>Go back</label>
        <locationX>1326</locationX>
        <locationY>1062</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Go back</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_Progress_Assigment</name>
        <label>In Progress Assigment</label>
        <locationX>643</locationX>
        <locationY>1258</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.FSL__GanttColor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OnHoldPerCustomer2</name>
        <label>OnHoldPerCustomer</label>
        <locationX>1478</locationX>
        <locationY>992</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold Per Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reschedule2</name>
        <label>Reschedule</label>
        <locationX>452</locationX>
        <locationY>1165</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Need to Reschedule</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Current_SA_Status</name>
        <label>Save Current SA Status</label>
        <locationX>1490</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>currentSASavedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceAppointmentCurrentData.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ServiceNotes</name>
        <label>ServiceNotes</label>
        <locationX>1450</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.ServiceNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Add_the_Service_Note</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Service_Appointment_or_New_Installation</name>
        <label>Service Appointment or New Installation</label>
        <locationX>1656</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>loopSA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Appointment_or_New_Installation2</name>
            <conditionLogic>(1 or 2) and 3 and 4 and 5</conditionLogic>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Current_SA_Status</targetReference>
            </connector>
            <label>Service Appointment or New Installation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Selection</name>
        <label>Status Selection</label>
        <locationX>767</locationX>
        <locationY>601</locationY>
        <defaultConnector>
            <targetReference>Not_Allowed_Status_Transition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled3</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Complete_Cannot_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointment2</targetReference>
            </connector>
            <label>Complete &amp; Cannot Complete</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Assigment</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>OnHoldPerCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>On Hold Per Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnHoldPerCustomer2</targetReference>
            </connector>
            <label>OnHoldPerCustomer</label>
        </rules>
        <rules>
            <name>Departed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Departed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>departed12</targetReference>
            </connector>
            <label>Departed</label>
        </rules>
        <rules>
            <name>Canceled_No_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Canceled - No Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled2</targetReference>
            </connector>
            <label>Canceled No Contact</label>
        </rules>
        <rules>
            <name>Go_Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Go back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_back2</targetReference>
            </connector>
            <label>Go Back</label>
        </rules>
        <rules>
            <name>Reschedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Need to Reschedule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reschedule2</targetReference>
            </connector>
            <label>Reschedule</label>
        </rules>
    </decisions>
    <description>SA Status flow to be added on the WO</description>
    <dynamicChoiceSets>
        <name>saStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StatusCode</picklistField>
        <picklistObject>ServiceAppointmentStatus</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>saStatus2</name>
        <dataType>String</dataType>
        <displayField>Status</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>test</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>SA Status Flow for WO tab {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SA Status Flow for WO tab</label>
    <loops>
        <name>loopSA</name>
        <label>loopSA</label>
        <locationX>1298</locationX>
        <locationY>87</locationY>
        <assignNextValueToReference>serviceAppointmentCurrentData</assignNextValueToReference>
        <collectionReference>SACollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Service_Appointment_or_New_Installation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getSAColleciton</name>
        <label>getSAColleciton</label>
        <locationX>1113</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopSA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>noRecordsFounds</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woData.Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>SACollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>SchedEndTime</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
        <queriedFields>ServiceNote</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>FSL__GanttColor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWO</name>
        <label>getWO</label>
        <locationX>848</locationX>
        <locationY>73</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSAColleciton</targetReference>
        </connector>
        <faultConnector>
            <targetReference>noRecordsFounds</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>woData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>1598</locationX>
        <locationY>1526</locationY>
        <faultConnector>
            <targetReference>Not_Allowed_Status_Transition</targetReference>
        </faultConnector>
        <inputReference>serviceAppointmentCurrentData</inputReference>
    </recordUpdates>
    <screens>
        <name>New_SA</name>
        <label>New SA</label>
        <locationX>582</locationX>
        <locationY>1494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_status</targetReference>
        </connector>
        <fields>
            <name>ServiceNote3</name>
            <dataType>String</dataType>
            <fieldText>Please add the Service Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>noRecordsFounds</name>
        <label>noRecordsFounds</label>
        <locationX>976</locationX>
        <locationY>354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noRecords</name>
            <fieldText>&lt;p&gt;No Records were found. Contact your adminstrator. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed_Status_Transition</name>
        <label>Not Allowed Status Transition</label>
        <locationX>1572</locationX>
        <locationY>657</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>NotAllowedText</name>
            <fieldText>&lt;p&gt;Can&apos;t change from {!currentSASavedStatus} to {!Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>1629</locationX>
        <locationY>513</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status_Selection</targetReference>
        </connector>
        <fields>
            <name>SANumberCurrent</name>
            <fieldText>&lt;p&gt;SA Number: &lt;b&gt;{!serviceAppointmentCurrentData.AppointmentNumber}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Current Status: &lt;b&gt;{!currentSASavedStatus}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>test</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>In Progress</stringValue>
            </defaultValue>
            <fieldText>Select the Service Appointment Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Appointment2</name>
        <label>Service Appointment</label>
        <locationX>532</locationX>
        <locationY>541</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p&gt;Complete and Cannot Complete must use the SA Closing Process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Notes</name>
        <label>Service Notes</label>
        <locationX>1276</locationX>
        <locationY>1296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ServiceNotes</targetReference>
        </connector>
        <fields>
            <name>Add_the_Service_Note</name>
            <dataType>String</dataType>
            <fieldText>Please add the Service Note</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Services Notes cannot be higher than 1024 Characters &lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Add_the_Service_Note}) &lt; 1024</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>309</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>getWO</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignedResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AssignedResource</objectType>
    </variables>
    <variables>
        <name>currentSASavedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SACollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentCurrentData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceResourceData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceResource</objectType>
    </variables>
    <variables>
        <name>UserData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>woData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>woId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
