flows/SACheckInNewVersionDesktop.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Canceled2</name>
        <label>Canceled</label>
        <locationX>980</locationX>
        <locationY>954</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled - No Contact</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>departedAg</name>
        <label>departedAg</label>
        <locationX>1058</locationX>
        <locationY>879</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Departed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Go_back2</name>
        <label>Go back</label>
        <locationX>1198</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Go back</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_Progress_Assigment</name>
        <label>In Progress Assigment</label>
        <locationX>566</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Inprogress</name>
        <label>Inprogress</label>
        <locationX>876</locationX>
        <locationY>1013</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OnHoldPerCustomer2</name>
        <label>OnHoldPerCustomer</label>
        <locationX>1357</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>serviceAppointmentCurrentData.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>On Hold Per Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Current_SA_Status</name>
        <label>Save Current SA Status</label>
        <locationX>950</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>currentSASavedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceAppointmentCurrentData.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Status_Selection</name>
        <label>Status Selection</label>
        <locationX>624</locationX>
        <locationY>508</locationY>
        <defaultConnector>
            <targetReference>Not_Allowed_Status_Transition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Canceled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Inprogress</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
        <rules>
            <name>Complete_Cannot_Complete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CannotComplete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Appointment2</targetReference>
            </connector>
            <label>Complete &amp; Cannot Complete</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>InProgress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_Progress_Assigment</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>OnHoldPerCustomer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold Per Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OnHoldPerCustomer2</targetReference>
            </connector>
            <label>OnHoldPerCustomer</label>
        </rules>
        <rules>
            <name>Departed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Departed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>departedAg</targetReference>
            </connector>
            <label>Departed</label>
        </rules>
        <rules>
            <name>Canceled_No_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled - No Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Canceled2</targetReference>
            </connector>
            <label>Canceled No Contact</label>
        </rules>
        <rules>
            <name>Go_Back</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>serviceAppointmentCurrentData.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Go back</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_back2</targetReference>
            </connector>
            <label>Go Back</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>saStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StatusCode</picklistField>
        <picklistObject>ServiceAppointmentStatus</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>saStatus2</name>
        <dataType>String</dataType>
        <displayField>Status</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
    </dynamicChoiceSets>
    <interviewLabel>SACheckInNewVersionDesktop {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SACheckInNewVersionDesktop</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getSA</name>
        <label>getSA</label>
        <locationX>738</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Current_SA_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>noRecordsFounds</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>woData.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled - No Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>serviceAppointmentCurrentData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSADataNoWO</name>
        <label>getSADataNoWO</label>
        <locationX>1019</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Save_Current_SA_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>serviceAppointmentCurrentData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWO</name>
        <label>getWO</label>
        <locationX>569</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSA</targetReference>
        </connector>
        <faultConnector>
            <targetReference>getSADataNoWO</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>woData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>1492</locationX>
        <locationY>1111</locationY>
        <faultConnector>
            <targetReference>Not_Allowed_Status_Transition</targetReference>
        </faultConnector>
        <inputReference>serviceAppointmentCurrentData</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>noRecordsFounds</name>
        <label>noRecordsFounds</label>
        <locationX>574</locationX>
        <locationY>338</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noRecords</name>
            <fieldText>&lt;p&gt;No Records were found. Contact your adminstrator. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_Allowed_Status_Transition</name>
        <label>Not Allowed Status Transition</label>
        <locationX>1644</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>NotAllowedText</name>
            <fieldText>&lt;p&gt;Can&apos;t change from {!currentSASavedStatus} to {!Status}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>1050</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status_Selection</targetReference>
        </connector>
        <fields>
            <name>Service_Appointment_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>serviceAppointmentCurrentData.AppointmentNumber</elementReference>
            </defaultValue>
            <fieldText>Service Appointment Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>saStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>currentSASavedStatus</elementReference>
            </defaultValue>
            <fieldText>Select the Service Appointment Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Service_Appointment2</name>
        <label>Service Appointment</label>
        <locationX>453</locationX>
        <locationY>769</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p&gt;Complete and Cannot Complete must use the SA Closing Process&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>139</locationX>
        <locationY>122</locationY>
        <connector>
            <targetReference>getWO</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>currentSASavedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>serviceAppointmentCurrentData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>woData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>woId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
