flows/SAEmailNotificationsOnStatusChange.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email to member(Customer) with Self Scheduling community Link.</description>
        <name>SendEmailAfterSACreated</name>
        <label>SendEmailAfterSACreated</label>
        <locationX>76</locationX>
        <locationY>512</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>SACreated_TemplateBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>ContactEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Work Order has been created</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailToCustomer</name>
        <label>SendEmailToCustomer</label>
        <locationX>441</locationX>
        <locationY>636</locationY>
        <actionName>ServiceAppointment.Booking_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>CheckStatus</name>
        <label>CheckStatus</label>
        <locationX>364</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>None</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailAfterSACreated</targetReference>
            </connector>
            <label>IsCreated</label>
        </rules>
        <rules>
            <name>IsScheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailToCustomer</targetReference>
            </connector>
            <label>IsScheduled</label>
        </rules>
    </decisions>
    <formulas>
        <name>ContactEmail</name>
        <dataType>String</dataType>
        <expression>{!$Record.Contact.Email}</expression>
    </formulas>
    <interviewLabel>SAEmailNotificationsOnStatusChange {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAEmailNotificationsOnStatusChange</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>245</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SACreated_TemplateBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;img src=&quot;https://a3smarthome--partialsb--c.documentforce.com/sfc/servlet.shepherd/version/download/0687X000001P1SZ?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;Hello  {!$Record.Contact_Full_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Work Order has been created.&lt;/p&gt;&lt;p&gt;{!$Record.Work_Order_Number__c} is your Work Order Number.&lt;/p&gt;&lt;p&gt;you can also schedule the appointment by yourself by clicking &lt;a href=&quot;https://partialsb-a3smarthome.cs159.force.com/s/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt; .&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;If you have any questions or would like to update your appointment, please call us at &lt;/span&gt;&lt;b style=&quot;font-family: arial; font-size: 12pt;&quot;&gt;(800) 669-7779, press &quot;4&quot; for Scheduling&lt;/b&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt; between 9am PST and 4pm PST.&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;Thank you for choosing Home Security, the AAA Way. We are delighted to have you as a Member.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;Sincerely,&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 12pt;&quot;&gt;AAA Smart Home &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: arial, helvetica, sans-serif;&quot;&gt;E:&amp;nbsp;&lt;/span&gt;&lt;a href=&quot;mailto:a3sh-specialists@a3smarthome.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 12pt; font-family: arial, helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;a3sh-specialists@a3smarthome.com&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12pt; font-family: arial, helvetica, sans-serif;&quot;&gt;P:&amp;nbsp;&lt;/span&gt;&lt;span style=&quot;font-size: 12pt; font-family: Arial;&quot;&gt;(800) 669-7779, press &quot;4&quot; for Scheduling&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt;&quot;&gt;AAA Smart Home, Alarm License No. CA ACO 5195, AZ BTR 18658-0, MT FPL-BEL-001390,&amp;nbsp;and UT 10685724-6501. 1277 Treat Blvd., Suite 1000, Walnut Creek, CA&amp;nbsp;94597, USA, (800) 669-7779&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
</Flow>
