flows/SendWOPriceDetailsToAssignDealer.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailApex</name>
        <label>SendEmailApex</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <actionName>SendPrice</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ConfirmatioScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>city</name>
            <value>
                <elementReference>IpCity</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Country</name>
            <value>
                <elementReference>ipCountry</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>FirstName</name>
            <value>
                <elementReference>FlowinputFirstname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputemail</name>
            <value>
                <elementReference>FlowInputEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Lastname</name>
            <value>
                <elementReference>FlowLastname</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Phone</name>
            <value>
                <elementReference>Phone.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>postalcode</name>
            <value>
                <elementReference>ipaddZip</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>State</name>
            <value>
                <elementReference>Ipstate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>street</name>
            <value>
                <elementReference>ipstreet</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WOID</name>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignEmail</name>
        <label>AssignEmail</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>FlowInputEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EnterEmailAddress.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FlowLastname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConatctFullName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IpCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ipstreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Ipstate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ipCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ipaddZip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Adress.postalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailApex</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>SendEmail</name>
        <label>Send email</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Adjustment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Email_Option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Please_confirm_to_send_the_Email</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Please_enater_valid_email_address</targetReference>
            </connector>
            <label>Check Email Option</label>
        </rules>
    </decisions>
    <formulas>
        <name>ConatctFullName</name>
        <dataType>String</dataType>
        <expression>{!GetAssignDealerConatct.LastName} +&apos; &apos; + {!GetAssignDealerConatct.FirstName}</expression>
    </formulas>
    <interviewLabel>SendWOPriceDetailsToAssignDealer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendWOPriceDetailsToAssignDealer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAssignDealerConatct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAssignDealerConatct</name>
        <label>GetAssignDealerConatct</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sent_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_Order.Assigned_Dealer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Adjustment</name>
        <label>Adjustment</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Adjust</name>
            <fieldText>&lt;p&gt;Please, adjust your Work Order and Work Order Line Items.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ConfirmatioScreen</name>
        <label>ConfirmatioScreen</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;The quote was successfully sent to&lt;/p&gt;&lt;p&gt;{!FlowInputEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_enater_valid_email_address</name>
        <label>Please enater valid email address</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignEmail</targetReference>
        </connector>
        <fields>
            <name>EnterEmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Enter  Email Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetAssignDealerConatct.Email</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ConatctFullName</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>GetAssignDealerConatct.Phone</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Adress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Work_Order.Assigned_Dealer__r.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Work_Order.Assigned_Dealer__r.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Work_Order.Assigned_Dealer__r.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Work_Order.Assigned_Dealer__r.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Work_Order.Assigned_Dealer__r.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sent_Email</name>
        <label>Sent Email</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Workorder_Details</targetReference>
        </connector>
        <fields>
            <name>ConformEmail</name>
            <fieldText>&lt;p&gt;Send WorkOrder Price Details to Assign dealer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Workorder_Details</name>
        <label>Workorder Details</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendEmail</targetReference>
        </connector>
        <fields>
            <name>TotlaDuration</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Assigned Dealer  Name: {!Get_Work_Order.Assigned_Dealer__r.Name}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Dealer Hourly Rate : &lt;/b&gt;{!Get_Work_Order.Dealer_Hourly_Rate__c}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Millage Rate :$ &lt;/b&gt;{!Get_Work_Order.Dealer_Millage_Rate__c}&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Total Duration :&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Work_Order.Total_Duration__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Total Labor Estimated Price : $ &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Get_Work_Order.Total_Labor_Estimated_Price__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Total Parts Estimated Price : $ &lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Work_Order.Total_Price_All_Parts__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>details</name>
            <fieldText>&lt;p&gt;If you need to change the information, please add the Work Order or Work Order Line Item Components&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Please_confirm_to_send_the_Email</name>
            <dataType>Boolean</dataType>
            <fieldText>Please confirm to send the Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowAdressinput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowInputEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowinputFirstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowLastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ipaddZip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>IpCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ipCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Ipstate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ipstreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
