flows/Send_AAA_Transactional_Survey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>A3_Survey_Email</name>
        <label>A3 Survey Email</label>
        <locationX>957</locationX>
        <locationY>951</locationY>
        <actionName>01W4v000000smA6NotFound</actionName>
        <actionType xsi:nil="true"/>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_A3_Survey_Invitation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>AAA_Survey_Email</name>
        <label>AAA Survey Email</label>
        <locationX>580</locationX>
        <locationY>959</locationY>
        <actionName>01W4v000000sm9mNotFound</actionName>
        <actionType xsi:nil="true"/>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Create_AAA_Survey_Invitation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>AAA_vs_A3</name>
        <label>AAA vs A3</label>
        <locationX>761</locationX>
        <locationY>633</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.customerUserDef_PickList__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAA Smart Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AAA_Survey_Invitation</targetReference>
            </connector>
            <label>AAA</label>
        </rules>
        <rules>
            <name>A3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.customerUserDef_PickList__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A3 Smart Home</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_A3_Survey_Invitation</targetReference>
            </connector>
            <label>A3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meets_Criteria</name>
        <label>Meets Criteria</label>
        <locationX>763</locationX>
        <locationY>331</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Survey</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Date_Transactional_Survey_Last_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>More_Than_10_Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancel Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Collections</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Data Entry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service Quality</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Automated Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Email</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>@</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.CustomerStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Stamp_Contact_Fields</targetReference>
            </connector>
            <label>Send Survey</label>
        </rules>
    </decisions>
    <description>This is the Master Flow that sends the AAA Transactional Survey 7 Days after a Case is Closed.</description>
    <formulas>
        <name>More_Than_10_Days</name>
        <dataType>Boolean</dataType>
        <expression>({!$Flow.CurrentDate} - {!$Record.Contact.Date_Transactional_Survey_Last_Sent__c}) &gt; 10</expression>
    </formulas>
    <formulas>
        <name>Survey_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Contact.FirstName} +&quot; &quot;+ {!$Record.Contact.LastName} +&quot; - &quot;+ &quot;AAA Smart Home Member Survey&quot;</expression>
    </formulas>
    <interviewLabel>Send AAA Transactional Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send AAA Transactional Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_A3_Survey_Invitation</name>
        <label>Create A3 Survey Invitation</label>
        <locationX>947</locationX>
        <locationY>793</locationY>
        <connector>
            <targetReference>A3_Survey_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>00N4v00000BVfJw__NotFound</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>00N4v00000Bq7NA__NotFound</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>00N4v00000Bq7O3__NotFound</field>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId__NotFound</field>
            <value>
                <stringValue>0DB6g000000GoHoGAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__NotFound</field>
            <value>
                <elementReference>Survey_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse__NotFound</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId__NotFound</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId__NotFound</field>
            <value>
                <stringValue>0Kd4v000000oLkoCAE</stringValue>
            </value>
        </inputAssignments>
        <object>SurveyInvitation__NotFound</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_AAA_Survey_Invitation</name>
        <label>Create AAA Survey Invitation</label>
        <locationX>590</locationX>
        <locationY>781</locationY>
        <connector>
            <targetReference>AAA_Survey_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>00N4v00000BVfJw__NotFound</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>00N4v00000Bq7NA__NotFound</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>00N4v00000Bq7O3__NotFound</field>
            <value>
                <elementReference>$Record.Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunityId__NotFound</field>
            <value>
                <stringValue>0DB6g000000GoHoGAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__NotFound</field>
            <value>
                <elementReference>Survey_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OptionsAllowGuestUserResponse__NotFound</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParticipantId__NotFound</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SurveyId__NotFound</field>
            <value>
                <stringValue>0Kd4v000000oLkjCAE</stringValue>
            </value>
        </inputAssignments>
        <object>SurveyInvitation__NotFound</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Date_Stamp_Contact_Fields</name>
        <label>Date Stamp Contact Fields</label>
        <locationX>769</locationX>
        <locationY>489</locationY>
        <connector>
            <targetReference>AAA_vs_A3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Transactional_Survey_Last_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>3G Radio Swap</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancellations</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancel_Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Collections</stringValue>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Movers</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X7_Days_After_Close</name>
            <connector>
                <targetReference>Meets_Criteria</targetReference>
            </connector>
            <label>7 Days After Close</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ClosedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
