flows/ServiceAppointment_Update_Original_Schedule_Start_Time.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <description>This will update Original Schedule Start Time based on Scheduled Start Time for Self Scheduled SA.</description>
        <name>Update_Original_Schedule_Start_Time</name>
        <label>Update Original Schedule Start Time</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Original_Schedule_Start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SchedStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScheduleStartTimePlusOneMin</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>This will check the Logged IN User is Guest User or not</description>
        <name>Check_if_User_is_Guest_User_or_Not</name>
        <label>Check if User is Guest User or Not</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Not Guest User</defaultConnectorLabel>
        <rules>
            <name>Guest_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>guest Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Original_Schedule_Start_Time</targetReference>
            </connector>
            <label>Guest User</label>
        </rules>
    </decisions>
    <description>This flow will update  Original Schedule Start Time for Self Scheduled SA</description>
    <formulas>
        <description>This will add one minute to the ScheduleStartTime</description>
        <name>ScheduleStartTimePlusOneMin</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.SchedStartTime} + (1/1440)</expression>
    </formulas>
    <interviewLabel>ServiceAppointment: Update Original Schedule Start Time {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ServiceAppointment: Update Original Schedule Start Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_User_is_Guest_User_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SchedStartTime</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Self_Scheduled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Original_Schedule_Start__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
