flows/Service_Appointment_Clear_Date_Fields.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Declined_First_Appointment_Slot</name>
        <label>Declined First Appointment Slot</label>
        <locationX>416</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>Declined_First_Slot</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>Service Appointment Clear Date Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Clear Date Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Clear_Service_Appointment_Scheduled_Dates</name>
        <label>Clear Service Appointment Scheduled Dates</label>
        <locationX>278</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Declined_First_Appointment_Slot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ArrivalWindowEndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>ArrivalWindowStartTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_Pro__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Created_by_Rider__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Schedule_Mode__c</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rider_StartTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Clear_Service_Appointment_Scheduled_Dates</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Declined_First_Slot</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Service_Appointment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
