flows/Service_Appointment_Self_Scheduler_Start_and_End_Dates_Updated.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Address</name>
        <label>Address</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>Address_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Start_Time_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.Start_Date_Display__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>City_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>State_Output</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Service_Appointment.State</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>When a Service Appointment is Self Scheduled the Start and End Dates Need to Be Updated with Arrival Window Info</description>
    <formulas>
        <name>Change_Duration_to_Hours</name>
        <dataType>Number</dataType>
        <expression>{!Get_Service_Appointment.Duration}/60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Formula_Start_Time</name>
        <dataType>DateTime</dataType>
        <expression>IF( {!Get_Service_Appointment.State} = &quot;AZ&quot;, {!Get_Service_Appointment.ArrivalWindowStartTime} - (1 /24) ,
IF( {!Get_Service_Appointment.State} = &quot;Arizona&quot;, {!Get_Service_Appointment.ArrivalWindowStartTime} - (1 /24) , 
{!Get_Service_Appointment.ArrivalWindowStartTime} ))</expression>
    </formulas>
    <formulas>
        <name>Scheduled_End_Date_Formula</name>
        <dataType>DateTime</dataType>
        <expression>IF( {!Get_Service_Appointment.State} = &quot;AZ&quot;, ({!Get_Service_Appointment.ArrivalWindowEndTime} + ({!Get_Service_Appointment.Duration}/24)) - (1/24) ,
IF( {!Get_Service_Appointment.State} = &quot;Arizona&quot;, ({!Get_Service_Appointment.ArrivalWindowEndTime} + ({!Get_Service_Appointment.Duration}/24)) - (1/24) ,
 {!Get_Service_Appointment.ArrivalWindowEndTime} + ({!Get_Service_Appointment.Duration}/24) ))</expression>
    </formulas>
    <interviewLabel>Self Scheduler Start and End Dates Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment Self Scheduler Start and End Dates Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Schedule_Start_and_End_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Schedule_Start_and_End_Dates</name>
        <label>Update Schedule Start End Dates and Duration</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Created_by_Rider__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>Scheduled_End_Date_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SchedStartTime</field>
            <value>
                <elementReference>Formula_Start_Time</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Address_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Service_Appointment_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Start_Time</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Start_Time_Output</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>State_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
