flows/Service_Appointment_Scheduled_for_immediate_action.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will send email when status is scheduled and service type is new installation  based on workflow &quot;Booking Confirmation Email&quot;</description>
        <name>Booking_Confirmation</name>
        <label>Booking Confirmation</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>ServiceAppointment.Booking_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Log_exception_record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>This will send email when status is scheduled and service type is service Appointment  based on workflow &quot;Service Booking Confirmation Email&quot;</description>
        <name>Service_Booking_Confirmation</name>
        <label>Service Booking Confirmation</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <actionName>ServiceAppointment.Service_Booking_Confirmation</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Log_exception_record_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>This will check if the service type is New installation Or Service Appointment workflow criteria &quot;Booking Confirmation Email&quot; and &quot;Service Booking Confirmation Email&quot;</description>
        <name>Booking_Confirmation_Email</name>
        <label>Booking Confirmation Email</label>
        <locationX>1304</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Email not send</defaultConnectorLabel>
        <rules>
            <name>service_type_is_new_installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.In_Scheduler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_UserId_of_CRM_superhero_Booking_confirmation</targetReference>
            </connector>
            <label>service type is  new installation</label>
        </rules>
        <rules>
            <name>service_type_is_service_appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.In_Scheduler__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_UserId_of_CRM_Superhero_service</targetReference>
            </connector>
            <label>service type is service appointment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking CRM Superhero ID Exist or Not</description>
        <name>Checking_CRM_Superhero_ID_Exists_or_Not_0_0_0</name>
        <label>Checking CRM Superhero ID Exists or Not</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>User not exist</defaultConnectorLabel>
        <rules>
            <name>user_is_exist_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_UserId_of_CRM_superhero_Booking_confirmation</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_0_0_0</targetReference>
            </connector>
            <label>user is exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checking CRM Superhero ID Exist or Not</description>
        <name>Checking_CRM_Superhero_ID_Exists_or_Not_0_0_0_0</name>
        <label>Checking CRM Superhero ID Exists or Not</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>User not exist</defaultConnectorLabel>
        <rules>
            <name>user_is_exist_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_UserId_of_CRM_Superhero_service</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_0_0_0_0</targetReference>
            </connector>
            <label>user is exist</label>
        </rules>
    </decisions>
    <description>This flow will contain all Email Alerts and respective actions which moved from Workflow/PB as part of A3SHCRSF3-198
1.Workflow:Booking Confirmation Email
2.Workflow:Service Booking Confirmation Email</description>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>scheduledStartDate</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.SchedStartTime}) - TODAY() &gt;= 2</expression>
    </formulas>
    <formulas>
        <name>scheduledStartDate1</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.SchedStartTime}) - TODAY() &gt;= 1</expression>
    </formulas>
    <formulas>
        <name>scheduledStartDate2</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.SchedStartTime}) - TODAY() &gt;= 1</expression>
    </formulas>
    <formulas>
        <name>scheduleStartDate3</name>
        <dataType>Boolean</dataType>
        <expression>DATEVALUE({!$Record.SchedStartTime}) - TODAY() &gt;= 7</expression>
    </formulas>
    <interviewLabel>Service Appointment: Part 1 Email Alerts and Respective Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment: Scheduled for immediate action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task_0_0_0</name>
        <label>Create Task</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Booking_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_exception_record_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Getting_UserId_of_CRM_superhero_Booking_confirmation.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Booking Confirmation Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_0_0_0_0</name>
        <label>Create Task</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Service_Booking_Confirmation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_exception_record_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Getting_UserId_of_CRM_Superhero_service.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Booking Confirmation Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This will log exception in Error Log object</description>
        <name>Log_exception_record</name>
        <label>Log exception record</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while Sending Booking Confirmation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Appointment: Email Alerts and Respective Actions</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This will log exception in Error Log object</description>
        <name>Log_exception_record_0</name>
        <label>Log exception record</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while Sending Service Booking Confirmation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Appointment: Email Alerts and Respective Actions</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This will log exception in Error Log object</description>
        <name>Log_exception_record_0_0_0_0_0_0</name>
        <label>Log exception record</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error is Thrown when Creating a Task After booking confirmation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Appointment: Email Alerts and Respective Actions</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This will log exception in Error Log object</description>
        <name>Log_exception_record_0_0_0_0_0_0_0</name>
        <label>Log exception record</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error is Thrown when Creating a Task After service confirmation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Appointment: Email Alerts and Respective Actions</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Getting_UserId_of_CRM_superhero_Booking_confirmation</name>
        <label>Getting UserId of CRM superhero</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_CRM_Superhero_ID_Exists_or_Not_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>crmsuperhero@aaa.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Getting_UserId_of_CRM_Superhero_service</name>
        <label>Getting UserId of CRM Superhero</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_CRM_Superhero_ID_Exists_or_Not_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>crmsuperhero@aaa.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Booking_Confirmation_Email</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
