flows/Service_Appointment_Closing_Process_For_Dealer_SA_and_WO.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>ActualDuration</name>
        <label>ActualDuration</label>
        <locationX>310</locationX>
        <locationY>1064</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SAdurationHoursToMinutes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>durationDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateServiceAppointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Actual_Start</name>
        <label>assign Actual Start</label>
        <locationX>112</locationX>
        <locationY>1144</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_the_Actual_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ActualDuration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cannot_Complete</name>
        <label>Assign Cannot Complete</label>
        <locationX>1010</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.unable_to_complete_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cannot_Complete_Reason4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSAVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_End_Date</name>
        <label>Assign End Date</label>
        <locationX>206</locationX>
        <locationY>1337</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualEndTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calculateEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status22</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ActualDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_minutes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_Status</name>
        <label>Assign WOLI Status</label>
        <locationX>1290</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Actual_Duration_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Installed_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Installed_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Total_Installation_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentActualDurationPlusNewDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Parts_to_be_Shipped__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToBeShipped</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WoliCurrentDuration3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAAADealerStatusToWOAndCase</name>
        <label>AssignAAADealerStatusToWOAndCase</label>
        <locationX>1416</locationX>
        <locationY>2370</locationY>
        <assignmentItems>
            <assignToReference>currentWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AAA Dealer Services Service Appointment coordination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AAA Dealer Services Service Appointment coordination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWOStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignBillable</name>
        <label>AssignBillable</label>
        <locationX>1086</locationX>
        <locationY>1549</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Resolution_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignDealerStatusToWOAndCase</name>
        <label>AssignDealerStatusToWOAndCase</label>
        <locationX>1914</locationX>
        <locationY>2350</locationY>
        <assignmentItems>
            <assignToReference>currentWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dealer Service Appointment Coordination</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Dealer Service Appointment Coordination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateWOStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignInstallmentOrRecurring</name>
        <label>assignInstallmentOrRecurring</label>
        <locationX>1288</locationX>
        <locationY>739</locationY>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Actual_Duration_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Adjusted_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Installed_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSAcantComplete</name>
        <label>assignSAcantComplete</label>
        <locationX>1096</locationX>
        <locationY>1261</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CheckSAServiceType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSANewInstallation</name>
        <label>AssignSANewInstallation</label>
        <locationX>942</locationX>
        <locationY>2014</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ServiceNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSAVariables</name>
        <label>AssignSAVariables</label>
        <locationX>1294</locationX>
        <locationY>1776</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSerailNumberToWOLI</name>
        <label>AssignSerailNumberToWOLI</label>
        <locationX>2372</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Serial_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Installed_Quantity_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTotalnstallDuration</name>
        <label>assignTotalnstallDuration</label>
        <locationX>1276</locationX>
        <locationY>574</locationY>
        <assignmentItems>
            <assignToReference>currentInstallDurationVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentWOLI.Total_Installation_Duration__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VariableToBeShipped</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentWOLI.Final_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_Installment_or_Recurring</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Can_t_complete_WOLI</name>
        <label>Assing Can&apos;t complete WOLI</label>
        <locationX>1289</locationX>
        <locationY>852</locationY>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Actual_Duration_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Installed_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Installed_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Installed_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Total_Installation_Duration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>currentActualDurationPlusNewDuration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Parts_to_be_Shipped__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ToBeShipped</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WoliCurrentDuration3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeSAStatus</name>
        <label>ChangeSAStatus</label>
        <locationX>2163</locationX>
        <locationY>1132</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOldSAStatus</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>forServiceAppointment</name>
        <label>forServiceAppointment</label>
        <locationX>1334</locationX>
        <locationY>1594</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non Billable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Resolution_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>_Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cannot_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>installed_quantity</name>
        <label>installed quantity</label>
        <locationX>1711</locationX>
        <locationY>490</locationY>
        <assignmentItems>
            <assignToReference>installedQt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentWOLI.Installed_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Line_Item_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reason3</name>
        <label>Reason</label>
        <locationX>716</locationX>
        <locationY>2148</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.unable_to_complete_reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignSANewInstallation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WoliCurrentDuration3</name>
        <label>WoliCurrentDuration</label>
        <locationX>1018</locationX>
        <locationY>922</locationY>
        <assignmentItems>
            <assignToReference>woliCurrentDuration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentWOLI.Actual_Duration_Hrs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentWOLIAsset</name>
        <choiceText>Current WOLI Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CurrentWOLI.AssetId</elementReference>
        </value>
    </choices>
    <choices>
        <name>CurrentWOLIStatus</name>
        <choiceText>Current WOLI Status</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CurrentWOLI.Status</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Actual_Start</name>
        <label>Actual Start</label>
        <locationX>273</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <targetReference>ActualDuration</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.ActualStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actual_Start_Date_not_Found</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cannot_Complete</name>
        <label>Cannot Complete</label>
        <locationX>1005</locationX>
        <locationY>1687</locationY>
        <defaultConnector>
            <targetReference>AssignSAVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_Complete2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Reason2</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>CannotComplete</name>
        <label>CannotComplete</label>
        <locationX>706</locationX>
        <locationY>1920</locationY>
        <defaultConnector>
            <targetReference>AssignSANewInstallation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reason</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Complete_Reason</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckForControlPanel</name>
        <label>CheckForControlPanel</label>
        <locationX>2038</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Installed_Quantity_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ItIsControlPanel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentWOLI.Control_Panel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentWOLI.WorkOrder.Assigned_Dealer__r.Is_Inventory_Holder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Serial_Number</targetReference>
            </connector>
            <label>ItIsControlPanel</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfDealerRequiresSASchedulingOrNot</name>
        <label>CheckIfDealerRequiresSASchedulingOrNot</label>
        <locationX>1639</locationX>
        <locationY>2283</locationY>
        <defaultConnector>
            <targetReference>AssignDealerStatusToWOAndCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfDealerRequiresSAScheduling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetDealerAccountInformation.Required_Service_Appointment_Scheduling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAAADealerStatusToWOAndCase</targetReference>
            </connector>
            <label>IfDealerRequiresSAScheduling</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfNewSACreated</name>
        <label>CheckIfNewSACreated</label>
        <locationX>1560</locationX>
        <locationY>1896</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SACreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>newlyCreatedSA.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateNewSA</targetReference>
            </connector>
            <label>SACreated</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckResolutionCodeForSA</name>
        <label>CheckResolutionCodeForSA</label>
        <locationX>1153</locationX>
        <locationY>1429</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ResolutionCode_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billable_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Billable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>forServiceAppointment</targetReference>
            </connector>
            <label>ResolutionCode_Completed</label>
        </rules>
        <rules>
            <name>Billable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Billable_picklist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Billable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignBillable</targetReference>
            </connector>
            <label>Billable</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckSAServiceType</name>
        <label>CheckSAServiceType</label>
        <locationX>840</locationX>
        <locationY>1336</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_NewInstallation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Appointment1</targetReference>
            </connector>
            <label>SA_NewInstallation</label>
        </rules>
        <rules>
            <name>SA_ServiceAppointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Service_Appointment</targetReference>
            </connector>
            <label>SA_ServiceAppointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Quantity_Installed_Qt</name>
        <label>Final Quantity = Installed Qt?</label>
        <locationX>1788</locationX>
        <locationY>867</locationY>
        <defaultConnector>
            <targetReference>Assing_Can_t_complete_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Quantity_Installed_Qt_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Installed_Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Final_Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WOLI_Status</targetReference>
            </connector>
            <label>Final Quantity = Installed Qt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installed_Quantity_Check</name>
        <label>Installed Quantity Check</label>
        <locationX>2142</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Final_Quantity_Installed_Qt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InstallQuantity_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Final_Installed_Quantity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Final_Quantity_Installed_Qt</targetReference>
            </connector>
            <label>InstallQuantity=0</label>
        </rules>
        <rules>
            <name>Equipment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentWOLI.Product_Family__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Equipment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentWOLI.WorkOrder.Assigned_Dealer__r.Is_Inventory_Holder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductItem</targetReference>
            </connector>
            <label>Equipment</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_cannot_complete</name>
        <label>is cannot complete</label>
        <locationX>642</locationX>
        <locationY>1516</locationY>
        <defaultConnector>
            <targetReference>CheckSAServiceType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cannot_complete33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_SA</targetReference>
            </connector>
            <label>cannot complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Installment_or_Recurring</name>
        <label>is Installment or Recurring</label>
        <locationX>1534</locationX>
        <locationY>664</locationY>
        <defaultConnector>
            <targetReference>installed_quantity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Installment_or_Recurring2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CurrentWOLI.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Installment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentWOLI.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignInstallmentOrRecurring</targetReference>
            </connector>
            <label>is Installment or Recurring</label>
        </rules>
    </decisions>
    <decisions>
        <name>isWOLIclosed</name>
        <label>isWOLIclosed</label>
        <locationX>1573</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>loopWOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_WOLI_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentWOLI.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeSAStatus</targetReference>
            </connector>
            <label>Is WOLI Not Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>SA_Status</name>
        <label>SA Status</label>
        <locationX>972</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Change_Current_Service_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_in_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_WOLIs</targetReference>
            </connector>
            <label>Is in Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Type</name>
        <label>Service Type</label>
        <locationX>1912</locationX>
        <locationY>1273</locationY>
        <defaultConnector>
            <targetReference>No_Service_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_TypeCurrent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkOrder.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_SA_Service_Type_SA</targetReference>
            </connector>
            <label>Service Type = Service Appointment</label>
        </rules>
        <rules>
            <name>WO_SErvice_Type_Install</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentWorkOrder.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createNewSA</targetReference>
            </connector>
            <label>WO SErvice Type = Install</label>
        </rules>
    </decisions>
    <decisions>
        <name>WOLI_Null</name>
        <label>WOLI Null</label>
        <locationX>582</locationX>
        <locationY>607</locationY>
        <defaultConnector>
            <targetReference>Loop_through_WOLIs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>count_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLIs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_the_Service_Appointment_Information</targetReference>
            </connector>
            <label>count=0</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Asset</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Billablevalues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billable__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnableToComplete</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>unable_to_complete_reason__c</picklistField>
        <picklistObject>ServiceAppointment</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>A3DispatchSchedulingPolicyId</name>
        <dataType>String</dataType>
        <expression>{!$Label.A3_Dispatch_Policy_Id}</expression>
    </formulas>
    <formulas>
        <name>calculateEndDate</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.ActualStartTime} + (({!ActualDurationMin}/60)/24)</expression>
    </formulas>
    <formulas>
        <name>currentActualDurationPlusNewDuration</name>
        <dataType>Number</dataType>
        <expression>{!currentInstallDurationVariable} + {!Duration_hours}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>dueDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+ 90</expression>
    </formulas>
    <formulas>
        <name>Duration_hours</name>
        <dataType>Number</dataType>
        <expression>{!Duration_minutes} /60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>durationDateTime</name>
        <dataType>DateTime</dataType>
        <expression>{!ServiceAppointment.ActualStartTime}+({!woliCurrentDuration}/24)</expression>
    </formulas>
    <formulas>
        <name>durationToDate</name>
        <dataType>Date</dataType>
        <expression>{!ServiceAppointment.ActualStartTime}+({!woliCurrentDuration}/24)</expression>
    </formulas>
    <formulas>
        <name>productsConsumedQt</name>
        <dataType>Number</dataType>
        <expression>{!installedQt} - {!Final_Installed_Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SAdurationHoursToMinutes</name>
        <dataType>Number</dataType>
        <expression>{!woliCurrentDuration}*60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ToBeShipped</name>
        <dataType>Number</dataType>
        <expression>{!Final_Quantity} - {!VariableToBeShipped}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Service Appointment: Closing Process For Dealer SA and WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment: Closing Process For Dealer SA and WO</label>
    <loops>
        <name>Loop_through_WOLIs</name>
        <label>Loop through WOLIs</label>
        <locationX>911</locationX>
        <locationY>686</locationY>
        <assignNextValueToReference>CurrentWOLI</assignNextValueToReference>
        <collectionReference>WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignTotalnstallDuration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getUpdatedWO2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopWOLI</name>
        <label>loopWOLI</label>
        <locationX>1177</locationX>
        <locationY>1076</locationY>
        <assignNextValueToReference>CurrentWOLI</assignNextValueToReference>
        <collectionReference>WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isWOLIclosed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignSAcantComplete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_SA</name>
        <label>Create New SA</label>
        <locationX>557</locationX>
        <locationY>1326</locationY>
        <assignRecordIdToReference>newlyCreatedSA.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CheckSAServiceType</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>currentWorkOrder.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>currentWorkOrder.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>currentWorkOrder.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>currentWorkOrder.Planned_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Scheduling_Policy_Used__c</field>
            <value>
                <stringValue>a2R6g000000K5EMEA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>currentWorkOrder.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>currentWorkOrder.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <elementReference>ServiceAppointment.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>currentWorkOrder.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>currentWorkOrder.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_SA_Service_Type_SA</name>
        <label>Create New SA Service Type SA</label>
        <locationX>1531</locationX>
        <locationY>1228</locationY>
        <connector>
            <targetReference>CheckSAServiceType</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>currentWorkOrder.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>currentWorkOrder.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>currentWorkOrder.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>currentWorkOrder.Planned_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Scheduling_Policy_Used__c</field>
            <value>
                <stringValue>a2R03000000l0UrEAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>currentWorkOrder.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>currentWorkOrder.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>currentWorkOrder.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>createNewSA</name>
        <label>createNewSA</label>
        <locationX>1527</locationX>
        <locationY>1386</locationY>
        <assignRecordIdToReference>newlyCreatedSA.Id</assignRecordIdToReference>
        <connector>
            <targetReference>CheckSAServiceType</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>currentWorkOrder.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>currentWorkOrder.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>currentWorkOrder.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>dueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>currentWorkOrder.Planned_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Scheduling_Policy_Used__c</field>
            <value>
                <elementReference>A3DispatchSchedulingPolicyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>currentWorkOrder.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>currentWorkOrder.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>currentWorkOrder.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>currentWorkOrder.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>CreateProductsConsumed</name>
        <label>CreateProductsConsumed</label>
        <locationX>2160</locationX>
        <locationY>978</locationY>
        <connector>
            <targetReference>Final_Quantity_Installed_Qt</targetReference>
        </connector>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>CurrentWOLI.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductItemId</field>
            <value>
                <elementReference>productsItem.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuantityConsumed</field>
            <value>
                <elementReference>Final_Installed_Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>CurrentWOLI.WorkOrderId</elementReference>
            </value>
        </inputAssignments>
        <object>ProductConsumed</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_WOLIs</name>
        <label>Get Related WOLIs</label>
        <locationX>858</locationX>
        <locationY>557</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WOLI_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Original_Quantity__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Installed_Quantity__c</queriedFields>
        <queriedFields>To_Be_Installed__c</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>Total_Installation_Duration__c</queriedFields>
        <queriedFields>Actual_Duration_Hrs__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Product2Id__c</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>Control_Panel__c</queriedFields>
        <queriedFields>Serial_Number__c</queriedFields>
        <queriedFields>Final_Price__c</queriedFields>
        <queriedFields>Final_Quantity__c</queriedFields>
        <queriedFields>Parts_to_be_Shipped__c</queriedFields>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>904</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SA_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetDealerAccountInformation</name>
        <label>GetDealerAccountInformation</label>
        <locationX>1758</locationX>
        <locationY>2134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfDealerRequiresSASchedulingOrNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkOrderInformation.Assigned_Dealer__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductItem</name>
        <label>GetProductItem</label>
        <locationX>2422</locationX>
        <locationY>864</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateProductsConsumed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentWOLI.Product2Id</elementReference>
            </value>
        </filters>
        <object>ProductItem</object>
        <outputReference>productsItem</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product_Code__c</queriedFields>
        <queriedFields>QuantityOnHand</queriedFields>
        <queriedFields>SerialNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getServiceAppointment</name>
        <label>getServiceAppointment</label>
        <locationX>772</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Assisting</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualDuration</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ServiceNote</queriedFields>
        <queriedFields>Billable__c</queriedFields>
        <queriedFields>Resolution_Code__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Assigned_Pro__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUpdatedSAAgain</name>
        <label>getUpdatedSA</label>
        <locationX>1023</locationX>
        <locationY>1076</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopWOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Resolution_Code__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Billable__c</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ServiceNote</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUpdatedWO</name>
        <label>getUpdatedWO</label>
        <locationX>892</locationX>
        <locationY>993</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUpdatedSAAgain</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currentWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Planned_Duration__c</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Total_WOLI_Number__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>Opportunity_ID__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUpdatedWO2</name>
        <label>getUpdatedWO</label>
        <locationX>418</locationX>
        <locationY>724</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actual_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currentWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Actual_Duration__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Assigned_Dealer__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWOLI</name>
        <label>getWOLI</label>
        <locationX>786</locationX>
        <locationY>1102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUpdatedWO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Opportunity_Id__c</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Original_Quantity__c</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>545</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer Install</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currentWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Actual_Duration__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>Assigned_Dealer__c</queriedFields>
        <queriedFields>Installation_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderInformation</name>
        <label>GetWorkOrderInformation</label>
        <locationX>1827</locationX>
        <locationY>2019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetDealerAccountInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>291</locationX>
        <locationY>1570</locationY>
        <connector>
            <targetReference>Update_the_WO</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Please_Check_the_Status_Transitions</targetReference>
        </faultConnector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_WO</name>
        <label>Update the WO</label>
        <locationX>456</locationX>
        <locationY>1608</locationY>
        <connector>
            <targetReference>is_cannot_complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>ServiceAppointment.Actual_Duration_Hours__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>819</locationX>
        <locationY>851</locationY>
        <connector>
            <targetReference>Loop_through_WOLIs</targetReference>
        </connector>
        <inputReference>CurrentWOLI</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>1591</locationX>
        <locationY>2553</locationY>
        <inputReference>caseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateNewSA</name>
        <label>updateNewSA</label>
        <locationX>1660</locationX>
        <locationY>2019</locationY>
        <connector>
            <targetReference>GetWorkOrderInformation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>newlyCreatedSA.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ServiceNote</field>
            <value>
                <elementReference>ServiceAppointment.ServiceNote</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateOldSAStatus</name>
        <label>updateOldSAStatus</label>
        <locationX>2086</locationX>
        <locationY>1275</locationY>
        <connector>
            <targetReference>Service_Type</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSA</name>
        <label>updateSA</label>
        <locationX>1354</locationX>
        <locationY>1914</locationY>
        <connector>
            <targetReference>CheckIfNewSACreated</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateServiceAppointment</name>
        <label>updateServiceAppointment</label>
        <locationX>550</locationX>
        <locationY>1063</locationY>
        <connector>
            <targetReference>Action_Complete</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWOStatus</name>
        <label>UpdateWOStatus</label>
        <locationX>1622</locationX>
        <locationY>2426</locationY>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
        <inputReference>currentWorkOrder</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Action_Complete</name>
        <label>Action Complete</label>
        <locationX>659</locationX>
        <locationY>1224</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getWOLI</targetReference>
        </connector>
        <fields>
            <name>ActionComplete</name>
            <fieldText>&lt;p&gt;All Work Order Line Items for current Work Order have been visited&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Actual_Start_Date_not_Found</name>
        <label>Actual Start Date not Found</label>
        <locationX>16</locationX>
        <locationY>960</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_Actual_Start</targetReference>
        </connector>
        <fields>
            <name>Enter_the_Actual_Start_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Enter the Actual Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Complete_Reason</name>
        <label>Cannot Complete Reason</label>
        <locationX>526</locationX>
        <locationY>2039</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reason3</targetReference>
        </connector>
        <fields>
            <name>Reason2</name>
            <choiceReferences>UnableToComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cannot_Complete_Reason2</name>
        <label>Cannot Complete Reason</label>
        <locationX>868</locationX>
        <locationY>1788</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Cannot_Complete</targetReference>
        </connector>
        <fields>
            <name>Cannot_Complete_Reason4</name>
            <choiceReferences>UnableToComplete</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Cannot Complete Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Change_Current_Service_Appointment</name>
        <label>Change Current Service Appointment</label>
        <locationX>1178</locationX>
        <locationY>291</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SA_StatusCurrent</name>
            <fieldText>&lt;p&gt;There is no Service Appointment in Progress&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Serial_Number</name>
        <label>Enter Serial Number</label>
        <locationX>2214</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignSerailNumberToWOLI</targetReference>
        </connector>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentWOLI.Serial_Number__c</elementReference>
            </defaultValue>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_the_Service_Appointment_Information</name>
        <label>Enter the Service Appointment Information</label>
        <locationX>420</locationX>
        <locationY>1306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_End_Date</targetReference>
        </connector>
        <fields>
            <name>ActualDurationMin</name>
            <dataType>Number</dataType>
            <fieldText>ActualDurationMin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Status22</name>
            <choiceReferences>Status</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Completed</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Item_Details</name>
        <label>Line Item Details</label>
        <locationX>1872</locationX>
        <locationY>406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckForControlPanel</targetReference>
        </connector>
        <fields>
            <name>WONumber</name>
            <fieldText>&lt;p&gt;Work Order Number:&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!CurrentWOLI.LineItemNumber}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product Code: &lt;b&gt;{!CurrentWOLI.Product_Code__c}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Product Name: &lt;b&gt;{!CurrentWOLI.Description}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Final_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CurrentWOLI.Quantity</elementReference>
            </defaultValue>
            <fieldText>Final Purchased Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter quantity.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Final_Quantity} != 0</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Final_Installed_Quantity</name>
            <dataType>Number</dataType>
            <fieldText>Final Installed Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Final Installed Quantity can&apos;t be higher than Final Purchased Quantity. If the number is not ZERO, please inspect if all Assets were previously installed. &lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Final Installed Quantity can&apos;t be higher than the Final Purchased Quantity.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Final_Installed_Quantity} &lt;={!Final_Quantity}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Duration_minutes</name>
            <dataType>Number</dataType>
            <fieldText>Duration (minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The valid duration input must be lower than 90 minutes&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ImageUploadWOLI</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Image Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>pdf,jpg,jpeg,png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CurrentWOLI.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Service_Type</name>
        <label>No Service Type</label>
        <locationX>2052</locationX>
        <locationY>1494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Service_Type_call</name>
            <fieldText>&lt;p&gt;Please, call your dispatcher center to add a Service Type to the Work Order&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Reference&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Work Order Number = &lt;b&gt;{!currentWorkOrder.WorkOrderNumber}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Service Appointment Number = &lt;b&gt;{!ServiceAppointment.AppointmentNumber}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Please_Check_the_Status_Transitions</name>
        <label>Please Check the Status Transitions</label>
        <locationX>459</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enter_the_Service_Appointment_Information</targetReference>
        </connector>
        <fields>
            <name>PleaseCheck</name>
            <fieldText>&lt;p&gt;Not allowed to change the SA Status from &lt;b&gt;{!ServiceAppointment.Status}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;to&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!Status22}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>953</locationX>
        <locationY>1526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckResolutionCodeForSA</targetReference>
        </connector>
        <fields>
            <name>SANumber</name>
            <fieldText>&lt;p&gt;Service Appointment Number&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!ServiceAppointment.AppointmentNumber}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SAstatus</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Service Appointment Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!ServiceAppointment.Status}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Service_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.ServiceNote</elementReference>
            </defaultValue>
            <fieldText>Service Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billable_picklist</name>
            <choiceReferences>Billablevalues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Billable</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Service_Appointment1</name>
        <label>Update Service Appointment</label>
        <locationX>764</locationX>
        <locationY>1733</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CannotComplete</targetReference>
        </connector>
        <fields>
            <name>Service_Appointment_text</name>
            <fieldText>&lt;p&gt;Service Appointment Number:&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!ServiceAppointment.AppointmentNumber}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Service Appointment Status:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!ServiceAppointment.Status}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ServiceNote</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.ServiceNote</elementReference>
            </defaultValue>
            <fieldText>ServiceNote</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>119</locationX>
        <locationY>527</locationY>
        <connector>
            <targetReference>getWorkOrder</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentInstallDurationVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currentWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>installedQt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newlyCreatedSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>productItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>productsConsumed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>productsItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductItem</objectType>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>VariableToBeShipped</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>woliCurrentDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Work Order Line Item Collection queried based on current Work Order ID</description>
        <name>WOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
