flows/Service_Appointment_Create_New_SA_Snapshot_When_SA_is_Updated.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <description>Assign data to record variable(NewServiceAppointmentSnapshot) when Schedule Start Time is not changed on Service Appointment Object</description>
        <name>Assign_data_to_record_variable_0</name>
        <label>Assign data to record variable</label>
        <locationX>467</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Schedule_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Guest_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign data to record variable(NewServiceAppointmentSnapshot) when Schedule Start Time is not changed on Service Appointment Object</description>
        <name>Assign_data_to_record_variable_0_0</name>
        <label>Assign data to record variable</label>
        <locationX>807</locationX>
        <locationY>563</locationY>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Schedule_End_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedEndTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Service_Appointment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Guest_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Scheduled By and Is Scheduled to record variable(NewServiceAppointmentSnapshot) when Schedule Start Time is changed on service appointment and logged in user is not Guest user</description>
        <name>Assign_variable_when_user_is_not_Guest</name>
        <label>Assign variable when user is not Guest</label>
        <locationX>776</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Scheduled_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Is_Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Schedule_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment_Snapshot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigning Scheduled By and Is Scheduled to record variable(NewServiceAppointmentSnapshot) when Schedule Start Time is changed on service appointment and logged in user is Guest user</description>
        <name>Assign_variables_if_Guest</name>
        <label>Assign variables if Guest</label>
        <locationX>554</locationX>
        <locationY>875</locationY>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Scheduled_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Self-Schedule(Guest)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Is_Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Self_Scheduled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewServiceAppointmentSnapshot.Schedule_Start_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_Schedule_Start__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Service_Appointment_Snapshot</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIf_SA_1st_time_scheduled_Or_Not</name>
        <label>CheckIf SA 1st time scheduled Or Not</label>
        <locationX>660</locationX>
        <locationY>387</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_scheduled_for_1st_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SchedStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.SchedEndTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_data_to_record_variable_0</targetReference>
            </connector>
            <label>SA scheduled for 1st Time</label>
        </rules>
        <rules>
            <name>SA_Rescheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SchedStartTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SchedEndTime</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_data_to_record_variable_0_0</targetReference>
            </connector>
            <label>SA Rescheduled</label>
        </rules>
    </decisions>
    <decisions>
        <description>checking whether logged in user is belongs to Guest user or not</description>
        <name>Is_Guest_User</name>
        <label>Is Guest User</label>
        <locationX>662</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Assign_variable_when_user_is_not_Guest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Agent</defaultConnectorLabel>
        <rules>
            <name>Guest_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>guest Profile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_variables_if_Guest</targetReference>
            </connector>
            <label>Guest User</label>
        </rules>
    </decisions>
    <description>This flow will create one new record under Service Appointment Snapshot when Service Appointment is updated (SchedStartTime, Status, Self_Scheduled__c, SchedEndTime field values are changed on Service Appointment)</description>
    <interviewLabel>Service Appointment: Create New SA Snapshot When SA is Updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Service Appointment: Create New SA Snapshot When SA is Updated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creating new Service Appointment Snapshot record</description>
        <name>Create_Service_Appointment_Snapshot</name>
        <label>Create Service Appointment Snapshot</label>
        <locationX>674</locationX>
        <locationY>1085</locationY>
        <faultConnector>
            <targetReference>Log_Exception_record</targetReference>
        </faultConnector>
        <inputReference>NewServiceAppointmentSnapshot</inputReference>
    </recordCreates>
    <recordCreates>
        <description>This will log exception in Error Log object</description>
        <name>Log_Exception_record</name>
        <label>Log Exception record</label>
        <locationX>984</locationX>
        <locationY>1033</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while creating SA Snapshot records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Service Appointment: Create New SA Snapshot When SA is Updated</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckIf_SA_1st_time_scheduled_Or_Not</targetReference>
        </connector>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <description>This record variable holds all data to create new Service Appointment Snapshot record</description>
        <name>NewServiceAppointmentSnapshot</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Appointment_Snapshot__c</objectType>
    </variables>
</Flow>
