flows/Show_Snap_Ins_Scheduler.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>FetchSlots</name>
        <label>FetchSlots</label>
        <locationX>573</locationX>
        <locationY>84</locationY>
        <actionName>ESWFieldServiceScheduling</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>checkSlots</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>maxGradeRange</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>minGradeRange</name>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operatingHoursId</name>
            <value>
                <elementReference>operatingHoursId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>policyId</name>
            <value>
                <elementReference>policyId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceAppointment</name>
            <value>
                <elementReference>SA</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>slotWrapper</assignToReference>
            <name>result</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>checkSlots</name>
        <label>checkSlots</label>
        <locationX>272</locationX>
        <locationY>280</locationY>
        <defaultConnector>
            <targetReference>NoSLots</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SlotsAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>slotWrapper</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ESWShowScheduleScreen</targetReference>
            </connector>
            <label>SlotsAvailable</label>
        </rules>
    </decisions>
    <formulas>
        <name>EndDateTimeFromLWC</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!endTimeLWC})</expression>
    </formulas>
    <formulas>
        <name>EstmiatedDFor</name>
        <dataType>Number</dataType>
        <expression>CEILING ({!SA.Duration})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>StartDateTimeFromLWC</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!startTimeLWC})</expression>
    </formulas>
    <formulas>
        <name>TimeslotBeginAsDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!TimeslotBeginValue})</expression>
    </formulas>
    <formulas>
        <name>TimeslotFinishAsDateTime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!TimeslotFinishValue})</expression>
    </formulas>
    <interviewLabel>Scheduling {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Show_Snap_Ins_Scheduler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>845</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Sorry for the inconvenience.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ESWShowScheduleScreen</name>
        <label>ESWShowScheduleScreen</label>
        <locationX>762</locationX>
        <locationY>292</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SlotSelectionMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;Select the date and two-hour arrival window that works best for you, then click &lt;/span&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;NEXT&lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; color: black;&quot;&gt;Your estimated Appointment duration is &lt;/span&gt;&lt;b style=&quot;font-size: 18px; font-family: sans-serif; color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!EstmiatedDFor} hours&lt;/b&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;i style=&quot;font-size: 18px; font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The arrival windows below are shown in the service address time zone.&lt;/i&gt;&lt;span style=&quot;font-size: 18px; font-family: sans-serif; background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>timeSlotsSelection</name>
            <extensionName>c:timeSlotList</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>slotJSON1</name>
                <value>
                    <elementReference>slotJSON</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>timeZone</name>
                <value>
                    <elementReference>operatingHoursId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>slotJSON2</name>
                <value>
                    <elementReference>slotWrapper</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>TimeslotFinish</assignToReference>
                <name>endTime</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>TimeslotBegin</assignToReference>
                <name>startTime</name>
            </outputParameters>
        </fields>
        <helpText>&lt;p&gt;Please choose a timeslot. Times include a 2-hour arrival window.&amp;nbsp;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoSLots</name>
        <label>NoSLots</label>
        <locationX>52</locationX>
        <locationY>205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoSlotsMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 18px;&quot;&gt;Currently, there are no slots available for selection. Please contact your admin.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>102</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>FetchSlots</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>endTimeLWC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>operatingHoursId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousBookingAttemptError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>serviceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slotJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slotJSON_New</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>slotsSize</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>slotWrapper</name>
        <apexClass>ESWFieldServiceSchedWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>startTimeLWC</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotBegin</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotBeginValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinish</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TimeslotFinishValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>timeZone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
