flows/SiteAccountCountOnParentAccount.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddingParentIdsInVaraible</name>
        <label>AddingParentIdsInVaraible</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>ParentAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordPriorIsNullOrNot</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRecordPriorParentId</name>
        <label>AddRecordPriorParentId</label>
        <locationX>974</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>ParentAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopingParentAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddTempAccountToList</name>
        <label>AddTempAccountToList</label>
        <locationX>1546</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>UpdateParentAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempAccount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopingParentAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddVarNoOfSiteAccountsInTempAccount</name>
        <label>AddVarNoOfSiteAccountsInTempAccount</label>
        <locationX>1546</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>TempAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopingParentAccounts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempAccount.No_Of_Site_Accounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoofSiteAccounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddTempAccountToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountinNoofsiteAccounts</name>
        <label>CountinNoofsiteAccounts</label>
        <locationX>138</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NoofSiteAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllSiteAccountsforCount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ResettingToZero</name>
        <label>ResettingToZero</label>
        <locationX>1546</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>NoofSiteAccounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopingGetAllSiteAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateVarNoOfSiteAccounts</name>
        <label>UpdateVarNoOfSiteAccounts</label>
        <locationX>1634</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>NoofSiteAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopingGetAllSiteAccounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckingParentIdNull</name>
        <label>CheckingParentIdNull</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>RecordPriorIsNullOrNot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ParentIdNullorNot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddingParentIdsInVaraible</targetReference>
            </connector>
            <label>ParentIdNullorNot</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckingParentIds</name>
        <label>CheckingParentIds</label>
        <locationX>1766</locationX>
        <locationY>1607</locationY>
        <defaultConnector>
            <targetReference>LoopingGetAllSiteAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>parentId_s_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopingParentAccounts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LoopingGetAllSiteAccounts.ParentId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateVarNoOfSiteAccounts</targetReference>
            </connector>
            <label>parentId&apos;s Same?</label>
        </rules>
    </decisions>
    <decisions>
        <name>isSiteAccountCreatedorUpdated</name>
        <label>isSiteAccountCreatedorUpdated</label>
        <locationX>732</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SiteAccountCreated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopAllSiteAccountsforCount</targetReference>
            </connector>
            <label>SiteAccountCreated</label>
        </rules>
        <rules>
            <name>SiteAccountUpdated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isChangedParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckingParentIdNull</targetReference>
            </connector>
            <label>SiteAccountUpdated</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordPriorIsNullOrNot</name>
        <label>RecordPriorIsNullOrNot</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>LoopingParentAccounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordPriorParentIdNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddRecordPriorParentId</targetReference>
            </connector>
            <label>RecordPriorParentIdNull</label>
        </rules>
    </decisions>
    <formulas>
        <name>isChangedParentId</name>
        <dataType>Boolean</dataType>
        <expression>ISChanged({!$Record.ParentId})</expression>
    </formulas>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>isNew()</expression>
    </formulas>
    <interviewLabel>SiteAccountCountOnParentAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SiteAccountCountOnParentAccount</label>
    <loops>
        <name>LoopAllSiteAccountsforCount</name>
        <label>LoopAllSiteAccountsforCount</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>GetAllSiteAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountinNoofsiteAccounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateParentAccountNoOfSiteAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopingGetAllSiteAccounts</name>
        <label>LoopingGetAllSiteAccounts</label>
        <locationX>1546</locationX>
        <locationY>1487</locationY>
        <collectionReference>GetAllSiteAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckingParentIds</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddVarNoOfSiteAccountsInTempAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopingParentAccounts</name>
        <label>LoopingParentAccounts</label>
        <locationX>1106</locationX>
        <locationY>1247</locationY>
        <collectionReference>ParentAccountId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ResettingToZero</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateNoOfSiteAccountsOnParentAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAllSiteAccounts</name>
        <label>GetAllSiteAccounts</label>
        <locationX>732</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isSiteAccountCreatedorUpdated</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateNoOfSiteAccountsOnParentAccount</name>
        <label>UpdateNoOfSiteAccountsOnParentAccount</label>
        <locationX>1106</locationX>
        <locationY>2375</locationY>
        <inputReference>UpdateParentAccounts</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParentAccountNoOfSiteAccounts</name>
        <label>UpdateParentAccountNoOfSiteAccounts</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopAllSiteAccountsforCount.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Of_Site_Accounts__c</field>
            <value>
                <elementReference>NoofSiteAccounts</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAllSiteAccounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0124v000001yTIrAAM</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NoofSiteAccounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ParentAccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TempAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdateParentAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
