flows/Update_Work_order_duration.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Calculate_Product_Consumed_Duration</name>
        <label>Calculate Product Consumed Duration</label>
        <locationX>760</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>ProductConsumedDuration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProductConsumedCalculatedDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Consumed_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Work_Order_Line_Item_Duration</name>
        <label>Calculate Work Order Line Item Duration</label>
        <locationX>603</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderLineItemDuration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>WorkOrderLineItemCalculatedDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Work_Order_Line_Items_Loop</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ProductConsumedCalculatedDuration</name>
        <dataType>Number</dataType>
        <expression>{!Product_Consumed_Loop.QuantityConsumed} *{!Product_Consumed_Loop.ProductItem.Product2.Time_to_Install_Res_Hours__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ScheduledEndTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Service_Appointment_Loop.SchedStartTime} + (({!ProductConsumedDuration} + {!WorkOrderLineItemDuration})/24)</expression>
    </formulas>
    <formulas>
        <name>ScheduleTimeTest</name>
        <dataType>DateTime</dataType>
        <expression>{!Service_Appointment_Loop.SchedStartTime} + (({!WorkOrderLineItemDuration} + {!ProductConsumedDuration}) / 24)</expression>
    </formulas>
    <formulas>
        <name>Test_Calc</name>
        <dataType>Number</dataType>
        <expression>{!WorkOrderLineItemDuration} + {!ProductConsumedDuration}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>WorkOrderLineItemCalculatedDuration</name>
        <dataType>Number</dataType>
        <expression>({!Work_Order_Line_Items_Loop.Quantity} * {!Work_Order_Line_Items_Loop.Product2.Time_to_Install_Res_Hours__c}) + 0.50</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update Work order duration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Work order duration</label>
    <loops>
        <name>Product_Consumed_Loop</name>
        <label>Product Consumed Loop</label>
        <locationX>591</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Product_Consumed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Product_Consumed_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Work_Order</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Service_Appointment_Loop</name>
        <label>Service Appointment Loop</label>
        <locationX>962</locationX>
        <locationY>544</locationY>
        <collectionReference>Get_Service_Appointments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Service_Appointment</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Work_Order_Line_Items_Loop</name>
        <label>Work Order Line Items Loop</label>
        <locationX>375</locationX>
        <locationY>170</locationY>
        <collectionReference>Get_Work_Order_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Work_Order_Line_Item_Duration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Product_Consumed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Product_Consumed</name>
        <label>Get Product Consumed</label>
        <locationX>437</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Consumed_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ProductConsumed</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointments</name>
        <label>Get Service Appointments</label>
        <locationX>788</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Appointment_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order_Line_Items</name>
        <label>Get Work Order Line Items</label>
        <locationX>177</locationX>
        <locationY>214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Order_Line_Items_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Orders</name>
        <label>Get Work Orders</label>
        <locationX>3</locationX>
        <locationY>226</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>1129</locationX>
        <locationY>702</locationY>
        <connector>
            <targetReference>Service_Appointment_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment_Loop.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SchedEndTime</field>
            <value>
                <elementReference>ScheduledEndTime</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Work_Order</name>
        <label>Update Work Order</label>
        <locationX>613</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>Get_Service_Appointments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varWorkOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Re_Calculate_Duration__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Duration_Product_Consumed__c</field>
            <value>
                <elementReference>ProductConsumedDuration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Duration_Wrk_line_item__c</field>
            <value>
                <elementReference>WorkOrderLineItemDuration</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Work_Orders</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ProductConsumedDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varWorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItemDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
