flows/Update_WO_with_Service_Template_based_on_Account_Orgnization.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Account_Organization_0_0_0</name>
        <label>Check Account Organization</label>
        <locationX>1106</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Update_WO_with_A3_Template_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AAA_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0.Organization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_with_AAA_template_0_0_0_0</targetReference>
            </connector>
            <label>AAA</label>
        </rules>
        <rules>
            <name>A3_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0.Organization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_with_A3_Template_0_0_0</targetReference>
            </connector>
            <label>A3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Account_Organization_0_0_0_0</name>
        <label>Check Account Organization</label>
        <locationX>314</locationX>
        <locationY>528</locationY>
        <defaultConnector>
            <targetReference>Update_WO_with_A3_Template_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AAA_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0.Organization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_with_AAA_template_0_0_0_0_0</targetReference>
            </connector>
            <label>AAA</label>
        </rules>
        <rules>
            <name>A3_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_0.Organization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_with_A3_Template_0_0_0_0_0</targetReference>
            </connector>
            <label>A3</label>
        </rules>
    </decisions>
    <decisions>
        <name>WO_Type_0</name>
        <label>WO Type</label>
        <locationX>710</locationX>
        <locationY>408</locationY>
        <defaultConnector>
            <targetReference>Check_Account_Organization_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_Appointment_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Account_Organization_0_0_0_0</targetReference>
            </connector>
            <label>Service Appointment</label>
        </rules>
    </decisions>
    <interviewLabel>Update WO with Service Template based on Account Orgnization {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update WO with Service Template based on Account Orgnization</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_0</name>
        <label>Get Account</label>
        <locationX>710</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WO_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_WO_with_A3_Template_0_0_0</name>
        <label>Update WO with A3 Template</label>
        <locationX>1106</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <stringValue>0SL4v000000TN28GAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_with_A3_Template_0_0_0_0</name>
        <label>Update WO with A3 Template</label>
        <locationX>1370</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <stringValue>0SL4v000000TN28GAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_with_A3_Template_0_0_0_0_0</name>
        <label>Update WO with A3 Template</label>
        <locationX>314</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <stringValue>0SL4v000000TN23GAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_with_A3_Template_0_0_0_0_0_0</name>
        <label>Update WO with A3 Template</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <stringValue>0SL4v000000TN23GAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_with_AAA_template_0_0_0_0</name>
        <label>Update WO with AAA template</label>
        <locationX>842</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <stringValue>0SL4v000000TN28GAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WO_with_AAA_template_0_0_0_0_0</name>
        <label>Update WO with AAA template</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>ServiceReportTemplateId</field>
            <value>
                <stringValue>0SL4v000000TN23GAG</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Schedule</name>
            <connector>
                <targetReference>Get_Account_0</targetReference>
            </connector>
            <label>Schedule</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>woID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
