flows/UpdateOpportunityOnAssetWhileCreation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>checkAssetConditions</name>
        <label>checkAssetConditions</label>
        <locationX>314</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>orderProductAndOppty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__OrderProduct__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAssetWithOpptyId_0</targetReference>
            </connector>
            <label>orderProductAndOppty</label>
        </rules>
        <rules>
            <name>WOLIConditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Order_Line_Item__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateAssetWithName</targetReference>
            </connector>
            <label>WOLIConditions</label>
        </rules>
    </decisions>
    <formulas>
        <name>AssetNameFormula</name>
        <dataType>String</dataType>
        <expression>({!$Record.SBQQ__OrderProduct__r.Order.Opportunity.Account.Name}+&apos; &apos;+{!$Record.SBQQ__OrderProduct__r.Product2.Name})</expression>
    </formulas>
    <formulas>
        <name>AssetNameFormulaFromWOLI</name>
        <dataType>String</dataType>
        <expression>{!$Record.Work_Order__r.Account.Name}+&apos; &apos;+{!$Record.Work_Order_Line_Item__r.PricebookEntry.Product2.Name}</expression>
    </formulas>
    <interviewLabel>UpdateOpportunityOnAssetWhileCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOpportunityOnAssetWhileCreation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateAssetWithName</name>
        <label>updateAssetWithName</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssetNameFormulaFromWOLI</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateAssetWithOpptyId_0</name>
        <label>updateAssetWithOpptyId</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.Opportunity.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>AssetNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.SBQQ__OrderProduct__r.Order.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>checkAssetConditions</targetReference>
        </connector>
        <object>Asset</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
