flows/Update_status_of_Opp_WO_Case_Based_on_SA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>This field will update Status of WO to &quot;Esign To Be Generated&quot; as part of A3SHCRSF3-10</description>
        <name>Update_WO_Status_to_trigger_Docusign</name>
        <label>Update WO Status to trigger Docusign</label>
        <locationX>9422</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Latest_WO_Data.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Esign To Be Generated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WO_with_Status_Esign_To_Be_Generated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_cannot_complete_null</name>
        <label>Case cannot complete null</label>
        <locationX>6650</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Cannot_Complete_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cannot_complete_case_is_null_or_service_type_service_Appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Cannot_Complete.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWOServiceType_0_0_0</targetReference>
            </connector>
            <label>Cannot complete case is null or service type = service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Closed</name>
        <label>Case Closed</label>
        <locationX>8234</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Closed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Case_is_null_or_service_type_service_Appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_closed.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Closed Case is null or service type = service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>case_Completed</name>
        <label>case Completed</label>
        <locationX>10082</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Completed_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_Completed_is_null_or_service_type_is_service_Appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Completed.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Case Completed is null or service type is service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_null</name>
        <label>Case null</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Case_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_null_or_Service_Type_Service_Appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_0_0.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>case null or Service Type = Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_null4</name>
        <label>Case null</label>
        <locationX>5066</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Case_cancled_To_No_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_null2_Or_service_type_is_service_Appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_canceled_To_No_contact.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWOServiceType_0_0_0_0</targetReference>
            </connector>
            <label>Case null2 Or service type is service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_null4_0</name>
        <label>Case null</label>
        <locationX>12194</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Case_cancled_To_No_Contact_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_null2_or_service_type_service_Appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_canceled.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWOServiceType_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>Case null2 or service type = service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_null_0</name>
        <label>Case null</label>
        <locationX>1898</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Update_Case_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_null_or_service_type_equal_service_Appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetWoInprogress.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>case null or service type equal service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_null_0_0</name>
        <label>Case null</label>
        <locationX>3482</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Update_Case_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>case_null_Or_service_type_equals_Service_Appointment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_On_hold_customer.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>case null Or service type equals Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0</name>
        <label>checkWOServiceType</label>
        <locationX>10346</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Completed_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Completed.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>8498</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_closed_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_closed.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>6386</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Cannot_Complete_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Cannot_Complete.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>4802</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Canceled_No_Contact_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_canceled_To_No_contact.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>5330</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_canceled_To_No_contact.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>6914</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Cannot_Complete_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Cannot_Complete.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>11930</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_canceled.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>11402</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Completed_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Completed.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>7442</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Cannot_Complete_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Cannot_Complete.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>9818</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Completed_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Completed.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>12458</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_canceled.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_0_0.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_0_0.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_0_0.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>2162</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWoInprogress.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>2690</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWoInprogress.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWoInprogress.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>3746</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_On_hold_customer.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>4274</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_On_hold_customer.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>3218</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_On_hold_customer.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>5858</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_canceled_To_No_contact.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>9026</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_closed_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_closed.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>7970</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_closed_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_closed.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>10874</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Completed_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_Completed.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <name>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>checkWOServiceType</label>
        <locationX>12986</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsWOServiceTypeNewInstallation</defaultConnectorLabel>
        <rules>
            <name>IsWOServiceTypeSA_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Wo_canceled.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <label>IsWOServiceTypeSA</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will check if the Work Order has any new Products added or any of its existing products quantity incremented as part of A3SHCRSF3-10</description>
        <name>Is_New_Products_Added_or_its_Qty_Incremented</name>
        <label>Is New Products Added or its Qty Incremented</label>
        <locationX>9752</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_Work_Order_to_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Products Added/Qty Incremented</defaultConnectorLabel>
        <rules>
            <name>Product_Added_Qty_Incremented_and_New_Installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_WO_Data.Count_Of_WOLI_Added_Qty_Incremented__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WO_Status_to_trigger_Docusign</targetReference>
            </connector>
            <label>Product Added/Qty Incremented and New Installation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Appointment_Status</name>
        <label>Service Appointment Status</label>
        <locationX>6848</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Order_to_Scheduled</targetReference>
            </connector>
            <label>Scheduled</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unpin_Service_Appointment</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
        <rules>
            <name>On_Hold_Per_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold Per Customer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Order_to_Scheduled_0</targetReference>
            </connector>
            <label>On Hold Per Customer</label>
        </rules>
        <rules>
            <name>Canceled_No_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled - No Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Order_to_Canceled_No_Conatct</targetReference>
            </connector>
            <label>Canceled - No Contact</label>
        </rules>
        <rules>
            <name>Cannot_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Order_toCannot_Complete</targetReference>
            </connector>
            <label>Cannot Complete</label>
        </rules>
        <rules>
            <name>Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Order_to_closed</targetReference>
            </connector>
            <label>Closed</label>
        </rules>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_WO_Data</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Work_Order_to_Canceled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <description>A3SHCRSF3-10: Updating flow when service type is equals to Service Appointment then Exclude Service Type: Service appointment from case automation.</description>
    <formulas>
        <name>TodayPlus1Day</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <interviewLabel>Update status of Opp_WO_Case_Based on SA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update status of Opp_WO_Case_Based on SA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Comments_0</name>
        <label>Create Case Comments</label>
        <locationX>10346</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>checkWOServiceType_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CommentBody</field>
            <value>
                <elementReference>$Record.ServiceNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPublished</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Wo_Completed.CaseId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseComment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_WO</name>
        <label>Find WO</label>
        <locationX>6848</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Service_Appointment_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will retrieve the Latest Work Order data as part of A3SHCRSF3-10</description>
        <name>Get_Latest_WO_Data</name>
        <label>Get Latest WO Data</label>
        <locationX>9752</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_Products_Added_or_its_Qty_Incremented</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Count_Of_WOLI_Added_Qty_Incremented__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wo_0_0</name>
        <label>Get Wo</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wo_canceled</name>
        <label>Get Wo canceled</label>
        <locationX>12194</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_null4_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wo_canceled_To_No_contact</name>
        <label>Get Wo canceled To No contact</label>
        <locationX>5066</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_null4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wo_Cannot_Complete</name>
        <label>Get Wo Cannot Complete</label>
        <locationX>6650</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_cannot_complete_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wo_closed</name>
        <label>Get Wo closed</label>
        <locationX>8234</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wo_Completed</name>
        <label>Get Wo Completed</label>
        <locationX>10082</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>case_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Wo_On_hold_customer</name>
        <label>Get Wo On hold customer</label>
        <locationX>3482</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_null_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetWoInprogress</name>
        <label>Get Wo In progress</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_null_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Opportunity_to_Canceled_No_Contact_0_0_0</name>
        <label>Set Opportunity to Canceled No Contact</label>
        <locationX>4934</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W - Cx No Ct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Canceled - No Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0</name>
        <label>Set Opportunity to Canceled No Contact</label>
        <locationX>5462</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W - Cx No Ct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Canceled - No Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0_0</name>
        <label>Set Opportunity to Canceled No Contact</label>
        <locationX>5990</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W - Cx No Ct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Canceled - No Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0_0_0</name>
        <label>Set Opportunity to Canceled No Contact</label>
        <locationX>12062</locationX>
        <locationY>1055</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W - Cx No Ct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Canceled No Contact</label>
        <locationX>12590</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W - Cx No Ct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Canceled_No_Contact_0_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Canceled No Contact</label>
        <locationX>13118</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W - Cx No Ct</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Cannot_Complete_0_0_0</name>
        <label>Set Opportunity to Cannot Complete</label>
        <locationX>6518</locationX>
        <locationY>1055</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Cannot_Complete_0_0_0_0</name>
        <label>Set Opportunity to Cannot Complete</label>
        <locationX>7046</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Cannot_Complete_0_0_0_0_0</name>
        <label>Set Opportunity to Cannot Complete</label>
        <locationX>7574</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Incomplete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_closed_0_0_0</name>
        <label>Set Opportunity to closed</label>
        <locationX>8630</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_closed_0_0_0_0</name>
        <label>Set Opportunity to closed</label>
        <locationX>9158</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_closed_0_0_0_0_0</name>
        <label>Set Opportunity to closed</label>
        <locationX>8102</locationX>
        <locationY>1055</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Completed_0_0_0_0_0</name>
        <label>Set Opportunity to Completed</label>
        <locationX>10478</locationX>
        <locationY>1535</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Installation_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Completed_0_0_0_0_0_0</name>
        <label>Set Opportunity to Completed</label>
        <locationX>11534</locationX>
        <locationY>1415</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Completed_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Completed</label>
        <locationX>11006</locationX>
        <locationY>1535</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Installation_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Completed_0_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Completed</label>
        <locationX>9950</locationX>
        <locationY>1295</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Installation_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>710</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>1238</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>182</locationX>
        <locationY>1055</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>2294</locationX>
        <locationY>1295</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>2822</locationX>
        <locationY>1295</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>1766</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>W - Scheduled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>3350</locationX>
        <locationY>1055</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W On Hold Per Cust.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>On Hold Per Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>3878</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W On Hold Per Cust.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>On Hold Per Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Opportunity_to_Scheduled_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Set Opportunity to Scheduled</label>
        <locationX>4406</locationX>
        <locationY>1175</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>N/W On Hold Per Cust.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <stringValue>On Hold Per Customer</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Order_to_Canceled</name>
        <label>Set Work Order to Canceled</label>
        <locationX>12194</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Wo_canceled</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Order_to_Canceled_No_Conatct</name>
        <label>Set Work Order to Canceled No Conatct</label>
        <locationX>5066</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Wo_canceled_To_No_contact</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_WO.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled - No Contact</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Order_to_closed</name>
        <label>Set Work Order to closed</label>
        <locationX>8234</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Wo_closed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Order_to_Completed</name>
        <label>Set Work Order to Completed</label>
        <locationX>10082</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Get_Wo_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Order_to_In_Progress_0</name>
        <label>Set Work Order to In Progress</label>
        <locationX>1898</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>GetWoInprogress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Order_to_Scheduled</name>
        <label>Set Work Order to Scheduled</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Wo_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Order_to_Scheduled_0</name>
        <label>Set Work Order to On Hold Per Customer</label>
        <locationX>3482</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Wo_On_hold_customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold Per Customer</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Work_Order_toCannot_Complete</name>
        <label>Set Work Order toCannot Complete</label>
        <locationX>6650</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Get_Wo_Cannot_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentRecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Unpin_Service_Appointment</name>
        <label>Unpin Service Appointment</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Set_Work_Order_to_In_Progress_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FSL__Pinned__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>FSL__Pinned__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0_0</name>
        <label>Update Case</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo_0_0.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0_0_0</name>
        <label>Update Case</label>
        <locationX>2162</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo_0_0.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0_0_0_0</name>
        <label>Update Case</label>
        <locationX>3746</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo_On_hold_customer.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_cancled_To_No_Contact_0</name>
        <label>Update Case cancled To No Contact</label>
        <locationX>5330</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>checkWOServiceType_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo_canceled_To_No_contact.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled - No Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_cancled_To_No_Contact_0_0</name>
        <label>Update Case cancled To No Contact</label>
        <locationX>12458</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo_canceled.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>TodayPlus1Day</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Member Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Cannot_Complete_0</name>
        <label>Update Case Cannot Complete</label>
        <locationX>6914</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo_Cannot_Complete.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Closed_0</name>
        <label>Update Case Closed</label>
        <locationX>8498</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>checkWOServiceType_0_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo_closed.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Completed_0</name>
        <label>Update Case Completed</label>
        <locationX>10346</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Create_Case_Comments_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>checkWOServiceType_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Wo_Completed.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <description>This field will update Work Order as part of A3SHCRSF3-10</description>
        <name>Update_WO_with_Status_Esign_To_Be_Generated</name>
        <label>Update WO with Status &quot;Esign To Be Generated&quot;</label>
        <locationX>9422</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Latest_WO_Data</inputReference>
    </recordUpdates>
    <start>
        <locationX>6722</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_WO</targetReference>
        </connector>
        <filterLogic>1 AND  (2 or 3)</filterLogic>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Appointment</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SALoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
