flows/WO_Closing_Process.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign_Case</name>
        <label>assign Case</label>
        <locationX>1089</locationX>
        <locationY>1040</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Case_Closed</name>
        <label>assign Case Closed</label>
        <locationX>753</locationX>
        <locationY>1110</locationY>
        <assignmentItems>
            <assignToReference>caseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>caseRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_WOLI_Status</name>
        <label>Assign WOLI Status</label>
        <locationX>1097</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Actual_Duration_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Installed_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Installed_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignSAcantComplete</name>
        <label>assignSAcantComplete</label>
        <locationX>1100</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assignWO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSAVariables</name>
        <label>AssignSAVariables</label>
        <locationX>1128</locationX>
        <locationY>1193</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.ServiceNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Resolution_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Resolution_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Billable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateSA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWO</name>
        <label>assignWO</label>
        <locationX>945</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>currentWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Case_Closed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWOInProgress</name>
        <label>assignWOInProgress</label>
        <locationX>1215</locationX>
        <locationY>964</locationY>
        <assignmentItems>
            <assignToReference>currentWorkOrder.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_Can_t_complete_WOLI</name>
        <label>Assing Can&apos;t complete WOLI</label>
        <locationX>1101</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.AssetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Actual_Duration_Hrs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Duration_hours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Installed_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentWOLI.Installed_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Final_Installed_Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_WOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ChangeSAStatus</name>
        <label>ChangeSAStatus</label>
        <locationX>1274</locationX>
        <locationY>713</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointment.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createNewSA</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentWOLIAsset</name>
        <choiceText>Current WOLI Asset</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CurrentWOLI.AssetId</elementReference>
        </value>
    </choices>
    <choices>
        <name>CurrentWOLIStatus</name>
        <choiceText>Current WOLI Status</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CurrentWOLI.Status</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Actual_Start</name>
        <label>Actual Start</label>
        <locationX>197</locationX>
        <locationY>322</locationY>
        <defaultConnector>
            <targetReference>updateServiceAppointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointment.ActualStartTime</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Actual_Start_Date_not_Found</targetReference>
            </connector>
            <label>null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Final_Quantity_Installed_Qt</name>
        <label>Final Quantity = Installed Qt?</label>
        <locationX>1350</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Assing_Can_t_complete_WOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Final_Quantity_Installed_Qt_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentWOLI.Installed_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Final_Quantity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_WOLI_Status</targetReference>
            </connector>
            <label>Final Quantity = Installed Qt</label>
        </rules>
    </decisions>
    <decisions>
        <name>isWOLIclosed</name>
        <label>isWOLIclosed</label>
        <locationX>1373</locationX>
        <locationY>489</locationY>
        <defaultConnector>
            <targetReference>loopWOLI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_WOLI_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentWOLI.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeSAStatus</targetReference>
            </connector>
            <label>Is WOLI Not Closed</label>
        </rules>
    </decisions>
    <description>to be added to the WO page</description>
    <dynamicChoiceSets>
        <name>Asset</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Asset</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Duration_hours</name>
        <dataType>Number</dataType>
        <expression>{!Duration_minutes} /60</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>durationToDate</name>
        <dataType>Date</dataType>
        <expression>{!ServiceAppointment.ActualStartTime}+{!currentWorkOrder.Actual_Duration__c}/24</expression>
    </formulas>
    <formulas>
        <name>SAdurationHoursToMinutes</name>
        <dataType>Number</dataType>
        <expression>{!currentWorkOrder.Actual_Duration__c} * 60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>WO Closing Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WO Closing Process</label>
    <loops>
        <name>Loop_through_WOLIs</name>
        <label>Loop through WOLIs</label>
        <locationX>736</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>CurrentWOLI</assignNextValueToReference>
        <collectionReference>WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Line_Item_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getWorkOrder</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopWOLI</name>
        <label>loopWOLI</label>
        <locationX>1121</locationX>
        <locationY>515</locationY>
        <assignNextValueToReference>CurrentWOLI</assignNextValueToReference>
        <collectionReference>WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isWOLIclosed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assignSAcantComplete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createNewSA</name>
        <label>createNewSA</label>
        <locationX>1320</locationX>
        <locationY>891</locationY>
        <assignRecordIdToReference>newlyCreatedSA.Id</assignRecordIdToReference>
        <connector>
            <targetReference>assignWOInProgress</targetReference>
        </connector>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>currentWorkOrder.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>currentWorkOrder.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>currentWorkOrder.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>currentWorkOrder.Planned_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSL__Scheduling_Policy_Used__c</field>
            <value>
                <stringValue>a2R6g000000K5EMEA0</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>currentWorkOrder.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>currentWorkOrder.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>currentWorkOrder.Street</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordLookups>
        <name>get_Case</name>
        <label>get Case</label>
        <locationX>913</locationX>
        <locationY>560</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopWOLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Description</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_WOLIs</name>
        <label>Get Related WOLIs</label>
        <locationX>460</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_WOLIs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LineItemNumber</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>WorkOrderId</queriedFields>
        <queriedFields>Original_Quantity__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Installed_Quantity__c</queriedFields>
        <queriedFields>To_Be_Installed__c</queriedFields>
        <sortField>LineItemNumber</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>getServiceAppointment</name>
        <label>getServiceAppointment</label>
        <locationX>464</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Actual_Start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>currentWorkOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete</stringValue>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ActualDuration</queriedFields>
        <queriedFields>AppointmentNumber</queriedFields>
        <queriedFields>ServiceNote</queriedFields>
        <queriedFields>Billable__c</queriedFields>
        <queriedFields>Resolution_Code__c</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ActualEndTime</queriedFields>
        <queriedFields>ActualStartTime</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUpdatedWO</name>
        <label>getUpdatedWO</label>
        <locationX>805</locationX>
        <locationY>632</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currentWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Planned_Duration__c</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Service_Type__c</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Total_WOLI_Number__c</queriedFields>
        <queriedFields>WorkOrderNumber</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWOLI</name>
        <label>getWOLI</label>
        <locationX>674</locationX>
        <locationY>569</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUpdatedWO</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLIs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getWorkOrder</name>
        <label>getWorkOrder</label>
        <locationX>642</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getServiceAppointment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentWOLI.WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>currentWorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Actual_Duration__c</queriedFields>
        <queriedFields>CaseId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_SA</name>
        <label>update SA</label>
        <locationX>176</locationX>
        <locationY>688</locationY>
        <connector>
            <targetReference>Action_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualDuration</field>
            <value>
                <elementReference>SAdurationHoursToMinutes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActualStartTime</field>
            <value>
                <elementReference>Enter_the_Actual_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WOLI</name>
        <label>Update WOLI</label>
        <locationX>863</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Loop_through_WOLIs</targetReference>
        </connector>
        <inputReference>CurrentWOLI</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateCase</name>
        <label>updateCase</label>
        <locationX>981</locationX>
        <locationY>1319</locationY>
        <inputReference>caseRecord</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateSA</name>
        <label>updateSA</label>
        <locationX>1258</locationX>
        <locationY>1291</locationY>
        <connector>
            <targetReference>updateWO</targetReference>
        </connector>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateServiceAppointment</name>
        <label>updateServiceAppointment</label>
        <locationX>393</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>Action_Complete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActualDuration</field>
            <value>
                <elementReference>SAdurationHoursToMinutes</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateWO</name>
        <label>updateWO</label>
        <locationX>1109</locationX>
        <locationY>1319</locationY>
        <connector>
            <targetReference>updateCase</targetReference>
        </connector>
        <inputReference>currentWorkOrder</inputReference>
    </recordUpdates>
    <screens>
        <name>Action_Complete</name>
        <label>Action Complete</label>
        <locationX>522</locationX>
        <locationY>617</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getWOLI</targetReference>
        </connector>
        <fields>
            <name>ActionComplete</name>
            <fieldText>&lt;p&gt;All Work Order Line Items for current Work Order have been visited&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Actual_Start_Date_not_Found</name>
        <label>Actual Start Date not Found</label>
        <locationX>80</locationX>
        <locationY>445</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_SA</targetReference>
        </connector>
        <fields>
            <name>Enter_the_Actual_Start_Date</name>
            <dataType>DateTime</dataType>
            <fieldText>Enter the Actual Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Line_Item_Details</name>
        <label>Line Item Details</label>
        <locationX>1266</locationX>
        <locationY>66</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Final_Quantity_Installed_Qt</targetReference>
        </connector>
        <fields>
            <name>WONumber</name>
            <fieldText>&lt;p&gt;Work Order Number: &lt;/p&gt;&lt;p&gt;{!CurrentWOLI.LineItemNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>CurrentWOLI.Description</elementReference>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StatusPlist</name>
            <choiceReferences>Status</choiceReferences>
            <choiceReferences>CurrentWOLIStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CurrentWOLIStatus</defaultSelectedChoiceReference>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Final_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CurrentWOLI.Quantity</elementReference>
            </defaultValue>
            <fieldText>Final Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter quantity.&lt;/p&gt;</errorMessage>
                <formulaExpression>NOT(ISBLANK({!CurrentWOLI.Product2Id})) &amp;&amp; ISBLANK({!Final_Quantity})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Final_Installed_Quantity</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>CurrentWOLI.Installed_Quantity__c</elementReference>
            </defaultValue>
            <fieldText>Final Installed Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Duration_minutes</name>
            <dataType>Number</dataType>
            <fieldText>Duration (minutes)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>ImageUploadWOLI</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Image Upload</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CurrentWOLI.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>pdf,jpg,jpeg,png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>947</locationX>
        <locationY>1125</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignSAVariables</targetReference>
        </connector>
        <fields>
            <name>SANumber</name>
            <fieldText>&lt;p&gt;Service Appointment Number&lt;/p&gt;&lt;p&gt;{!ServiceAppointment.AppointmentNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Status_SA</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Status</elementReference>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Service_Notes</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.ServiceNote</elementReference>
            </defaultValue>
            <fieldText>Service Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resolution_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Resolution_Code__c</elementReference>
            </defaultValue>
            <fieldText>Resolution Code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Billable</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ServiceAppointment.Billable__c</elementReference>
            </defaultValue>
            <fieldText>Billable ?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>108</locationX>
        <locationY>85</locationY>
        <connector>
            <targetReference>Get_Related_WOLIs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Installation Completed</description>
        <name>caseDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;The installation process is completed.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Work Order Number: {!currentWorkOrder.WorkOrderNumber}&lt;/p&gt;&lt;p&gt;Work Order Description: {!Description}&lt;/p&gt;&lt;p&gt;Number of WOLI: {!currentWorkOrder.Total_WOLI_Number__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CurrentWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>currentWorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>newlyCreatedSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <description>Work Order Line Item Collection queried based on current Work Order ID</description>
        <name>WOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
