flows/WO_Financials.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>AdjustedFinancials</name>
        <choiceText>Adjusted Financials</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>AdjustedFinancials</elementReference>
        </value>
    </choices>
    <choices>
        <name>FinancingInfo</name>
        <choiceText>Financing Information</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>FinancingInfo</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>No</elementReference>
        </value>
    </choices>
    <choices>
        <name>Originalfinance</name>
        <choiceText>Original Financial Information</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Originalfinance</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Yes</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Financial_Data2</name>
        <label>Financial Data</label>
        <locationX>909</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>More_data</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Financing_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Financial_Data_to_see</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FinancingInfo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjusted_Financials_0_0_0</targetReference>
            </connector>
            <label>Financing Data</label>
        </rules>
        <rules>
            <name>Adjusted_Financial</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Financial_Data_to_see</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AdjustedFinancials</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adjusted_Financials_0_0</targetReference>
            </connector>
            <label>Adjusted Financial</label>
        </rules>
        <rules>
            <name>Original_Financial_Data</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Financial_Data_to_see</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Originalfinance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Original_Financials_0_0</targetReference>
            </connector>
            <label>Original Financial Data</label>
        </rules>
    </decisions>
    <decisions>
        <name>More</name>
        <label>More</label>
        <locationX>539</locationX>
        <locationY>821</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_see_any_other_Financial_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>YesFinal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_see_any_other_Financial_Information</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>WO Financials {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WO Financials</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>get_WO_Data</name>
        <label>get WO Data</label>
        <locationX>1126</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Financials</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>workOrderData</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Original_Equipment_Labor_Cost__c</queriedFields>
        <queriedFields>Original_Monthly_Rate__c</queriedFields>
        <queriedFields>Original_Services_Recurring_Fee__c</queriedFields>
        <queriedFields>Original_Total_Price_AfterTax__c</queriedFields>
        <queriedFields>Original_Total_Price_Before_Tax__c</queriedFields>
        <queriedFields>Original_Total_Tax__c</queriedFields>
        <queriedFields>Adjusted_Final_Total_Price__c</queriedFields>
        <queriedFields>Adjusted_Services_Recurring_Fee__c</queriedFields>
        <queriedFields>Adjusted_Total_Price_AfterTax__c</queriedFields>
        <queriedFields>Adjusted_Total_Price_Before_Tax__c</queriedFields>
        <queriedFields>Adjusted_Total_Tax__c</queriedFields>
        <queriedFields>Equipment_Labor_Monthly_Rate__c</queriedFields>
        <queriedFields>Contract_Term__c</queriedFields>
        <queriedFields>Tax__c</queriedFields>
        <queriedFields>New_Monthly_Rate__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Adjusted_Financials_0_0</name>
        <label>Adjusted Financials</label>
        <locationX>1021</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_data</targetReference>
        </connector>
        <fields>
            <name>Original_Total_Price_Before_Tax_0_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Adjusted_Total_Price_Before_Tax__c</elementReference>
            </defaultValue>
            <fieldText>Adjusted Total Price Before Tax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Original_Total_Tax_0_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Adjusted_Total_Tax__c</elementReference>
            </defaultValue>
            <fieldText>Adjusted Total Tax $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Original_Total_Price_AfterTax_0_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Adjusted_Total_Price_AfterTax__c</elementReference>
            </defaultValue>
            <fieldText>Adjusted Total Price AfterTax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Adjusted_Final_Total_Price_Equipment_Labor</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Adjusted_Final_Total_Price__c</elementReference>
            </defaultValue>
            <fieldText>Adjusted Final Total Price Equipment&amp;Labor</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Adjusted_Financials_0_0_0</name>
        <label>Financing Terms</label>
        <locationX>834</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_data</targetReference>
        </connector>
        <fields>
            <name>Contract_Term_0_0_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Contract_Term__c</elementReference>
            </defaultValue>
            <fieldText>Contract Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Adjusted_Equipment_Labor_Monthly_Rate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Equipment_Labor_Monthly_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Adjusted Equipment&amp;Labor Monthly Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Adjusted_Monthly_Rate</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.New_Monthly_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Adjusted Monthly Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Original_Services_Recurring_Fee_0_0_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Adjusted_Services_Recurring_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Adjusted Services Recurring Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Financial</name>
        <label>Financial</label>
        <locationX>799</locationX>
        <locationY>1016</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Thanks</name>
            <fieldText>&lt;p&gt;All Financial Data was Successfully displayed&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Financials</name>
        <label>Financials</label>
        <locationX>651</locationX>
        <locationY>312</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Financial_Data2</targetReference>
        </connector>
        <fields>
            <name>Financial_Data_to_see</name>
            <choiceReferences>Originalfinance</choiceReferences>
            <choiceReferences>AdjustedFinancials</choiceReferences>
            <choiceReferences>FinancingInfo</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select which Financial Data you want to see</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>More_data</name>
        <label>More data</label>
        <locationX>1233</locationX>
        <locationY>711</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_see_any_other_Financial_Information</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to see any other Financial Information?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Original_Financials_0_0</name>
        <label>Original Financials</label>
        <locationX>1358</locationX>
        <locationY>462</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More_data</targetReference>
        </connector>
        <fields>
            <name>Original_Total_Price_Before_Tax_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Original_Total_Price_Before_Tax__c</elementReference>
            </defaultValue>
            <fieldText>Original Total Price Before Tax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Original_Total_Tax_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Original_Total_Tax__c</elementReference>
            </defaultValue>
            <fieldText>Original Total Tax $</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Original_Total_Price_AfterTax_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Original_Total_Price_AfterTax__c</elementReference>
            </defaultValue>
            <fieldText>Original Total Price AfterTax</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Original_Services_Recurring_Fee_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Original_Services_Recurring_Fee__c</elementReference>
            </defaultValue>
            <fieldText>Original Services Recurring Fee</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Original_Monthly_Rate_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Original_Monthly_Rate__c</elementReference>
            </defaultValue>
            <fieldText>Original Monthly Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contract_Term_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Contract_Term__c</elementReference>
            </defaultValue>
            <fieldText>Contract Term</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tax_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>workOrderData.Tax__c</elementReference>
            </defaultValue>
            <fieldText>Tax %</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>627</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_WO_Data</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>workOrderData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>workOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
