flows/WOLI_Update_Duration_on_WOLI_For_Add_On.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>assign field of WOLI Time to install hours to Unit planned duration</description>
        <name>Assign_time_to_install_hr_to_Unit_planned_duration</name>
        <label>Assign time to install hr to Unit planned duration</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>finalValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TimetoInstallHrswithQuantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Unit_planned_duration_field</targetReference>
        </connector>
    </assignments>
    <description>A3SHCRSF3-421:Update WOLI Unit Plan Duration for WOLI = Add-on</description>
    <formulas>
        <name>TimetoInstallHrswithQuantity</name>
        <dataType>Number</dataType>
        <expression>{!TimetoInstallHrs}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>WOLI: Update Duration on WOLI For Add-On {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WOLI: Update Duration on WOLI For Add-On</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Unit planned duration field</description>
        <name>Update_Unit_planned_duration_field</name>
        <label>Update Unit planned duration field</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Planned_Duration_Hrs__c</field>
            <value>
                <elementReference>finalValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_time_to_install_hr_to_Unit_planned_duration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Add-on</stringValue>
            </value>
        </filters>
        <filters>
            <field>Planned_Duration_Hrs__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>finalValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TimetoInstallHrs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>$Record.PricebookEntry.Product2.Time_to_Install_Res_Hours__c</elementReference>
        </value>
    </variables>
</Flow>
