flows/WorkOrder_Sending_Email_Alerts_and_Respective_Actions.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>When a work order is created and service type is new installation  then  send email to Schedule an Appointment</description>
        <name>Book_Your_Appointment_Email</name>
        <label>Book Your Appointment Email</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>WorkOrder.Book_Your_Appointment_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Book_your_appointment_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_exception_record</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>When a work order is created and service type is Service Appointment, send email to Schedule an Appointment</description>
        <name>Book_Your_Appointment_Email_Service</name>
        <label>Book Your Appointment Email Service</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <actionName>WorkOrder.Book_Your_Appointment_Email_Service</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Log_exception_record_0</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>When a work order is created, send email to Schedule an Appointment</description>
        <name>Book_your_appointment</name>
        <label>Book your appointment</label>
        <locationX>776</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Book_your_appointment_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>service type is not new installation</defaultConnectorLabel>
        <rules>
            <name>service_type_is_new_installation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Duration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_records_0</targetReference>
            </connector>
            <label>service type is new installation</label>
        </rules>
    </decisions>
    <decisions>
        <description>When a work order is created, send email to Schedule an Appointment</description>
        <name>Book_your_appointment_0</name>
        <label>Book your appointment</label>
        <locationX>776</locationX>
        <locationY>1391</locationY>
        <defaultConnectorLabel>service type is not service Appointment</defaultConnectorLabel>
        <rules>
            <name>service_type_is_Service_Appointment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Duration</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Isnew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_records_0_0_0</targetReference>
            </connector>
            <label>service type is Service Appointment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_User_ID</name>
        <label>Check for User ID</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnectorLabel>IF the user not exist in get records</defaultConnectorLabel>
        <rules>
            <name>IF_the_user_exist_in_get_records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_records_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Task_0</targetReference>
            </connector>
            <label>IF the user exist in get records</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_User_ID_0_0</name>
        <label>Check for User ID</label>
        <locationX>446</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_the_user_exist_in_get_records_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_records_0_0_0.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Task_0_0</targetReference>
            </connector>
            <label>IF the user exist in get records</label>
        </rules>
    </decisions>
    <description>This flow will contain all Email Alerts and respective actions which moved from Workflow/PB as part of the A3SHCRSF3-198
1. Workflow: Send Book Your Appointment Email
2. Workflow: Send Book Your Appointment Email Service</description>
    <formulas>
        <name>Isnew</name>
        <dataType>Boolean</dataType>
        <expression>Isnew()</expression>
    </formulas>
    <formulas>
        <name>Ruletriggerdateplusoneday</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>WorkOrder: Sending Email Alerts and Respective Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder: Sending Email Alerts and Respective Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Task_0</name>
        <label>Create new Task</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Book_Your_Appointment_Email</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_exception_record0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_records_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sent Book Your Appointment Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_new_Task_0_0</name>
        <label>Create new Task</label>
        <locationX>50</locationX>
        <locationY>1751</locationY>
        <connector>
            <targetReference>Book_Your_Appointment_Email_Service</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_exception_record_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Ruletriggerdateplusoneday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_records_0_0_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Service Book Your Appointment Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_exception_record</name>
        <label>Log exception record</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while Book your appointment email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Work order : Email Alerts and Respective Actions</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_exception_record0</name>
        <label>Log exception record0</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error is Thrown when Creating a task for new Work Order</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Work Order:  Email Alerts and Respective Actions</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_exception_record_0</name>
        <label>Log exception record</label>
        <locationX>314</locationX>
        <locationY>1991</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while Book your appointment email service</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Work order : Email Alerts and Respective Actions</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_exception_record_1</name>
        <label>Log exception record</label>
        <locationX>578</locationX>
        <locationY>1871</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while Booking your appointment </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Work order: Email Alerts and Respective Actions</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_User_records_0</name>
        <label>Get User records</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_User_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>crmsuperhero@aaa.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_records_0_0_0</name>
        <label>Get User records</label>
        <locationX>446</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_User_ID_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>crmsuperhero@aaa.com</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Book_your_appointment</targetReference>
        </connector>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
