flows/WorkOrder_Dealer_Install_Operations.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>This decision will check whether the case is updated to this WO and Assigned Dealer equals Dealer Install</description>
        <name>Check_Case_is_updated_on_WO_or_not</name>
        <label>Check Case is updated on WO or not</label>
        <locationX>650</locationX>
        <locationY>511</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Case_is_updated_on_WO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Dealer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Case is updated on WO</label>
        </rules>
        <rules>
            <name>DealerIsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Dealer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateSAInProgressToNone_0_0</targetReference>
            </connector>
            <label>DealerIsChanged</label>
        </rules>
        <rules>
            <name>Dealer_Is_AssignedAndAcknowledged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Dealer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Acknowledged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DealerNotInventoryHolderCheck</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Dealer Is AssignedAndAcknowledged</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOrders</name>
        <label>CheckOrders</label>
        <locationX>494</locationX>
        <locationY>1033</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrderDetails_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOrderStatusPrepareTheAccount</targetReference>
            </connector>
            <label>OrderNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWO_Opportunity</name>
        <label>CheckWO_Opportunity</label>
        <locationX>701</locationX>
        <locationY>923</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOHasOpportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOrderDetails_0</targetReference>
            </connector>
            <label>WOHasOpportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>DealerNotInventoryHolderCheck</name>
        <label>DealerNotInventoryHolderCheck</label>
        <locationX>1184</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>DealerSACoordinationCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DealerNotInventoryHolder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Dealer__r.Is_Inventory_Holder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_0_0</targetReference>
            </connector>
            <label>DealerNotInventoryHolder</label>
        </rules>
    </decisions>
    <decisions>
        <name>DealerSACoordinationCheck</name>
        <label>DealerSACoordinationCheck</label>
        <locationX>1384</locationX>
        <locationY>760</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DealerNeedsSACoordination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Dealer__r.Required_Service_Appointment_Scheduling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateWOStatusSACoordination</targetReference>
            </connector>
            <label>DealerNeedsSACoordination</label>
        </rules>
        <rules>
            <name>DealerNotNeedSACoordination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_Dealer__r.Required_Service_Appointment_Scheduling__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateWOStatusSACoordination_0</targetReference>
            </connector>
            <label>DealerNotNeedSACoordination</label>
        </rules>
    </decisions>
    <interviewLabel>WorkOrder: Dealer Install Operations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder: Dealer Install Operations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Error_Log</name>
        <label>Error Log</label>
        <locationX>46</locationX>
        <locationY>550</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Case Status to Pending Dealer assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0</name>
        <label>Error Log</label>
        <locationX>44</locationX>
        <locationY>682</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Work Order Status to Pending Dealer assignment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0</name>
        <label>Error Log</label>
        <locationX>19</locationX>
        <locationY>836</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating SA Status to None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0_0</name>
        <label>Error Log</label>
        <locationX>837</locationX>
        <locationY>796</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Case Status to Parts Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0_0_0</name>
        <label>Error Log</label>
        <locationX>982</locationX>
        <locationY>1023</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Work Order Status to Parts Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0_0_0_0</name>
        <label>Error Log</label>
        <locationX>1197</locationX>
        <locationY>864</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Work Order Status to AAA Dealer Services Service Appointment coordination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0_0_0_0_0</name>
        <label>Error Log</label>
        <locationX>1793</locationX>
        <locationY>845</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Work Order Status to Dealer Service Appointment Coordination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0_0_0_0_0_0_0</name>
        <label>Error Log</label>
        <locationX>398</locationX>
        <locationY>788</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating SA Status to None and Assigning Dealer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0_0_0_0_0_0_0_0</name>
        <label>Error Log</label>
        <locationX>635</locationX>
        <locationY>1311</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Order Status to Prepare The Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0_0_0_0_0_0_0_0_0</name>
        <label>Error Log</label>
        <locationX>1248</locationX>
        <locationY>1218</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Case Status to AAA Dealer Services Service Appointment coordination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Error_Log_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Error Log</label>
        <locationX>1846</locationX>
        <locationY>1159</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating Case Status to Dealer Service Appointment Coordination</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Dealer Install Operations</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getOrderDetails_0</name>
        <label>getOrderDetails</label>
        <locationX>695</locationX>
        <locationY>1093</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_0</name>
        <label>Update Case</label>
        <locationX>250</locationX>
        <locationY>557</locationY>
        <connector>
            <targetReference>updateWOStatus</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Dealer assignment</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_0_0</name>
        <label>Update Case</label>
        <locationX>993</locationX>
        <locationY>822</locationY>
        <connector>
            <targetReference>UpdateWOStatus1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Parts Required</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseStatusSACoordination</name>
        <label>UpdateCaseStatusSACoordination</label>
        <locationX>1285</locationX>
        <locationY>1030</locationY>
        <faultConnector>
            <targetReference>Error_Log_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>AAA Dealer Services Service Appointment coordination</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseStatusSACoordination_0</name>
        <label>UpdateCaseStatusSACoordination</label>
        <locationX>1666</locationX>
        <locationY>1100</locationY>
        <faultConnector>
            <targetReference>Error_Log_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dealer Service Appointment Coordination</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderStatusPrepareTheAccount</name>
        <label>UpdateOrderStatusPrepareTheAccount</label>
        <locationX>440</locationX>
        <locationY>1154</locationY>
        <faultConnector>
            <targetReference>Error_Log_0_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOrderDetails_0.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prepare the Account</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSAInProgressToNone_0_0</name>
        <label>UpdateSAInProgressToNone</label>
        <locationX>580</locationX>
        <locationY>729</locationY>
        <faultConnector>
            <targetReference>Error_Log_0_0_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Departed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Archive - Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cannot Complete - Resolved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Call Back</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Dealer_Account__c</field>
            <value>
                <elementReference>$Record.Assigned_Dealer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSAToNone</name>
        <label>UpdateSAToNone</label>
        <locationX>228</locationX>
        <locationY>812</locationY>
        <faultConnector>
            <targetReference>Error_Log_0_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Assigned_Dealer_Account__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateWOStatus</name>
        <label>updateWOStatus</label>
        <locationX>218</locationX>
        <locationY>672</locationY>
        <connector>
            <targetReference>UpdateSAToNone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Dealer assignment</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWOStatus1</name>
        <label>UpdateWOStatus1</label>
        <locationX>851</locationX>
        <locationY>1000</locationY>
        <connector>
            <targetReference>CheckWO_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Parts Required</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWOStatusSACoordination</name>
        <label>UpdateWOStatusSACoordination</label>
        <locationX>1419</locationX>
        <locationY>919</locationY>
        <connector>
            <targetReference>UpdateCaseStatusSACoordination</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>AAA Dealer Services Service Appointment coordination</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateWOStatusSACoordination_0</name>
        <label>UpdateWOStatusSACoordination</label>
        <locationX>1642</locationX>
        <locationY>923</locationY>
        <connector>
            <targetReference>UpdateCaseStatusSACoordination_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Log_0_0_0_0_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Dealer Service Appointment Coordination</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>519</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Case_is_updated_on_WO_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer Install</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
