flows/WorkOder_Email_Functionality_For_Dealers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>When Dealer is assigned, sending email to Customer.</description>
        <name>Send_Email_To_Customer</name>
        <label>Send Email To Customer</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>WOEmailsForCustomer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status_With_Pending_Customer_Ack</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>WOIDS</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Once Dealer is confirmed  ,send note to customer .</description>
        <name>Send_Email_To_Customer_Again</name>
        <label>Send Email To Customer Again</label>
        <locationX>1634</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotifyToCustomer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Contact_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>WO confirmed by Dealer</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Dealer_Contact</name>
        <label>Send Email To Dealer Contact</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>WOEmailsForDealers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Status_with_Pending_Dealer_Ack</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>WOIDS</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Dealer_Is_Assigned</name>
        <label>Check Dealer Is Assigned</label>
        <locationX>974</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sent_To_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Under_warranty__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Acknowledged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Acknowledged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Dealer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Customer</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sent To Customer</label>
        </rules>
        <rules>
            <name>Sent_TO_dealer</name>
            <conditionLogic>((1 AND 2 AND 4) OR 3) AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_Acknowledged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Installation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Dealer_Acknowledged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_Dealer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Dealer_Contact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Sent  TO dealer</label>
        </rules>
        <rules>
            <name>Dealer_Acknowledge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dealer_Acknowledged__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dealer Service Appointment Coordination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Customer_Again</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Dealer Acknowledge</label>
        </rules>
    </decisions>
    <description>This Flow is developed based on JIRA story  Sprint 3 Dealer Email .
A3SHCRSF3-77
A3SHCRSF3-83</description>
    <interviewLabel>WO Dealer Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOder: Email Functionality For Dealers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Update_Case_Status_Error_Log</name>
        <label>Update Case Status Error Log</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating the case status to Pending Customer/Dealer Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Email Functionality For Dealers</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>WO_Status_Update_Error_Log</name>
        <label>WO Status Update Error Log</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Custom_Message__c</field>
            <value>
                <stringValue>Error thrown while updating WO Status field to Pending Customer/Dealer Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>WorkOrder: Email Functionality For Dealers</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Case_Status_to_Pending_Customer_Acknowledge</name>
        <label>Update Case Status to Pending Customer Acknowledge</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <faultConnector>
            <targetReference>Update_Case_Status_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Customer Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Status_to_Pending_Dealer_Acknowledge</name>
        <label>Update Case Status to Pending Dealer Acknowledge</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <faultConnector>
            <targetReference>Update_Case_Status_Error_Log</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Dealer Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_With_Pending_Customer_Ack</name>
        <label>Update Status With Pending Customer Ack</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Case_Status_to_Pending_Customer_Acknowledge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>WO_Status_Update_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Customer Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_with_Pending_Dealer_Ack</name>
        <label>Update Status with Pending Dealer Ack</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Case_Status_to_Pending_Dealer_Acknowledge</targetReference>
        </connector>
        <faultConnector>
            <targetReference>WO_Status_Update_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Dealer Acknowledge</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Dealer_Is_Assigned</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Assigned_Dealer__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_Dealer__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotifyToCustomer</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record. Contact},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your Work order {!$Record.WorkOrderNumber} is accepted by the {!$Record.Assigned_Dealer__r.Name} Dealer. They will reach out to you Soon.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you ,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;AAA Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
