flows/Work_Order_and_Work_Order_Line_Item_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <formulas>
        <name>New_Discount</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Discount_Dollars__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Final_Price</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Final_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Tax</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Equipment_Tax__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>New_Total_Price</name>
        <dataType>Currency</dataType>
        <expression>IF({!$Record.Contract_Term__c} = 1, 0, {!Loop_Opp_Products_into_Work_Order_Line_Items.Final_Price__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Work Order and Work Order Line Item Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order and Work Order Line Item Creation</label>
    <loops>
        <name>Loop_Opp_Products_into_Work_Order_Line_Items</name>
        <label>Loop Opp Products into Work Order Line Items</label>
        <locationX>728</locationX>
        <locationY>579</locationY>
        <collectionReference>Get_Opp_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Work_Order_Line_Item</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Work_Order</name>
        <label>Create Work Order</label>
        <locationX>637</locationX>
        <locationY>343</locationY>
        <connector>
            <targetReference>Get_Opp_Products</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>$Record.Service_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>$Record.Contract.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>$Record.Time_To_install_in_Hr__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Primary_Contact__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>$Record.Service_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>$Record.Service_Territory_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Type__c</field>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State</field>
            <value>
                <elementReference>$Record.Service_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>$Record.Service_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>$Record.Work_Type_ID__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Work_Order_Line_Item</name>
        <label>Create Work Order Line Item</label>
        <locationX>970</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Loop_Opp_Products_into_Work_Order_Line_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Discount__c</field>
            <value>
                <elementReference>New_Discount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Final_Price__c</field>
            <value>
                <elementReference>New_Final_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Sales_Price__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Tax__c</field>
            <value>
                <elementReference>New_Tax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Total_Price__c</field>
            <value>
                <elementReference>New_Total_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Discount__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Discount_Dollars__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Final_Price__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Final_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_List_Price__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Original_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Quantity__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Sales_Price__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Tax__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Equipment_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Total_Price__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.TotalPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Code__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.ProductCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Family__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Product2.Family</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Percentage__c</field>
            <value>
                <elementReference>Loop_Opp_Products_into_Work_Order_Line_Items.Equipment_Tax_Percent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>Create_Work_Order</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Opp_Products</name>
        <label>Get Opp Products</label>
        <locationX>676</locationX>
        <locationY>474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opp_Products_into_Work_Order_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>586</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Create_Work_Order</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsWon</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Professional Install</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Add on Product</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Historical</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
