flows/WorkOrder_DealerInstallCreateOrderWhenWOStatusIsPartsRequiredServiceTypeSA.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignOPFromWOLI</name>
        <label>AssignOPFromWOLI</label>
        <locationX>747</locationX>
        <locationY>1331</locationY>
        <assignmentItems>
            <assignToReference>OrderProductToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopWOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignVariablesToOrderProducts</name>
        <label>assignVariablesToOrderProducts</label>
        <locationX>599</locationX>
        <locationY>1098</locationY>
        <assignmentItems>
            <assignToReference>OrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Unit_Price_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.SBQQ__OrderedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Adjusted_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Adjusted_Final_Price_Before_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Discount_Dollars__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Original_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Final_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Adjusted_Total_Price_After_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Adjusted_Final_Price_Before_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Equipment_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.TAX__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Sedona_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.PricebookEntry.Product2.Sedona_Product_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Adjusted_Total_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Adjusted_Total_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderProduct.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopWOLI.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignOPFromWOLI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignWOLI_count</name>
        <label>assignWOLI_count</label>
        <locationX>677</locationX>
        <locationY>914</locationY>
        <assignmentItems>
            <assignToReference>WOLI_count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllWOLIFromWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>checkIfWOLIExists</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>checkIfWOLIExists</name>
        <label>checkIfWOLIExists</label>
        <locationX>806</locationX>
        <locationY>881</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WOLICount_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOLI_count</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order</targetReference>
            </connector>
            <label>WOLICount&gt;1</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckWOServiceType</name>
        <label>CheckWOServiceType</label>
        <locationX>542</locationX>
        <locationY>374</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isWOServiceTypeSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getWOLI</targetReference>
            </connector>
            <label>isWOServiceTypeSA</label>
        </rules>
    </decisions>
    <interviewLabel>WorkOrder: Dealer Install Create Order when WO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WorkOrder: DealerInstallCreateOrderWhenWOStatusIsPartsRequiredServiceTypeSA</label>
    <loops>
        <name>loopWOLI</name>
        <label>loopWOLI</label>
        <locationX>906</locationX>
        <locationY>1096</locationY>
        <collectionReference>AllWOLIFromWO</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignVariablesToOrderProducts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createOrderProduct</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>1023</locationX>
        <locationY>891</locationY>
        <assignRecordIdToReference>OrderId</assignRecordIdToReference>
        <connector>
            <targetReference>loopWOLI</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Duration__c</field>
            <value>
                <elementReference>$Record.Actual_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Paid__c</field>
            <value>
                <elementReference>$Record.Amount_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>$Record.Contract_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Installation_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monitoring_RMR__c</field>
            <value>
                <elementReference>$Record.Original_Services_Recurring_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Financed_RMR__c</field>
            <value>
                <elementReference>$Record.Equipment_Labor_Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Total_RMR__c</field>
            <value>
                <elementReference>$Record.Adjusted_Services_Recurring_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Financed_RMR__c</field>
            <value>
                <elementReference>$Record.Original_Equipment_Labor_Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Total_RMR__c</field>
            <value>
                <elementReference>$Record.Original_Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <stringValue>Install Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Percent__c</field>
            <value>
                <elementReference>$Record.Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordCreates>
        <name>createOrderProduct</name>
        <label>createOrderProduct</label>
        <locationX>1482</locationX>
        <locationY>1052</locationY>
        <connector>
            <targetReference>UpdateOrderWithPrepareTheAccount</targetReference>
        </connector>
        <inputReference>OrderProductToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getWOLI</name>
        <label>getWOLI</label>
        <locationX>549</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignWOLI_count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>AllWOLIFromWO</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>PricebookEntryId</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>Installed_Quantity__c</queriedFields>
        <queriedFields>Quantity</queriedFields>
        <queriedFields>Adjusted_Final_Price_Before_Tax__c</queriedFields>
        <queriedFields>Adjusted_Quantity__c</queriedFields>
        <queriedFields>Original_Discount__c</queriedFields>
        <queriedFields>TAX__c</queriedFields>
        <queriedFields>Adjusted_Total_Price_After_Tax__c</queriedFields>
        <queriedFields>Product_Type__c</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>Unit_Price_Discount__c</queriedFields>
        <queriedFields>Adjusted_Total_Discount__c</queriedFields>
        <queriedFields>Total_Amount__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOrderWithPrepareTheAccount</name>
        <label>UpdateOrderWithPrepareTheAccount</label>
        <locationX>1326</locationX>
        <locationY>1249</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Prepare the Account</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>427</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CheckWOServiceType</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parts Required</stringValue>
            </value>
        </filters>
        <filters>
            <field>Installation_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dealer Install</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AllWOLIFromWO</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProductToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>productsConsumed</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ProductConsumed</objectType>
    </variables>
    <variables>
        <name>SACount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SAIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SARecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>SARecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WOLI_count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WOLI_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
