flows/Work_Order_Completed.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_New_Order_Product_To_Collection_0_0_0_0_0_0</name>
        <label>Add New Order Product To Collection</label>
        <locationX>974</locationX>
        <locationY>3215</locationY>
        <assignmentItems>
            <assignToReference>NewOrderProductsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop2_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote_Id_0_0_0</name>
        <label>Assign Quote Id</label>
        <locationX>798</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>QuotePrimaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Primary_Quote.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Order_flag</name>
        <label>Create New Order flag</label>
        <locationX>380</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>CreateNewOrderFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Order_TRUE_0_0_0</name>
        <label>Create New Order TRUE</label>
        <locationX>468</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>CreateNewOrderFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_New_Order_TRUE_0_0_0_0</name>
        <label>Create New Order TRUE</label>
        <locationX>996</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>CreateNewOrderFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Order_Product_0_0_0_0_0_0</name>
        <label>New Order Product</label>
        <locationX>974</locationX>
        <locationY>3095</locationY>
        <assignmentItems>
            <assignToReference>NewOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Order_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Unit_Price_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.SBQQ__OrderedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.SBQQ__QuotedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Adjusted_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Final_Price_Before_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Discount_Dollars__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Original_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Final_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Total_Price_After_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Product_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Product_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Final_Price_Before_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Equipment_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Total_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Sedona_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.PricebookEntry.Product2.Sedona_Product_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Equipment_Tax__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Total_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Adjusted_Total_Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Adjusted_Total_Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.Total_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop2_WorkOrdeLineItems.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_New_Order_Product_To_Collection_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Order_Product_Collection_0</name>
        <label>New Order Product Collection</label>
        <locationX>710</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>NewOrderProductsCollection</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop2_WorkOrdeLineItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Quote_Id_0</name>
        <label>Set Quote Id</label>
        <locationX>798</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>QuotePrimaryId</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Quote_Id_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Create_New_Order_0</name>
        <label>If Create New Order</label>
        <locationX>380</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>If_Profile_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New Order</defaultConnectorLabel>
        <rules>
            <name>Update_Order_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateNewOrderFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Quote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Order_Exist_Activate_0_0</targetReference>
            </connector>
            <label>Update Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Old_Order_Is_NOT_Activated_0</name>
        <label>If Old Order Is NOT Activated</label>
        <locationX>710</locationX>
        <locationY>3767</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delete_OLD_Order2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Order_0</targetReference>
            </connector>
            <label>Delete OLD Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Exist_0_0</name>
        <label>If Order Exist</label>
        <locationX>600</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Create_Order_Product_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Exist</defaultConnectorLabel>
        <rules>
            <name>Order_NOT_Exist_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Remove_Line_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Order_TRUE_0_0_0</targetReference>
            </connector>
            <label>Order NOT Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Exist_Activate_0_0</name>
        <label>If Order Exist Activate</label>
        <locationX>50</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Activate_Order_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activate Order</defaultConnectorLabel>
        <rules>
            <name>No_Activate_Order_0_0</name>
            <conditionLogic>( 1 AND 2 )OR 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Activate Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Order_Is_Activated_0_0</name>
        <label>If Order Is Activated</label>
        <locationX>1744</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order Can NOT Delete</defaultConnectorLabel>
        <rules>
            <name>Order_Can_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Order</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Order_Product_0_0_0</targetReference>
            </connector>
            <label>Can Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Product_Type_0_0</name>
        <label>If Product Type</label>
        <locationX>1018</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Activity</defaultConnectorLabel>
        <rules>
            <name>Addon_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add-on</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Order_Exist_0_0</targetReference>
            </connector>
            <label>Add-on</label>
        </rules>
        <rules>
            <name>NewProduct_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Product_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New Product</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Quantity_Does_Not_Equals_0_0</targetReference>
            </connector>
            <label>New Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Profile_0</name>
        <label>If Profile</label>
        <locationX>710</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Set_Quote_Id_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dealer_Technician_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e3C000000GSes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Order_0</targetReference>
            </connector>
            <label>Dealer Technician</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Quantity_Does_Not_Equals_0_0</name>
        <label>If Quantity Does Not Equals</label>
        <locationX>1128</locationX>
        <locationY>1415</locationY>
        <defaultConnector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Equal</defaultConnectorLabel>
        <rules>
            <name>Not_Equal_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Original_Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Quantity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Order_TRUE_0_0_0_0</targetReference>
            </connector>
            <label>Not Equal</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status</name>
        <label>If Status</label>
        <locationX>1381</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>If_Order_Is_Activated_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>WOLI Removed</defaultConnectorLabel>
        <rules>
            <name>WOLI_NOT_Removed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop1_WorkOrdeLineItems.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Product_Type_0_0</targetReference>
            </connector>
            <label>WOLI NOT_Removed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Status_0</name>
        <label>If Status</label>
        <locationX>886</locationX>
        <locationY>2975</locationY>
        <defaultConnector>
            <targetReference>New_Order_Product_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status NOT Removed</defaultConnectorLabel>
        <rules>
            <name>Status_Removed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop2_WorkOrdeLineItems.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Removed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop2_WorkOrdeLineItems.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop2_WorkOrdeLineItems</targetReference>
            </connector>
            <label>Status Removed</label>
        </rules>
    </decisions>
    <description>Ex WOLI Completed # TEchnician don&apos;t have access to Quote</description>
    <interviewLabel>Work Order Completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Order Completed</label>
    <loops>
        <name>Loop1_WorkOrdeLineItems</name>
        <label>Loop WorkOrdeLineItems</label>
        <locationX>380</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Create_New_Order_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop2_WorkOrdeLineItems</name>
        <label>Loop WorkOrdeLineItems</label>
        <locationX>710</locationX>
        <locationY>2855</locationY>
        <collectionReference>Get_WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_Status_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Order_Products_2_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Order_Products_2_0</name>
        <label>Create New Order Products</label>
        <locationX>710</locationX>
        <locationY>3527</locationY>
        <connector>
            <targetReference>Activate_New_Order_0</targetReference>
        </connector>
        <inputReference>NewOrderProductsCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_0</name>
        <label>Create Order</label>
        <locationX>710</locationX>
        <locationY>2615</locationY>
        <connector>
            <targetReference>New_Order_Product_Collection_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Actual_Duration__c</field>
            <value>
                <elementReference>$Record.Actual_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Paid__c</field>
            <value>
                <elementReference>$Record.Amount_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>$Record.Contract_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Installation_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Net_Sales_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Dealer_Net_Sales_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.Opportunity__r.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Discount__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Equipment_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Pro__c</field>
            <value>
                <elementReference>getAssignedResource.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monitoring_RMR__c</field>
            <value>
                <elementReference>$Record.Adjusted_Services_Recurring_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Financed_RMR__c</field>
            <value>
                <elementReference>$Record.Equipment_Labor_Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Total_RMR__c</field>
            <value>
                <elementReference>$Record.New_Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Financed_RMR__c</field>
            <value>
                <elementReference>$Record.Original_Equipment_Labor_Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Total_RMR__c</field>
            <value>
                <elementReference>$Record.Original_Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Quote__c</field>
            <value>
                <elementReference>QuotePrimaryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Job_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Job_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Sales_Rep_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Sales_Rep_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Task_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Percent__c</field>
            <value>
                <elementReference>$Record.Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Product_0_0</name>
        <label>Create Order Product</label>
        <locationX>732</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>Adjusted_Price__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Final_Price_Before_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adjusted_Total_Discount__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Total_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Dollars__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Original_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Tax__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Total_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Price__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Adjusted_Total_Price_After_Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.PricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Product_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__OrderedQuantity__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Quantity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__QuotedQuantity__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Original_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Product_ID__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.PricebookEntry.Product2.Sedona_Product_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Total_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Unit_Price_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Order_0</name>
        <label>Delete Old Order</label>
        <locationX>578</locationX>
        <locationY>3887</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </filters>
        <object>Order</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Order_Product_0_0_0</name>
        <label>Delete Order Product</label>
        <locationX>1612</locationX>
        <locationY>1415</locationY>
        <connector>
            <targetReference>Loop1_WorkOrdeLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop1_WorkOrdeLineItems.Product2Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCompletedSA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Primary_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Quote</name>
        <label>Get Primary Quote</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrderLineItems</name>
        <label>Get WorkOrderLineItems</label>
        <locationX>380</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Order_flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Service</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Removed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAssignedResource</name>
        <label>getAssignedResource</label>
        <locationX>380</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrderLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceAppointmentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCompletedSA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignedResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCompletedSA</name>
        <label>getCompletedSA</label>
        <locationX>380</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAssignedResource</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Activate_New_Order_0</name>
        <label>Activate New Order</label>
        <locationX>710</locationX>
        <locationY>3647</locationY>
        <connector>
            <targetReference>If_Old_Order_Is_NOT_Activated_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Order_0</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Activate_Order_0_0</name>
        <label>Activate Order</label>
        <locationX>182</locationX>
        <locationY>2279</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Order.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Actual_Duration__c</field>
            <value>
                <elementReference>$Record.Actual_Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_Paid__c</field>
            <value>
                <elementReference>$Record.Amount_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.ShippingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.ShippingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.ShippingState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Opportunity__r.Account.ShippingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Term__c</field>
            <value>
                <elementReference>$Record.Contract_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Installation_Completed__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Work_Order_Status_Updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dealer_Net_Sales_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Dealer_Net_Sales_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_Discount__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Equipment_Discount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Pro__c</field>
            <value>
                <elementReference>getAssignedResource.ServiceResourceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monitoring_RMR__c</field>
            <value>
                <elementReference>$Record.Original_Services_Recurring_Fee__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Financed_RMR__c</field>
            <value>
                <elementReference>$Record.Equipment_Labor_Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Total_RMR__c</field>
            <value>
                <elementReference>$Record.New_Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Total_RMR__c</field>
            <value>
                <elementReference>$Record.Original_Equipment_Labor_Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Job_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Job_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Sales_Rep_ID__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Sales_Rep_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Sales_Rep__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sedona_Task_Code__c</field>
            <value>
                <elementReference>$Record.Opportunity__r.Sedona_Task_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Percent__c</field>
            <value>
                <elementReference>$Record.Tax__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Service_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Status__c</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Service_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateNewOrderFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CreateNewQuoteFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>NewOrderProductsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>NewQuoteFlag</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>QuotePrimaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
