flows/Work_Order_Service_Appointment_Work_Type.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>myWaitAssignment_myWait_myRule_1</name>
        <label>myWaitAssignment_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>cancelWaits</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>myWait_myRule_1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</name>
        <label>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myWait_myRule_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWait_myRule_1</targetReference>
            </connector>
            <label>Service Appointment Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>myPreWaitDecision_myWait_myRule_1</name>
        <label>myPreWaitDecision_myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myWaitAssignment_myWait_myRule_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myPreWaitRule_myWait_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Service Appointment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>myPreWaitRule_myWait_myRule_1</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([WorkOrder].Duration &lt;= 1 , &quot;08q4v000000wk2zAAA&quot;, IF([WorkOrder].Duration &gt; 1 &amp;&amp; [WorkOrder].Duration &lt;= 2 , &quot;08q4v000000wk32AAA&quot;, IF([WorkOrder].Duration &gt; 2 &amp;&amp; [WorkOrder].Duration &lt;= 3 , &quot;08q4v000000wk35AAA&quot;, IF([WorkOrder].Duration &gt; 3 &amp;&amp; [WorkOrder].Duration &lt;= 4 , &quot;08q4v000000wk39AAA&quot;, IF([WorkOrder].Duration &gt; 4 &amp;&amp; [WorkOrder].Duration &lt;= 5 , &quot;08q4v000000wk3DAAQ&quot;, IF([WorkOrder].Duration &gt; 5 &amp;&amp; [WorkOrder].Duration &lt;= 6 , &quot;08q4v000000wk3GAAQ&quot;, IF([WorkOrder].Duration &gt; 6 &amp;&amp; [WorkOrder].Duration &lt;= 7 , &quot;08q4v000000wk3HAAQ&quot;, IF([WorkOrder].Duration &gt; 7 , &quot;08q4v000000wk3KAAQ&quot;, &quot;08q4v000000wk2zAAA&quot;))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myWaitEvent_myWait_myRule_1_event_0_SA3_4543795245</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Duration} &lt;= 1 , &quot;08q4v000000wk2zAAA&quot;, IF({!myVariable_current.Duration} &gt; 1 &amp;&amp; {!myVariable_current.Duration} &lt;= 2 , &quot;08q4v000000wk32AAA&quot;, IF({!myVariable_current.Duration} &gt; 2 &amp;&amp; {!myVariable_current.Duration} &lt;= 3 , &quot;08q4v000000wk35AAA&quot;, IF({!myVariable_current.Duration} &gt; 3 &amp;&amp; {!myVariable_current.Duration} &lt;= 4 , &quot;08q4v000000wk39AAA&quot;, IF({!myVariable_current.Duration} &gt; 4 &amp;&amp; {!myVariable_current.Duration} &lt;= 5 , &quot;08q4v000000wk3DAAQ&quot;, IF({!myVariable_current.Duration} &gt; 5 &amp;&amp; {!myVariable_current.Duration} &lt;= 6 , &quot;08q4v000000wk3GAAQ&quot;, IF({!myVariable_current.Duration} &gt; 6 &amp;&amp; {!myVariable_current.Duration} &lt;= 7 , &quot;08q4v000000wk3HAAQ&quot;, IF({!myVariable_current.Duration} &gt; 7 , &quot;08q4v000000wk3KAAQ&quot;, &quot;08q4v000000wk2zAAA&quot;))))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([WorkOrder].Duration &lt;= 1, &quot;08q4v000000wk31AAA&quot;, IF([WorkOrder].Duration &gt; 1 &amp;&amp; [WorkOrder].Duration &lt;= 2 , &quot;08q4v000000wk33AAA&quot;, IF([WorkOrder].Duration &gt; 2 &amp;&amp; [WorkOrder].Duration &lt;= 3 , &quot;08q4v000000wk37AAA&quot;, IF([WorkOrder].Duration &gt; 3 &amp;&amp; [WorkOrder].Duration &lt;= 4 , &quot;08q4v000000wk3AAAQ&quot;, IF([WorkOrder].Duration &gt; 4 &amp;&amp; [WorkOrder].Duration &lt;= 5 , &quot;08q4v000000wk3BAAQ&quot;, IF([WorkOrder].Duration &gt; 5 &amp;&amp; [WorkOrder].Duration &lt;= 6 , &quot;08q4v000000wk3FAAQ&quot;, IF([WorkOrder].Duration &gt; 6 &amp;&amp; [WorkOrder].Duration &lt;= 7 , &quot;08q4v000000wk3JAAQ&quot;, IF([WorkOrder].Duration &gt; 7 , &quot;08q4v000000wk3LAAQ&quot;, &quot;08q4v000000wk31AAA&quot;))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myWaitEvent_myWait_myRule_1_event_0_SA2_4610802182</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Duration} &lt;= 1, &quot;08q4v000000wk31AAA&quot;, IF({!myVariable_current.Duration} &gt; 1 &amp;&amp; {!myVariable_current.Duration} &lt;= 2 , &quot;08q4v000000wk33AAA&quot;, IF({!myVariable_current.Duration} &gt; 2 &amp;&amp; {!myVariable_current.Duration} &lt;= 3 , &quot;08q4v000000wk37AAA&quot;, IF({!myVariable_current.Duration} &gt; 3 &amp;&amp; {!myVariable_current.Duration} &lt;= 4 , &quot;08q4v000000wk3AAAQ&quot;, IF({!myVariable_current.Duration} &gt; 4 &amp;&amp; {!myVariable_current.Duration} &lt;= 5 , &quot;08q4v000000wk3BAAQ&quot;, IF({!myVariable_current.Duration} &gt; 5 &amp;&amp; {!myVariable_current.Duration} &lt;= 6 , &quot;08q4v000000wk3FAAQ&quot;, IF({!myVariable_current.Duration} &gt; 6 &amp;&amp; {!myVariable_current.Duration} &lt;= 7 , &quot;08q4v000000wk3JAAQ&quot;, IF({!myVariable_current.Duration} &gt; 7 , &quot;08q4v000000wk3LAAQ&quot;, &quot;08q4v000000wk31AAA&quot;))))))))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([WorkOrder].Duration &lt;= 1 , &quot;08q4v000000wk30AAA&quot;, IF([WorkOrder].Duration &gt; 1 &amp;&amp; [WorkOrder].Duration &lt;= 2 , &quot;08q4v000000wk34AAA&quot;, IF([WorkOrder].Duration &gt; 2 &amp;&amp; [WorkOrder].Duration &lt;= 3 , &quot;08q4v000000wk36AAA&quot;, IF([WorkOrder].Duration &gt; 3 &amp;&amp; [WorkOrder].Duration &lt;= 4 , &quot;08q4v000000wk38AAA&quot;, IF([WorkOrder].Duration &gt; 4 &amp;&amp; [WorkOrder].Duration &lt;= 5 , &quot;08q4v000000wk3CAAQ&quot;, IF([WorkOrder].Duration &gt; 5 &amp;&amp; [WorkOrder].Duration &lt;= 6 , &quot;08q4v000000wk3EAAQ&quot;, IF([WorkOrder].Duration &gt; 6 &amp;&amp; [WorkOrder].Duration &lt;= 7 , &quot;08q4v000000wk3IAAQ&quot;, IF([WorkOrder].Duration &gt; 7 , &quot;08q4v000000wk3MAAQ&quot;, &quot;08q4v000000wk30AAA&quot;))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myWaitEvent_myWait_myRule_1_event_0_SA1_9459546520</name>
        <dataType>String</dataType>
        <expression>IF({!myVariable_current.Duration} &lt;= 1 , &quot;08q4v000000wk30AAA&quot;, IF({!myVariable_current.Duration} &gt; 1 &amp;&amp; {!myVariable_current.Duration} &lt;= 2 , &quot;08q4v000000wk34AAA&quot;, IF({!myVariable_current.Duration} &gt; 2 &amp;&amp; {!myVariable_current.Duration} &lt;= 3 , &quot;08q4v000000wk36AAA&quot;, IF({!myVariable_current.Duration} &gt; 3 &amp;&amp; {!myVariable_current.Duration} &lt;= 4 , &quot;08q4v000000wk38AAA&quot;, IF({!myVariable_current.Duration} &gt; 4 &amp;&amp; {!myVariable_current.Duration} &lt;= 5 , &quot;08q4v000000wk3CAAQ&quot;, IF({!myVariable_current.Duration} &gt; 5 &amp;&amp; {!myVariable_current.Duration} &lt;= 6 , &quot;08q4v000000wk3EAAQ&quot;, IF({!myVariable_current.Duration} &gt; 6 &amp;&amp; {!myVariable_current.Duration} &lt;= 7 , &quot;08q4v000000wk3IAAQ&quot;, IF({!myVariable_current.Duration} &gt; 7 , &quot;08q4v000000wk3MAAQ&quot;, &quot;08q4v000000wk30AAA&quot;))))))))</expression>
    </formulas>
    <interviewLabel>Work_Order_Service_Appointment_Work_Type-4_InterviewLabel</interviewLabel>
    <label>Work Order Service Appointment Work Type</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>WorkOrder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA1</name>
        <label>L1</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Skill Level Required for Service Appt</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L1</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Work Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>WorkType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>WorkTypeId</field>
            <value>
                <elementReference>formula_4_myWaitEvent_myWait_myRule_1_event_0_SA1_9459546520</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA2</name>
        <label>L2</label>
        <locationX>100</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Skill Level Required for Service Appt</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L2</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Work Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>WorkType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>WorkTypeId</field>
            <value>
                <elementReference>formula_3_myWaitEvent_myWait_myRule_1_event_0_SA2_4610802182</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[WorkOrder]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myWaitEvent_myWait_myRule_1_event_0_SA3</name>
        <label>L3</label>
        <locationX>100</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>myWaitEvent_myWait_myRule_1_event_0_postWaitExecutionAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Skill Level Required for Service Appt</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>Skill_Level_Required_for_Service_Appt__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>L3</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Work Type ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>WorkType</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>WorkTypeId</field>
            <value>
                <elementReference>formula_2_myWaitEvent_myWait_myRule_1_event_0_SA3_4543795245</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>myPreWaitDecision_myWait_myRule_1</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>cancelWaits</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <waits>
        <name>myWait_myRule_1</name>
        <label>myWait_myRule_1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>defaultLabel</defaultConnectorLabel>
        <waitEvents>
            <processMetadataValues>
                <name>inputParameterType</name>
                <value>
                    <stringValue>now</stringValue>
                </value>
            </processMetadataValues>
            <name>myWaitEvent_myWait_myRule_1_event_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>myWaitEvent_myWait_myRule_1_event_0_postActionExecutionVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myWaitEvent_myWait_myRule_1_event_0_SA1</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <label>myWaitEvent_myWait_myRule_1_event_0</label>
        </waitEvents>
    </waits>
</Flow>
